<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en"
	class="light-style layout-navbar-fixed layout-menu-fixed" dir="ltr"
	data-theme="theme-default" th:data-assets-path="@{/assets/}"
	data-template="vertical-menu-template">
<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

<title>Asset List</title>

<meta name="description" content="" />

<!-- Favicon -->
<link rel="icon" type="image/x-icon"
	th:href="@{/assets/img/favicon/favicon.ico}" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
	rel="stylesheet" type="text/css" />

<!-- Icons -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/fonts/boxicons.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/fonts/fontawesome.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/fonts/flag-icons.css}" />

<!-- Core CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/css/rtl/core.css}"
	class="template-customizer-core-css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/css/rtl/theme-default.css}"
	class="template-customizer-theme-css" />
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/demo.css}" />

<!-- Vendors CSS -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/typeahead-js/typeahead.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/datatables-select-bs5/select.bootstrap5.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/datatables-fixedcolumns-bs5/fixedcolumns.bootstrap5.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/datatables-fixedheader-bs5/fixedheader.bootstrap5.css}">

<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/typeahead-js/typeahead.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/bs-stepper/bs-stepper.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/select2/select2.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/tagify/tagify.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/sweetalert2/sweetalert2.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/flatpickr/flatpickr.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css}" />
<!-- Page CSS -->

<!-- Helpers -->
<script th:src="@{/assets/vendor/js/helpers.js}"></script>

<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
<script th:src="@{/assets/vendor/js/template-customizer.js}"></script>
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script th:src="@{/assets/js/config.js}"></script>

<style>
.badge-notifications {
	top: 0.5rem;
	padding: 0.2rem 0.4rem;
}

.light-style .bs-stepper {
	box-shadow: none !important;
}
</style>
</head>

<body>
	<!-- Layout wrapper -->
	<div class="layout-wrapper layout-content-navbar">
		<div class="layout-container">
			<!-- Menu -->
			<div th:insert="menu"></div>
			<!-- / Menu -->

			<!-- Layout container -->
			<div class="layout-page">
				<!-- Navbar -->

				<div th:insert="header"></div>

				<!-- / Navbar -->

				<!-- Content wrapper -->
				<div class="content-wrapper">
					<!-- Content -->
					<div class="container-xxl flex-grow-1 container-p-y">
						<h4 class="py-3 breadcrumb-wrapper mb-4">
							<span class="text-muted fw-light">Administration/Asset/ </span>Asset
							List
						</h4>


						<div class="card">

							<div class="card-header">

								<div class="row g-3">

									
									<div class="col-lg-3 col-sm-12">
									<label class="form-label">Status:</label>
									<select class="form-select" id="Status" data-column="">
									<option value="">-</option>
									<option value="In Stock">In Stock</option>
									<option value="Checked Out">Checked Out</option>
									<option value="In office Use">In office Use</option>
									 </select>
									</div>
									<div class="col-lg-3 col-sm-12">
									<label class="form-label">Branch:</label>
									<select class="form-select" id="Branch" data-column="3">
									 <option value="">-</option>
									 
									 </select>
									</div>
									
									<div class="col-lg-3 col-sm-12">
									<label class="form-label">Custodian:</label>
									<select class="form-select" id="Custodian"  data-column="5">
									<option value="">-</option>
									 
									 </select>
									</div>
									
									<div class="col-lg-2 col-sm-12">
										<button type="button" class="btn btn-warning mt-4"
											data-bs-toggle="modal" data-bs-target="#addasset">
											<span class="tf-icons bx bx-plus me-1"></span>New
										</button>
									</div>
									
									
									<div class="col-lg-1 col-sm-12">
										<button type="button" class="btn text-nowrap d-inline-block" 
											data-bs-toggle="modal"
											data-bs-target="#exampleModalScrollable">
											<span class="tf-icons bx bx-md bx-cart"></span> <span
												class="badge bg-danger rounded-pill badge-notifications"
												id="cartcount" style="padding: 0.2rem 0.4rem;">0</span>
										</button>

									</div>

								</div>
							</div>
							<div class="card-datatable table-responsive pt-0">
								<table class="datatables-basic table table-bordered">
									<thead>
										<tr>

											<th>#</th>
											<th>Asset Type</th>
											<th>Asset Name</th>
											<th>Branch</th>
											<th>Status</th>
											<th>Custodian</th>
											<th>Last Update</th>

										</tr>
									</thead>
								</table>
							</div>
						</div>




						<!--scrolling content Modal -->
						<div class="modal fade" id="exampleModalScrollable" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalScrollableTitle"
							aria-hidden="true">
							<div class="modal-dialog modal-dialog-scrollable modal-xl"
								role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalScrollableTitle">Selected
											Items</h5>


										<button type="button" class="btn-close"
											data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<table class="table table-hover" id="cart">
											<thead>
												<tr>
													<th>#</th>
													<th>Asset Type</th>
													<th>Asset Name</th>
													<th>Branch</th>
													<th>Status</th>
													<th>Custodian</th>
													<th>Last Update</th>
												</tr>
											</thead>
											<tbody>

											</tbody>
										</table>
									</div>

									<div class="modal-footer">
										<div style="float: left;">
											<button type="button" class="btn btn-primary mr-1 mb-1"
												id="checkout">
												<i class="bx bx-upload  isize"></i> Check Out
											</button>
											<button type="button" class="btn btn-warning mr-1 mb-1"
												id="checkin">
												<i class="bx bx-download isize"></i> Check In
											</button>
											 
										</div>


										<span class="carttotallabelcount"><b>Total Item
												Count - <span id="totalcartval"> Nos 
										</b></span> </span>






									</div>
								</div>
							</div>
						</div>




						<!--add assets content Modal -->
						<div class="modal fade" id="addasset" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
							<div class="modal-dialog  modal-xl" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Asset</h5>


										<button type="button" class="btn-close"
											data-bs-dismiss="modal" aria-label="Close"></button>
									</div>


									<!-- Property Listing Wizard -->
									<div id="wizard-asset-listing" class="bs-stepper vertical mt-2">
										<div class="bs-stepper-header">

											<div class="step" data-target="#assetmaster-details">
												<button type="button" class="step-trigger">
													<span class="bs-stepper-circle"> <i
														class='bx bx-user'></i>
													</span> <span class="bs-stepper-label"> <span
														class="bs-stepper-title">Asset Master</span> <span
														class="bs-stepper-subtitle">GENERAL</span>
													</span>
												</button>
											</div>
											<div class="line"></div>

											<div class="step" data-target="#assetpurchase-details">
												<button type="button" class="step-trigger">
													<span class="bs-stepper-circle"> <i
														class='bx bx-home'></i>
													</span> <span class="bs-stepper-label"> <span
														class="bs-stepper-title">Asset Master</span> <span
														class="bs-stepper-subtitle">PURCHASING</span>
													</span>
												</button>
											</div>



										</div>
										<div class="bs-stepper-content">
											<form id="wizard-asset-listing-form" onSubmit="return false">

												<!-- Personal Details -->
												<div id="assetmaster-details" class="content">
													<div class="row g-3">
														<div class="col-sm-6">
															<label class="form-label">ASSET NAME</label> <input
																type="text" id="ASSET" name="ASSET" class="form-control"
																placeholder="ASSET NAME" />
														</div>
														<div class="col-sm-6">
															<label class="form-label">TYPE <label
																class="emptitle additem" name="addmodalassettype"><i
																	class="bx bxs-plus-circle ownstyle1"></i></label>
															</label> <select class="form-select modalassettype"
																id="AssetType" name="AssetType" required>
																<option value="">-</option>

																<th:block th:each="str :${ASSETTYPE}">
																	<option th:value="${str}" th:text="${str}"></option>
																</th:block>
															</select>
														</div>
														<div class="col-sm-6">
															<label class="form-label" for="plUserName">BRAND</label>
															<input type="text" id="BRAND" name="BRAND"
																class="form-control" placeholder="BRAND" />
														</div>

														<div class="col-sm-6">
															<label class="form-label"> MANUFACTURER</label> <input
																type="text" id="MANUFACTURER" name="MANUFACTURER"
																class="form-control" placeholder="MANUFACTURER" />
														</div>

														<div class="col-sm-6">
															<label class="form-label">MODEL</label> <input
																type="text" id="MODEL" name="MODEL" class="form-control"
																placeholder="MODEL" />
														</div>


														<div class="col-sm-6">
															<label class="form-label">SERIAL NUMBER</label> <input
																type="text" id="SERIAL_NUMBER" name="SERIAL_NUMBER"
																class="form-control" placeholder="SERIAL NUMBER" />
														</div>

														<div class="col-sm-6">
															<label class="form-label">CONDITION</label> <select
																class="form-select" id="CONDITION" name="CONDITION">
																<option value="">-</option>
																<option value="Fair">Fair</option>
																<option value="Good">Good</option>
																<option value="New">New</option>
																<option value="Poor">Poor</option>
															</select>
														</div>


														<div class="col-sm-6">
															<label class="form-label" for="plUserName">NOTES</label>
															<input type="text" id="NOTES" name="NOTES"
																class="form-control" placeholder="NOTES" />
														</div>




														<div class="col-12 d-flex justify-content-between">
															<button class="btn btn-label-secondary btn-prev" disabled>
																<i class="bx bx-chevron-left bx-sm ms-sm-n2"></i> <span
																	class="d-sm-inline-block d-none">Previous</span>
															</button>
															<button class="btn btn-primary btn-next" type="button">
																<span class="d-sm-inline-block d-none me-sm-1">Next</span>
																<i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
															</button>
														</div>
													</div>
												</div>

												<!-- Property Details -->
												<div id="assetpurchase-details" class="content">
													<div class="row g-3">
														<div class="col-sm-6">
															<label class="form-label">BRANCH</label> <select
																class="form-select" name="Branch" id="Branch" required>
																<option value="">-</option>
																<th:block th:each="obj : ${branchls}">
																	<option th:value="${obj.id}"
																		th:text="${obj.BRANCH_NAME}"></option>
																</th:block>
															</select>
														</div>

														<div class="col-sm-6">
															<label class="form-label">VENDOR</label> <select
																class="form-select" name="Vendor" id="Vendor" required>
																<option value="">-</option>
																<th:block th:each="obj :${vendorls}">
																	<option th:value="${obj.vendormasterid}"
																		th:text="${obj.Name +' - '+ obj.AssetType}"></option>
																</th:block>
															</select>
														</div>

														<div class="col-sm-6">
															<label class="form-label">PURCHASE PRICE</label> <input
																type="text" class="form-control" maxlength="10"
																placeholder="PurchasePrice" id="PurchasePrice"
																name="PurchasePrice">
														</div>

														<div class="col-sm-6">
															<label class="form-label">PURCHASE TYPE</label> <select
																class="form-select" name="PurchasedType"
																id="PurchasedType">
																<option value="New">New</option>
																<option value="Refurbished">Refurbished</option>
															</select>
														</div>

														<div class="col-sm-6">
															<label class="form-label">PURCHASED</label> <input
																type="text" name="PURCHASED" id="PURCHASED"
																class="form-control flatpickr" placeholder="Apr 3 2022" />
														</div>

														<div class="col-sm-6">
															<label class="form-label">PURCHASE ORDER NO</label> <input
																type="text" class="form-control"
																placeholder="PURCHASE ORDER NO" id="PURCHASE_ORDER"
																name="PURCHASE_ORDER">
														</div>

														<div class="col-sm-6">
															<label class="form-label">WARRANTY END</label> <input
																type="text" name="WARRANTYEND" id="WARRANTYEND"
																class="form-control flatpickr" placeholder="Apr 3 2022" />
														</div>


														<div class="col-12 d-flex justify-content-between">
															<button
																class="btn btn-primary btn-prev wizard-asset-listing-form_prev"
																type="button">
																<i class="bx bx-chevron-left bx-sm ms-sm-n2"></i> <span
																	class="d-sm-inline-block d-none">Previous</span>
															</button>
															<button type="reset"
																class="wizard-asset-listing-form_reset"
																style="visibility: hidden;">Reset</button>
															<button
																class="btn btn-success btn-submit wizard-asset-listing-form_submit">Submit</button>
														</div>
													</div>
												</div>
										</div>




										</form>
									</div>
								</div>
								<!--/ Property Listing Wizard -->
							</div>



						</div>

						<!--scrolling content Modal -->
						<div class="modal fade" id="ItemStatusScrollable" tabindex="-1"
							role="dialog" aria-labelledby="ItemStatusScrollableTitle"
							aria-hidden="true">
							<div class="modal-dialog modal-dialog-scrollable" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title white" id="ItemStatusScrollableTitle"></h5>
										<button type="button" class="btn-close"
											data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<div class="col-md-12">
											<div class="form-group">
												<label for="addmodel" id="additemalltxt"></label>
												<div class="position-relative">
													<fieldset class="form-group">
														<input type="text" id="additemall" name="addmodel"
															class="form-control capitalize">
													</fieldset>
												</div>
											</div>
										</div>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-light-secondary"
											data-bs-dismiss="modal">
											<i class="bx bx-x d-block d-sm-none"></i> <span
												class="d-none d-sm-block">Close</span>
										</button>
										<button type="button" class="btn btn-primary ml-1"
											id="additemallsavebtn">
											<i class="bx bx-check d-block d-sm-none"></i> <span
												class="d-none d-sm-block">ADD</span>
										</button>
									</div>
								</div>
							</div>
						</div>
						<!--scrolling content Modal -->


					</div>


					<!-- Footer -->
					<!-- / Footer -->

					<div class="content-backdrop fade"></div>
				</div>
				<!-- Content wrapper -->
			</div>
			<!-- / Layout page -->
		</div>

		<!-- Overlay -->
		<div class="layout-overlay layout-menu-toggle"></div>

		<!-- Drag Target Area To SlideIn Menu On Small Screens -->
		<div class="drag-target"></div>
	</div>
	<!-- / Layout wrapper -->

	<!-- Core JS -->
	<!-- build:js assets/vendor/js/core.js -->
	<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
	<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
	<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
	<script
		th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

	<script th:src="@{/assets/vendor/libs/hammer/hammer.js}"></script>


	<script th:src="@{/assets/vendor/libs/i18n/i18n.js}"></script>
	<script th:src="@{/assets/vendor/libs/typeahead-js/typeahead.js}"></script>

	<script th:src="@{/assets/vendor/js/menu.js}"></script>
	<!-- endbuild -->


	<script th:src="@{/assets/vendor/libs/moment/moment.js}"></script>
	<!-- Vendors JS -->
	<script th:src="@{/assets/vendor/libs/datatables/jquery.dataTables.js}"></script>
	<script
		th:src="@{/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js}"></script>
	<script
		th:src="@{/assets/vendor/libs/datatables-fixedcolumns/datatables.fixedcolumns.js}"></script>
	<script th:src="@{/assets/vendor/libs/bs-stepper/bs-stepper.js}"></script>
	<script th:src="@{/assets/vendor/libs/select2/select2.js}"></script>
	<script th:src="@{/assets/vendor/libs/tagify/tagify.js}"></script>
	<script th:src="@{/assets/vendor/libs/flatpickr/flatpickr.js}"></script>
	<script th:src="@{/assets/vendor/libs/sweetalert2/sweetalert2.js}"></script>
	<script
		th:src="@{/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js}"></script>
	<script
		th:src="@{/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js}"></script>
	<script
		th:src="@{/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js}"></script>
	<script th:src="@{/assets/vendor/libs/cleavejs/cleave.js}"></script>
	<script th:src="@{/assets/vendor/libs/cleavejs/cleave-phone.js}"></script>

	<!-- Main JS -->
	<script th:src="@{/assets/js/main.js}"></script>
	
	 <script th:src="@{/assets/js/tables-datatables-advanced.js}"></script>



	<!-- Page JS-->
	<script>
    var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	$(document).ajaxSend(function(e, xhr, options) {
		xhr.setRequestHeader(header, token);
	});
	
	
	cart_count();
	
	var custodian = [];
	var branchname = [];
    const Branch = $('#Branch');
    const Custodian = $('#Custodian');
	
	
	  var dt_basic_table = $('.datatables-basic');
	    var dt_basic = dt_basic_table.DataTable({
	    	 ajax: {
	             "url": "assetlistjson",
	             "type": "GET",
	             "dataSrc": "",
	         },
	         
	         columns: [
			        { data: '' },
			        { data: 'assetType' },
			        { data: 'assetName' },
			        { data: 'branchname' },
			        { data: 'status' },
			        { data: 'custodian' },
			        { data: 'lastupdate' },
			      ],
			      
			      columnDefs: [
			    	  
			    	  {
				          // For Checkboxes
				          targets: 0,
				          orderable: false,
				          responsivePriority: 3,
				          searchable: false,
				          checkboxes: true,
				          render: function(data, type, full, meta) {
				            return `<button type="button" class="btn btn-label-primary" onclick="hiderow(${full.assetId});">ADD</button>`;
				          },
				        },
				    	{
					           targets: 2,
					           render: function(data, type, full, meta) {
					           	 $assetId = full['assetId'];
					           	 $row_output = '<a href="assetview?id='+ $assetId+'">' + full['assetName'] + '</small>';
					           	 return $row_output;
					           }
					         },
			      ],
			      
			      "rowCallback": function(row, data) {
			    	  
			          $(row).attr("id", "row_" + data.assetId); // assuming the first column contains the unique ID
			        //  console.log(data.assetId,row);
			         
			        },
			        
			        "initComplete": function(){
			        	filterDuplicateRows();	
			        }
	    });
	    
	    function filterDuplicateRows() {
	    dt_basic.rows().every(function(rowIdx, tableLoop, rowLoop) {
	    	if(this.data().branchname != '' && this.data().branchname != null)
	    	{
	    		branchname.push(this.data().branchname);
	    	}
	    
	    	if(this.data().custodian != '' && this.data().custodian != null)
	    	{
	    		custodian.push(this.data().custodian);	
	    	}
	    	
	    })
	    branchname = [...new Set(branchname)];
	    custodian = [...new Set(custodian)];
	    
	    $.each(branchname, function(key, value) {
	    	Branch.append($('<option></option>').val(value).text(value));
	    	});
	    
	    $.each(custodian, function(key, value) {
	    	Custodian.append($('<option></option>').val(value).text(value));
	    	});
	    
	    }
	    
	    
	   
	
	    
 
	    function cart_count() {
			var count = 0;
			$('.removefromcart').each(function(index) {
				count++;
			});
			$('#cartcount').text(count);

			$('#totalcartval').text(count);
		}
	    
	    
	   
	    
	    
	    
	    function hiderow(id){
	    	if($('#Status').val() != '' && Branch.val() != '')
	    	{
	    	var currentRow = $('#row_'+id);
	    	var col1 = currentRow.find( "td:eq(1)").html();
			var col2 = currentRow.find( "td:eq(2)").html();
			var col3 = currentRow.find( "td:eq(3)").html();
			var col4 = currentRow.find( "td:eq(4)").html();
			var col5 = currentRow.find( "td:eq(5)").html();
			var col6 = currentRow.find( "td:eq(6)").html();
			$('#cart > tbody:last-child') .append(`<tr><td><button type='button' name="${id}" class='btn btn-icon btn-secondary mr-1 mb-1 removefromcart'><i class='bx bx-trash'></i></button></td><td>${col1}</td><td>${col2}</td><td>${col3}</td><td>${col4}</td><td>${col5}</td><td>${col6}</td></tr>`);
			
			currentRow.fadeTo("slow", 0.7, function() {
				        currentRow .fadeOut();
						currentRow.hide();
					});
			cart_count();
	    	}
	    	else
	    	{
	    		alert("Please Select Status and Branch");
	    		
	    	}
	    }
	    
	      
	    $(document).on("click",".removefromcart",function() {
	    	 $(this).closest("tr").remove();
	    	 var id = $(this).attr('name');
	    	 $('#row_'+id).fadeTo("slow",1,function() {
					$('#row_'+id).fadeIn();
					$('#row_'+id).show();
				});
  			cart_count();
	    })
	    
	   $('#Status').change(function(e){
		   
		   if(Number($('#cartcount').text()) > 0){
				   $('#cart > tbody').html('');
				   dt_basic.ajax.reload();
				   cart_count();
				   Branch.val('');
				   Custodian.val('');
				   alert("Reset Your Cart");
		   }
		   
		   
		   dt_basic_table.DataTable().column(4).search(this.value, false, true).draw();
		   

		   if(this.value=="Checked Out" || this.value=="In office Use")
		   {
			   $('#checkout').hide();
			   $('#checkin').show();
		   }
		   else
		   {
			   $('#checkout').show();
			   $('#checkin').hide();
		   }
	   })
	   
	   
	    
	   
	    $('#Branch,#Custodian').change(function (){
	    	var column = $(this).data('column');
	    	console.log(column);
	    	dt_basic_table.DataTable().column(column).search(this.value, false, true).draw();
	    })
	   
	  /*  $('#exampleModalScrollable').on('hide.bs.modal', function() {
		   $('#cart > tbody').html('');
		   cart_count();
		}); */
	    
	    
	   				// --------------------------------------------------------------------
				
				$(".additem").click(function() {
				var name = $(this).attr('name');
				var labeltext = "";
				if (name == "addmodalassettype") {
					labeltext = "New Asset Type";
				}
				
				
				
				$('#additemalltxt').text(labeltext);
				$('#ItemStatusScrollable').modal('toggle');

			});

			$("#additemallsavebtn").click(
					function() {
				if ($("#additemall").val() != '') {
					var name = $('#additemalltxt').text();
					var labeltext = "";
					if (name == "New Asset Type") {
						labeltext = "modalassettype";
					}
					
					
					$('.' + labeltext).append(
							"<option value='"
									+ $("#additemall").val()
									+ "'>"
									+ $("#additemall").val()
									+ "</option>");
					//$('.' + labeltext).val($("#additemall").val());
					$("#additemall").val('');
					$('#ItemStatusScrollable').modal(
							'toggle');
				}
			});
				
				// --------------------------------------------------------------------
				 
	    
	    /**
 *  Form Wizard
 */

'use strict';

(function () {
  // Init custom option check
  window.Helpers.initCustomOptionCheck();

  //const flatpickrRange = document.querySelector('.flatpickr');

  $(".flatpickr").each(function(index) {
	  $(this).flatpickr({
	    	altInput: true,
		    altFormat: 'F j, Y',
		    dateFormat: 'Y-m-d',
	    });
  })

  // Vertical Wizard
  // --------------------------------------------------------------------

  const wizardPropertyListing = document.querySelector('#wizard-asset-listing');
  if (typeof wizardPropertyListing !== undefined && wizardPropertyListing !== null) {
    // Wizard form
    const wizardPropertyListingForm = wizardPropertyListing.querySelector('#wizard-asset-listing-form');
    // Wizard steps
    const wizardPropertyListingFormStep1 = wizardPropertyListingForm.querySelector('#assetmaster-details');
    const wizardPropertyListingFormStep2 = wizardPropertyListingForm.querySelector('#assetpurchase-details');
    

    // Wizard next prev button
    const wizardPropertyListingNext = [].slice.call(wizardPropertyListingForm.querySelectorAll('.btn-next'));
    const wizardPropertyListingPrev = [].slice.call(wizardPropertyListingForm.querySelectorAll('.btn-prev'));

    const validationStepper = new Stepper(wizardPropertyListing, {
      linear: true
    });

    // Personal Details
    const FormValidation1 = FormValidation.formValidation(wizardPropertyListingFormStep1, {
      fields: {
        // * Validate the fields here based on your requirements
        ASSET: {
          validators: {
            notEmpty: {
              message: 'Please enter your Asset Name'
            }
          }
        },
        AssetType: {
          validators: {
            notEmpty: {
              message: 'Please enter your Type'
            }
          }
        },
        
        CONDITION: {
            validators: {
              notEmpty: {
                message: 'Please enter your Condition'
              }
            }
          },
      },

      plugins: {
        trigger: new FormValidation.plugins.Trigger(),
        bootstrap5: new FormValidation.plugins.Bootstrap5({
          // Use this for enabling/changing valid/invalid class
          // eleInvalidClass: '',
          eleValidClass: '',
          rowSelector: '.col-sm-6'
        }),
        autoFocus: new FormValidation.plugins.AutoFocus(),
        submitButton: new FormValidation.plugins.SubmitButton()
      },
      init: instance => {
        instance.on('plugins.message.placed', function (e) {
          //* Move the error message out of the `input-group` element
          if (e.element.parentElement.classList.contains('input-group')) {
            e.element.parentElement.insertAdjacentElement('afterend', e.messageElement);
          }
        });
      }
    }).on('core.form.valid', function () {
      // Jump to the next step when all fields in the current step are valid
      validationStepper.next();
    });

    // Property Details
    const FormValidation2 = FormValidation.formValidation(wizardPropertyListingFormStep2, {
      fields: {
        // * Validate the fields here based on your requirements

        Branch: {
          validators: {
            notEmpty: {
              message: 'Please select  Branch'
            }
          }
        },
        Vendor:{
        	 validators: {
                 notEmpty: {
                   message: 'Please select  Vendor'
                 }
               }
        },
       
      },
      plugins: {
        trigger: new FormValidation.plugins.Trigger(),
        bootstrap5: new FormValidation.plugins.Bootstrap5({
          // Use this for enabling/changing valid/invalid class
          // eleInvalidClass: '',
          eleValidClass: '',
          rowSelector: function (field, ele) {
            // field is the field name & ele is the field element
            switch (field) {
              case 'plAddress':
                return '.col-lg-12';
              default:
                return '.col-sm-6';
            }
          }
        }),
        autoFocus: new FormValidation.plugins.AutoFocus(),
        submitButton: new FormValidation.plugins.SubmitButton()
      }
    }).on('core.form.valid', function () {
      
    	$(".wizard-asset-listing-form_submit").click();
    	
    });


   
 

    wizardPropertyListingNext.forEach(item => {
      item.addEventListener('click', event => {
        // When click the Next button, we will validate the current step
        switch (validationStepper._currentIndex) {
          case 0:
            FormValidation1.validate();
            break;

          case 1:
            FormValidation2.validate();
            break;

          case 2:
            FormValidation3.validate();
            break;

          case 3:
            FormValidation4.validate();
            break;

          case 4:
            FormValidation5.validate();
            break;

          default:
            break;
        }
      });
    });

    wizardPropertyListingPrev.forEach(item => {
      item.addEventListener('click', event => {
        switch (validationStepper._currentIndex) {
          case 4:
            validationStepper.previous();
            break;

          case 3:
            validationStepper.previous();
            break;

          case 2:
            validationStepper.previous();
            break;

          case 1:
            validationStepper.previous();
            break;

          case 0:

          default:
            break;
        }
      });
    });
  }
})();


//--------------------------------------------------------------------------------------------------------------------------------------
function validationformuserp1reset()
{
	$(".wizard-asset-listing-form_prev").click();
	$(".wizard-asset-listing-form_reset").click();
	$(".btn-close").click();
	$('.wizard-asset-listing-form_submit').prop("disabled",false);
	$('.wizard-asset-listing-form_submit').html("Submit");
	
}
//-----------------------------------------------------------------------------------------------------------------------------------
		 
$('#wizard-asset-listing-form').on('submit', function(event){
		   	 
		   		
    	    if(event.target.checkValidity()){
    	    	$('.wizard-asset-listing-form_submit').prop("disabled",true);
		   	    $('.wizard-asset-listing-form_submit').html('<span class="spinner-border" role="status" aria-hidden="true"></span> Loading...');
    	    	const formdata= new FormData(document.querySelector("#wizard-asset-listing-form"));
    	    	//formdata.append("empMasterid", $('#empMasterid').val())
    	    	$.ajax({
						type : "POST",
						url : "assetsavejson",
						data : formdata, 
						contentType: false,
	   	                processData: false,
	   	                success : function(result) {
	   	            	Swal.fire({
					        title: 'Success!',
					        text: 'New Asset is Added Successfully',
					        imageUrl: assetsPath + 'img/backgrounds/15.jpg',
					        imageWidth: 400,
					        imageAlt: 'Custom image',
					        confirmButtonText: 'Ok',
					        customClass: {
					          confirmButton: 'btn btn-primary'
					        },
					        buttonsStyling: false
					      });
	   	            	
	   	            	var bmobj = JSON.parse(JSON.stringify(result));
	   	            	console.log(result);
	   	            	validationformuserp1reset();
	   	            	$('.datatables-basic').DataTable().ajax.reload();
	   	            	
	   	            	
	   	            	
						},
	    	    	error : function(e) {
							console.log("Error" + e);
						}
    	    	});
    	    }
});
//--------------------------------------------------------------------------------------------------------------------------------------
    </script>
</body>
</html>