<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="loading" lang="en" data-textdirection="ltr">

<!-- BEGIN: Head-->

<head>
<meta name="_csrf" th:content="${_csrf.token}"/>
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="ICC">
<title>Attendance</title>
<link rel="apple-touch-icon"
	th:href="@{/app-assets/images/ico/apple-icon-120.png}">
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/app-assets/images/ico/favicon.ico}">
<link
	href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700"
	rel="stylesheet}">
<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/vendors.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/charts/apexcharts.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/extensions/dragula.min.css}">
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/bootstrap.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/bootstrap-extended.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/colors.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/components.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/themes/dark-layout.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/themes/semi-dark-layout.css}">
<!-- END: Theme CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/core/menu/menu-types/vertical-menu.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/pages/dashboard-analytics.css}">
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
<!-- END: Custom CSS-->
<style>


  	#tabledate{
	height:350px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;		
	border:1px #ccc solid;	

	}
	.selectdate
	{
		border:1px #ccc solid;	
	   	vertical-align:top;
		text-align:right;
		cursor:pointer;
		
	}
	.ttd
	{
		border:1px #ccc solid;	
		vertical-align:top;
		text-align:right;
		color:#000;
		text-align:center;
		vertical-align:middle;
		width:80px;
		height:40px;
	}

   .td
   {
   	border:1px #ccc solid;	
   	vertical-align:top;
	text-align:right;
	cursor:pointer;
	
   }
   
    
    .caltoptxt
    {
    	font-size:16px;
    	text-align:center;
    	vertical-align:middle;
    	font-weight:bold;
    }
    .caltoptxtcontainer i
    {
    	font-size:38px;
    	background:#F7F7F7;
    	cursor:pointer;
    }
    
    .calender
    {
    	float: left;
    	
    }
    .attendancelisttable td:nth-child(1) i
	{
		font-size:20px;
		
	}
	.btnmasternote, .btnmasternote i
	{
		padding: 2px;
   		padding-right: 10px;
   		padding-left: 10px;
   		border:0px #ccc solid;
		font-size:28px;
		background: #fff;
		
	}	    
	.attendancelisttable
	{
	  line-height:45px;
	}
	.attendancelisttable td:nth-child(2)
	{
		padding-left: 10px;
		font-size:13px;
	}
	.attendancelisttable td:nth-child(3) button
	{
   		padding: 2px;
   		padding-right: 10px;
   		padding-left: 10px;
   		font-size:13px;	
	}
	.attendancelisttable td:nth-child(4) button
	{
		padding: 2px;
   		padding-right: 10px;
   		padding-left: 10px;
   		font-size:13px;		
	}
	.attendancelisttable td:nth-child(5) button
	{
		padding: 2px;
   		padding-right: 10px;
   		padding-left: 10px;
   		font-size:13px;	
	}
	.attendancelisttable td:nth-child(6) button
	{
		padding: 2px;
   		padding-right: 10px;
   		padding-left: 10px;
   		font-size:13px;	
	}

	.btn, .btn-outline-info, .btn-outline-danger, .btn-outline-warning
	{
		border:1px #B5B5B5 solid;
		color:#B5B5B5;
	}
	.cal_inner_holder
	{
		width:60px;
		font-size:11px;
		margin-top:35px;

	}
	.cal_inner_holder_right
	{
		
		float:right;
		font-size: 12px;
	    min-width: 25px;
	    height:23px;
	    padding-top:4px;
	    
	    text-align: center;
		
	}
	
	.td:hover{
	background-color: #D4D4D4;
	}
	.td:hover > .cal_inner_holder_right
    {
    	background-color: #6B6B6B;
	    border-radius: 50%;
	    color: #FFFFFF;
	    transition: background-color 0.2s;
    }
    
    .cal_inner_holder_right_today
	{
		float:right;
		font-size: 12px;
	    min-width: 25px;
	    height:23px;
	    padding-top:4px;
	    text-align: center;
	    border-radius: 50%;
	    color: #FFFFFF;
	    transition: background-color 0.2s;
	    background-color: #ff3b30;
	    
		
	}
	.cal_inner{
		float:left;
		border-radius:3px;
		width:20px;
		text-align:center;
		background:#CCC;
		padding:2px;
		margin:1px;
	}
	.today
	{
		float:right;
		padding:5px;
		border: none;
		color:#ccc;
	}	
	.bx-trash
	{
		cursor:pointer;
	}			  
	
</style>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body
	class="vertical-layout vertical-menu-modern boxicon-layout no-card-shadow 2-columns  navbar-sticky footer-static  "
	data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

		<!-- BEGIN: Header-->
		 <div th:insert="header">  </div>
		<!-- END: Header-->


		<!-- BEGIN: Main Menu-->
		<div th:insert="menu">  </div>
		<!-- END: Main Menu-->

			<!-- BEGIN: Content-->
				<!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                        
                        	 <!--scrolling content Modal -->
                         		<div class="modal fade" id="employeeStatusScrollable" tabindex="-1" role="dialog" aria-labelledby="employeeStatusScrollableTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-warning">
                                            <h5 class="modal-title white" id="employeeStatusScrollableTitle"></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <i class="bx bx-x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-md-12">
                                             <div class="form-group">
                                                 <label for="addmodel">Note</label>
                                                 <div class="position-relative">
                                                     <fieldset class="form-group">
                                            	<input type="hidden" id="additemalltxt"/>
                                            	<textarea id="additemall" name="addmodel" class="form-control">
                                            	
                                            	</textarea>
                                         </fieldset>
                                                 </div>
                                             </div>
                                         </div>
                                       
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Close</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ml-1" id="additemallsavebtn">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">ADD</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          	 <!--scrolling content Modal -->
                            <h5 class="content-header-title float-left pr-1 mb-0">Attendance</h5>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb p-0 mb-0">
                                    <li class="breadcrumb-item"><a href="index"><i class="bx bx-home-alt"></i></a>
                                    </li>
                                  
                                	   
                                </ol>
                                
                            </div>
                        </div>
                   
                    </div>
                </div>
                
            </div>
            <div class="content-body">
               
				 <!-- Zero configuration table -->
                <section id="basic-datatable">
                    <div class="row">
                        <div class="col-12">
                        	<div class="card">
                                <div class="">
                                    <div class="card-body">
                                    	<div class="row">
                                        	<div class="col-md-6">
		                                        <!-- ---------------------- -- ---------------------- -->
		                                        <!-- ---------------------- -- ---------------------- -->
		                                        <div class="table-responsive">
		                                        <div class="calender">
		                                        	<span class="caltoptxtcontainer">
			                                        	<a th:href="@{empattendance?date={d}(d=${preDate})}">
				                                        	<span class="caltoptxt"><i class="bx bx-chevron-left"></i></span>
				                                        </a>
			                                        	<span class="caltoptxt" th:text="${currentmonname}"></span>
			                                        	<span class="caltoptxt" th:text="${currentyear}"></span>
			                                        	<a th:href="@{empattendance?date={d}(d=${nxtDate})}">
			                                        		<span class="caltoptxt"><i class="bx bx-chevron-right"></i></span>
			                                        	</a>
		                                        	</span>
			                                        	<a th:href="@{empattendance?date={d}(d=${tempcurrentdate})}" class="btn-outline-primary today">Today</a>
				                                        <table  id='tabledate' class="">
				                                        	<tr>
				                                            <th class='ttd'>Sun</th>
				                                            <th class='ttd'>Mon</th>
				                                            <th class='ttd'>Tue</th>
				                                            <th class='ttd'>Wed</th>
				                                            <th class='ttd'>Thu</th>
				                                            <th class='ttd'>Fri</th>
				                                            <th class='ttd'>Sat</th>
				                                      	  </tr>
				                                       
				                                       		 [(${calhtml})]
				                                        </table>
				                                     </div>
				                                     
		                                        </div>
		                                        <!-- ---------------------- -- ---------------------- -->
		                                        <!-- ---------------------- -- ---------------------- -->
		                                        
		                                     </div>
		                                     <div class="col-md-6">
                                                <div class="row">
	                                                  <div class="form-group col-md-6">
	                                                      <div class="position-relative has-icon-left">
                                                               	<input type="hidden" id="currentdd" th:value="${currentdd}" />
                                                               	<input type="hidden" id="currentdate" th:value="${jsdate}" />
                                                                <input type="hidden" id="targetedbranchid" th:value="${targetedbranchid}" />
                                                                
                                                                <select class="form-control" id="branchlist">
                                                                		
                                                                	<th:block th:if="${targetedbranchName} !=''"> 
                                                                			<option th:value="${targetedbranchid}" th:text="${targetedbranchName}"></option>
                                                                	</th:block>	
				                                                        
				                                                       <th:block th:each="obj : ${branchls}">
				                                                       		<option th:if="${obj.BRANCH_NAME} != ${targetedbranchName}" th:value="${obj.id}" th:text="${obj.BRANCH_NAME}"></option>
				                                                       </th:block>
				                                                        
				                                                        
				                                                    </select>
				                                                 <div class="form-control-position">B-</div>
                                                            </div>
	                                                  </div>
	                                                  <div class="form-group col-md-2">
	                                                  	   <label class="emptitle additem" name="masterremarksdata">
	                                                  	   <input type="hidden" id="master"/>
	                                                      	<button type="button" class="btnmasternote"><i class="bx bx-notepad"></i></button>
	                                                      </label>
	                                                  </div>
	                                                  <div class="form-group col-md-4">
	                                                      <select class="form-control" id="atten_status_change">
		                                                        <option>Mark All As</option>
		                                                        <option>Present</option>
		                                                        <option>Absent</option>
		                                                        <option>Tardy</option>
		                                                        <option>Half Day</option>
		                                                    </select>
	                                                  </div>
	                                                  <div class="table-responsive col-md-12">
				                                        <table class="attendancelisttable">
				                                         <tr th:each="emp,stat : ${empattendancedetailslist}">
				                                             <td width="5%"><label class="emptitle additem" th:name="remark + ${stat.index}">
				                                             	<input type="hidden" class="childremarks"  th:id="remark + ${stat.index}" th:value="${#strings.arraySplit(emp,'||')[4]}"/>
				                                             	<input type="hidden"  th:id="emp +${stat.index}" th:value="${#strings.arraySplit(emp,'||')[0]}"/>
				                                             	<input type="hidden"  th:id="attid +${stat.index}" th:value="${#strings.arraySplit(emp,'||')[2]}"/>
				                                             <i class="bx bx-notepad"></i></label></td>
				                                             <td width="50%">
				                                             	<span th:text="${#strings.arraySplit(emp,'||')[1]}"></span>
				                                             	
				                                             </td>
				                                             
				                                             
				                                             <td th:if="${#strings.arraySplit(emp,'||')[3]}=='P'" width="15%"><button type="button" th:name=" ${stat.index}" class="btn btnp cp btn-success text-white ">P</button></td>
				                                             <td th:unless="${#strings.arraySplit(emp,'||')[3]}=='P'" width="15%"><button type="button" th:name=" ${stat.index}" class="btn btnp ">P</button></td>
				                                             
				                                             <td th:if="${#strings.arraySplit(emp,'||')[3]}=='A'" width="15%"><button type="button" th:name="${stat.index}" class="btn btna ca btn-danger text-white">A</button></td>
				                                             <td th:unless="${#strings.arraySplit(emp,'||')[3]}=='A'" width="15%"><button type="button" th:name="${stat.index}" class="btn btna ">A</button></td>
				                                             
				                                             <td th:if="${#strings.arraySplit(emp,'||')[3]}=='T'" width="15%"><button type="button" th:name="${stat.index}" class="btn btnt ct btn-warning text-white ">T</button></td>
				                                             <td th:unless="${#strings.arraySplit(emp,'||')[3]}=='T'" width="15%"><button type="button" th:name="${stat.index}" class="btn btnt ">T</button></td>
				                                             
				                                             <td th:if="${#strings.arraySplit(emp,'||')[3]}=='HL'" width="15%"><button type="button" th:name="${stat.index}" class="btn btnhl chl btn-light text-white">HL</button></td>
				                                             <td th:unless="${#strings.arraySplit(emp,'||')[3]}=='HL'" width="15%"><button type="button" th:name="${stat.index}" class="btn btnhl ">HL</button></td>
				                                             <td>
				                                             	<i class="bx bx-trash" th:name="${stat.index}"></i>
				                                             </td>
				                                      	  </tr>
				                                      	    	   
				                                      	   
				                                      	  <tr>
				                                             <td colspan="6" align="right">
				                                             <br/><br/>
				                                             <button type="button" id="saveall" class="btn btn-secondary mr-1 mb-1 text-white">Save</button></td>
				                                      	  </tr>
				                                      	  	 
				                                        </table>
				                                      
				                                     </div>
				                                    
	                                                  
	                                            </div>
		                                  </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                	</div>
                </section>
                <!--/ Zero configuration table -->               

            </div>
        </div>
    </div>
			<!-- END: Content-->


		
		<div class="sidenav-overlay"></div>
		<div class="drag-target"></div>

		<!-- BEGIN: Footer-->
		<footer class="footer footer-static footer-light">
		<p class="clearfix mb-0">
			<span class="float-left d-inline-block"></span><span
				class="float-right d-sm-inline-block d-none"></span>
			<button class="btn btn-primary btn-icon scroll-top" type="button">
				<i class="bx bx-up-arrow-alt"></i>
				
			</button>
		</p>
		</footer>
		<!--scrolling content Modal -->
               	<div class="modal fade" id="jqueryInformationScrollable" tabindex="-1" role="dialog" aria-labelledby="jqueryInformationScrollableTitle" aria-hidden="true">
                     <div class="modal-dialog modal-dialog-scrollable" role="document">
                         <div class="modal-content">
                             <div class="modal-header bg-success">
                                 <h5 class="modal-title white" id="jqueryInformationScrollableTitle"></h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                     <i class="bx bx-x"></i>
                                 </button>
                             </div>
                             <div class="modal-body">
                                 
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <center>
                                      	<label for="contact-info-icon" id="modeljqueryresult" style="font-weight:bold"></label>
                                      </center>
                                  </div>
                              </div>
                              
                             <div class="modal-footer">
                                 
                                 <button type="button" id="btnmodelclose" class="btn btn-primary ml-1" data-dismiss="modal">
                                     <i class="bx bx-check d-block d-sm-none"></i>
                                     <span class="d-none d-sm-block  text-white">Ok</span>
                                 </button>
                              </div>
                          	 </div>
                          </div>
                      </div>
                   </div>
                	 <!--scrolling content Modal -->
		<!-- END: Footer-->


		<!-- BEGIN: Vendor JS-->
		<script th:src="@{/app-assets/vendors/js/vendors.min.js}"></script>
		<script
			th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js}"></script>
		<script
			th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js}"></script>
		<script
			th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js}"></script>
		<!-- BEGIN Vendor JS-->

		<!-- BEGIN: Page Vendor JS-->
		<script th:src="@{/app-assets/vendors/js/charts/apexcharts.min.js}"></script>
		<script th:src="@{/app-assets/vendors/js/extensions/dragula.min.js}"></script>
		<!-- END: Page Vendor JS-->

		<!-- BEGIN: Theme JS-->
		<script th:src="@{/app-assets/js/core/app-menu.js}"></script>
		<script th:src="@{/app-assets/js/core/app.js}"></script>
		<script th:src="@{/app-assets/js/scripts/components.js}"></script>
		<script th:src="@{/app-assets/js/scripts/footer.js}"></script>
		<!-- END: Theme JS-->

		<!-- BEGIN: Page JS-->
		<script
			th:src="@{/app-assets/js/scripts/pages/dashboard-analytics.js}"></script>
		<!-- END: Page JS-->
</body>
<!-- END: Body-->
<script>
	$(document).ready(function(){
		
		//--------------------------------------------------------
		$(function() {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) {
				xhr.setRequestHeader(header, token);
			});
		});
		//--------------------------------------------------------
		$('.td').click(function(){
			var branch =$("#branchlist :selected").text();
			window.location.href="empattendance?date="+ $(this).attr('name') +"&branch="+ branch +"";
			
		});
		
		$("#branchlist").change(function(){
			var selectdate= $(".selectdate").attr("name");
			var branch =$("#branchlist :selected").text();
			window.location.href="empattendance?date="+ selectdate +"&branch="+ branch +"";
			
		});
		//--------------------------------------------------------
		
		$('#atten_status_change').change(function(){

			var selected_val=$('#atten_status_change').val();
		
			$('.btnp').removeClass("cp btn-success text-white");
			$('.btna').removeClass("ca btn-danger text-white");				
			$('.btnt').removeClass("ct btn-warning text-white");					
			$('.btnhl').removeClass("chl btn-light text-white");
			
				if(selected_val=="Present")
				{
					$('.btnp').toggleClass("cp btn-success text-white");
				}
				if(selected_val=="Absent")
				{
					$('.btna').toggleClass("ca btn-danger text-white");
				}
				if(selected_val=="Tardy")
				{
					$('.btnt').toggleClass("ct btn-warning text-white");					
				}
				if(selected_val=="Half Day")
				{
					$('.btnhl').toggleClass("chl btn-light text-white");					
				}
		});
		//--------------------------------------------------------
		//--------------------------------------------------------
		$(".btnp").click(function()
		{			
			var empid_name=$(this).attr('name');							
			remover_atten_status(empid_name);	
	  		$(this).toggleClass(" cp btn-success text-white");
			
		});
		$(".btna").click(function()
		{
			var empid_name=$(this).attr('name');							
			remover_atten_status(empid_name);		
			$(this).toggleClass(" ca btn-danger text-white");
		});
		$(".btnt").click(function()
		{
			var empid_name=$(this).attr('name');							
			remover_atten_status(empid_name);		
			$(this).toggleClass(" ct btn-warning text-white");
		});
		$(".btnhl").click(function()
		{
			var empid_name=$(this).attr('name');							
			remover_atten_status(empid_name);		
			$(this).toggleClass(" chl btn-light text-white");
		});
		
		//--------------------------------------------------------
		$(".bx-trash").click(function(){
					var name=$(this).attr('name');
					var attendid=$('#attid'+ name).val();
					if(attendid >0)
					{
						 var formData = {
								 attendid : attendid					
							}
						 
						$.ajax({
							type : "POST",url : "employeeattendancedelete",
							data : formData,success : function(result) {
								
								remover_atten_status(name);
							},
							error : function(e) {
								$('#modeljqueryresult').text("Error" + e);
							}
						});
						
					}
					else
					{
						remover_atten_status(name);	
					}
					
					
					
				});
		//--------------------------------------------------------

		function remover_atten_status(empid_name)
		{
			
			$('.btnp[name='+empid_name+']').removeClass("cp btn-success text-white");
			$('.btna[name='+empid_name+']').removeClass("ca btn-danger text-white");				
			$('.btnt[name='+empid_name+']').removeClass("ct btn-warning text-white");
			$('.btnhl[name='+empid_name+']').removeClass("chl btn-light text-white");		
			
		}
		
		//--------------------------------------------------------------------------------
		
				
		$('#saveall').click(function(){
			$(this).hide();
			$("#btnmodelclose").removeClass("refresh");
			$('#modeljqueryresult').text("");
			var currentdd=$('#currentdd').val();
			
			//------------------------------------------------------------------------------
			// Update calendar as per the attendance count
			var P=0;
			var A=0; 
			var T=0;
			var HL=0; 
			
			P=document.querySelectorAll('.cp').length;
			A=document.querySelectorAll('.ca').length;
			T=document.querySelectorAll('.ct').length;
			HL=document.querySelectorAll('.chl').length;
			 
			$('.cal_innerp' + currentdd).text(P);
			$('.cal_innera' + currentdd).text(A);
			$('.cal_innert' + currentdd).text(T);
			$('.cal_innerhl' + currentdd).text(HL);
			//------------------------------------------------------------------------------
			var attendancestr="";
			var branchid= $('#targetedbranchid').val();
			var currentdate= $('#currentdate').val();
			$(".cp").each(function() {
			    var rowindex =$(this).attr('name');
			    var empid=$('#emp'+ rowindex).val();
			    var note=$('#remark'+ rowindex).val();
			    var attendid=$('#attid'+ rowindex).val();
			    attendancestr += branchid +"|" + currentdate +"|" +empid +"|" + note +"|P|" + attendid +"~";
			});
			$(".ca").each(function() {
			    var rowindex =$(this).attr('name');
			    var empid=$('#emp'+ rowindex).val();
			    var note=$('#remark'+ rowindex).val();
			    var attendid=$('#attid'+ rowindex).val();
			    attendancestr += branchid +"|" + currentdate +"|" +empid +"|" + note +"|A|" + attendid +"~";
			});
			$(".ct").each(function() {
			    var rowindex =$(this).attr('name');
			    var empid=$('#emp'+ rowindex).val();
			    var note=$('#remark'+ rowindex).val();
			    var attendid=$('#attid'+ rowindex).val();
			    attendancestr += branchid +"|" + currentdate +"|" +empid +"|" + note +"|T|" + attendid +"~";
			});
			$(".chl").each(function() {
			    var rowindex =$(this).attr('name');
			    var empid=$('#emp'+ rowindex).val();
			    var note=$('#remark'+ rowindex).val();
			    var attendid=$('#attid'+ rowindex).val();
			    attendancestr += branchid +"|" + currentdate +"|" +empid +"|" + note +"|HL|" + attendid +"~";
			});
			console.info(attendancestr);
			
			 var formData = {
					attendancestr : attendancestr					
			}
			$.ajax({
				type : "POST",url : "employeeattendancesave",
				data : formData,success : function(result) {
					
					$('#modeljqueryresult').text( "Attendance updated successfully");
					$("#btnmodelclose").toggleClass("refresh");
				},
				error : function(e) {
					$('#modeljqueryresult').text("Error" + e);
				}
			});
			
			$('#jqueryInformationScrollable').modal('toggle'); 
			//------------------------------------------------------------------------------
		});
		
		
		$(document).on('click', ".refresh", function() {
			location.reload();
		});
		
	});
</script>	
		<script>
			$(document).ready(function(){
				
				$(".additem").click(function(){
					var name=$(this).attr('name');
					var labeltext="";
					if(name=="masterremarksdata")
					{ labeltext="master"; }
					else
					{
						labeltext=name; 
					}
					$('#additemalltxt').val(labeltext);
					
					$("#additemall").val($('#'+labeltext).val());
					$('#employeeStatusScrollable').modal('toggle');
					
				});
				
				$("#additemallsavebtn").click(function(){
						
					if($("#additemall").val()!='')
					{
						var name=$('#additemalltxt').val();
						var labeltext="";
						if(name=="master"){ labeltext="master"; 
							$('.childremarks').val($("#additemall").val());
							$('#master').val($("#additemall").val());
						}
						else
						{
							labeltext=name;
							$('#' + labeltext).val($("#additemall").val());
						}
						
						$('#employeeStatusScrollable').modal('toggle');
					}
				});
				
				
				
				
			});
		
		</script>

</html>