<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="loading" lang="en" data-textdirection="ltr">

<!-- BEGIN: Head-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="ICC">
<title>Attendance</title>
<link rel="apple-touch-icon"
	th:href="@{/app-assets/images/ico/apple-icon-120.png}">
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/app-assets/images/ico/favicon.ico}">
<link
	href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700"
	rel="stylesheet}">
<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/vendors.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/charts/apexcharts.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/extensions/dragula.min.css}">
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/bootstrap.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/bootstrap-extended.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/colors.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/components.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/themes/dark-layout.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/themes/semi-dark-layout.css}">
<!-- END: Theme CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/core/menu/menu-types/vertical-menu.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/pages/dashboard-analytics.css}">
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
<!-- END: Custom CSS-->
<style>


  	#tabledate{
	height:350px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;		
	border:1px #ccc solid;	

	}
	.selectdate
	{
		border:1px #ccc solid;	
	   	vertical-align:top;
		text-align:right;
		cursor:pointer;
		background:#FFE7BA;
	}
	.ttd
	{
		border:1px #ccc solid;	
		vertical-align:top;
		text-align:right;
		color:#000;
		text-align:center;
		vertical-align:middle;
		width:80px;
		height:40px;
	}

   .td
   {
   	border:1px #ccc solid;	
   	vertical-align:top;
	text-align:right;
	cursor:pointer;
	
   }
   
    .td:hover
    {
    	background:#F7F7F7;
    }
    .caltoptxt
    {
    	font-size:16px;
    	text-align:center;
    	vertical-align:middle;
    	font-weight:bold;
    }
    .caltoptxtcontainer i
    {
    	font-size:38px;
    	background:#F7F7F7;
    	cursor:pointer;
    }
    
    .calender
    {
    	float: left;
    	
    }
    .attendancelisttable td:nth-child(1) i
	{
		font-size:20px;
		
	}
	.btnmasternote, .btnmasternote i
	{
		padding: 2px;
   		padding-right: 10px;
   		padding-left: 10px;
   		border:0px #ccc solid;
		font-size:28px;
		background: #fff;
		
	}	    
	.attendancelisttable
	{
	  line-height:45px;
	}
	.attendancelisttable td:nth-child(2)
	{
		padding-left: 10px;
		font-size:13px;
	}
	.attendancelisttable td:nth-child(3) button
	{
   		padding: 2px;
   		padding-right: 10px;
   		padding-left: 10px;
   		font-size:13px;	
	}
	.attendancelisttable td:nth-child(4) button
	{
		padding: 2px;
   		padding-right: 10px;
   		padding-left: 10px;
   		font-size:13px;		
	}
	.attendancelisttable td:nth-child(5) button
	{
		padding: 2px;
   		padding-right: 10px;
   		padding-left: 10px;
   		font-size:13px;	
	}
	.attendancelisttable td:nth-child(6) button
	{
		padding: 2px;
   		padding-right: 10px;
   		padding-left: 10px;
   		font-size:13px;	
	}

	.btn, .btn-outline-info, .btn-outline-danger, .btn-outline-warning
	{
		border:1px #B5B5B5 solid;
		color:#B5B5B5;
	}
	.cal_inner_holder
	{
		width:60px;
		font-size:11px;
		margin-top:35px;

	}
	.cal_inner_holder_right
	{
		font-size:11px;
		float:right;
		border-radius:3px;
		margin:1px;
		margin-left:15px;
		
	}
	.cal_inner{
		float:left;
		border-radius:3px;
		background:#CCC;
		padding:2px;
		margin:1px;
	}
							  
	
</style>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body
	class="vertical-layout vertical-menu-modern boxicon-layout no-card-shadow 2-columns  navbar-sticky footer-static  "
	data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

		<!-- BEGIN: Header-->
		 <div th:insert="header">  </div>
		<!-- END: Header-->


		<!-- BEGIN: Main Menu-->
		<div th:insert="menu">  </div>
		<!-- END: Main Menu-->

			<!-- BEGIN: Content-->
				<!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                        
                        	 <!--scrolling content Modal -->
                         		<div class="modal fade" id="employeeStatusScrollable" tabindex="-1" role="dialog" aria-labelledby="employeeStatusScrollableTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-warning">
                                            <h5 class="modal-title white" id="employeeStatusScrollableTitle"></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <i class="bx bx-x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-md-12">
                                             <div class="form-group">
                                                 <label for="addmodel">Note</label>
                                                 <div class="position-relative">
                                                     <fieldset class="form-group">
                                            	<input type="hidden" id="additemalltxt"/>
                                            	<textarea id="additemall" name="addmodel" class="form-control">
                                            	
                                            	</textarea>
                                         </fieldset>
                                                 </div>
                                             </div>
                                         </div>
                                       
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Close</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ml-1" id="additemallsavebtn">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">ADD</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          	 <!--scrolling content Modal -->
                            <h5 class="content-header-title float-left pr-1 mb-0">Attendance</h5>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb p-0 mb-0">
                                    <li class="breadcrumb-item"><a href="index.html"><i class="bx bx-home-alt"></i></a>
                                    </li>
                                  
                                	   
                                </ol>
                                
                            </div>
                        </div>
                   
                    </div>
                </div>
                
            </div>
            <div class="content-body">
              
				 <!-- Zero configuration table -->
                <section id="basic-datatable">
                    <div class="row">
                        <div class="col-12">
                        	<div class="card">
                                <div class="">
                                    <div class="card-body">
                                    	<div class="row">
                                        	<div class="col-md-6">
		                                        <!-- ---------------------- -- ---------------------- -->
		                                        <!-- ---------------------- -- ---------------------- -->
		                                        <div class="table-responsive">
		                                        <div class="calender">
		                                        	<span class="caltoptxtcontainer">
			                                        	<a th:href="@{empattendance?date={d}(d=${preDate})}">
				                                        	<span class="caltoptxt"><i class="bx bx-chevron-left"></i></span>
				                                        </a>
			                                        	<span class="caltoptxt" th:text="${currentmonname}"></span>
			                                        	<span class="caltoptxt" th:text="${currentyear}"></span>
			                                        	<a th:href="@{empattendance?date={d}(d=${nxtDate})}">
			                                        		<span class="caltoptxt"><i class="bx bx-chevron-right"></i></span>
			                                        	</a>
		                                        	</span>
			                                        
				                                        <table  id='tabledate' class="">
				                                        	<tr>
				                                            <th class='ttd'>Sun</th>
				                                            <th class='ttd'>Mon</th>
				                                            <th class='ttd'>Tue</th>
				                                            <th class='ttd'>Wed</th>
				                                            <th class='ttd'>Thu</th>
				                                            <th class='ttd'>Fri</th>
				                                            <th class='ttd'>Sat</th>
				                                      	  </tr>
				                                       
				                                       		 [(${calhtml})]
				                                        </table>
				                                     </div>
				                                     
		                                        </div>
		                                        <!-- ---------------------- -- ---------------------- -->
		                                        <!-- ---------------------- -- ---------------------- -->
		                                        
		                                     </div>
		                                     <div class="col-md-6">
                                                <div class="row">
	                                                  <div class="form-group col-md-6">
	                                                      <div class="position-relative has-icon-left">
                                                               	<input type="hidden" id="currentdd" th:value="${currentdd}" />
                                                                <select class="form-control" id="basicSelect">
				                                                        <option>-Select Branch</option>
				                                                        <option>Coimbatore</option>
				                                                        <option>Madurai</option>
				                                                        <option>Pollachi</option>
				                                                    </select>
				                                                 <div class="form-control-position">B-</div>
                                                            </div>
	                                                  </div>
	                                                  <div class="form-group col-md-2">
	                                                  	   <label class="emptitle additem" name="masterremarksdata">
	                                                  	   <input type="hidden" id="master"/>
	                                                      	<button type="button" class="btnmasternote"><i class="bx bx-notepad"></i></button>
	                                                      </label>
	                                                  </div>
	                                                  <div class="form-group col-md-4">
	                                                      <select class="form-control" id="atten_status_change">
		                                                        <option>Mark All As</option>
		                                                        <option>Present</option>
		                                                        <option>Absent</option>
		                                                        <option>Tardy</option>
		                                                        <option>Half Day</option>
		                                                    </select>
	                                                  </div>
	                                                  <div class="table-responsive col-md-12">
				                                        <table class="attendancelisttable">
				                                        <tr>
				                                             <td width="5%"><label class="emptitle additem" name="remark1"><input type="hidden" class="childremarks"  id="remark1"/><i class="bx bx-notepad"></i></label></td>
				                                             <td width="50%">Kanagavel K</td>
				                                             <td width="15%"><button type="button" name="1" class="btn btnp ">P</button></td>
				                                             <td  width="15%"><button type="button" name="1" class="btn btna ">A</button></td>
				                                             <td  width="15%"><button type="button" name="1" class="btn btnt ">T</button></td>
				                                             <td  width="15%"><button type="button" name="1" class="btn btnhl ">HL</button></td>
				                                      	  </tr>
				                                      	  <tr>
				                                             <td width="5%"><label class="emptitle additem" name="remark2"><input type="hidden" class="childremarks"  id="remark2"/><i class="bx bx-notepad"></i></label></td>
				                                             <td width="50%">Kanagavel K</td>
				                                             <td width="15%"><button type="button" name="2" class="btn btnp ">P</button></td>
				                                             <td  width="15%"><button type="button" name="2" class="btn btna ">A</button></td>
				                                             <td  width="15%"><button type="button" name="2" class="btn btnt ">T</button></td>
				                                             <td  width="15%"><button type="button" name="2" class="btn btnhl ">HL</button></td>
				                                      	  </tr>
				                                      	  <tr>
				                                             <td width="5%"><label class="emptitle additem" name="remark3"><input type="hidden" class="childremarks"  id="remark3"/><i class="bx bx-notepad"></i></label></td>
				                                             <td width="50%">Kanagavel K</td>
				                                             <td width="15%"><button type="button" name="3" class="btn btnp ">P</button></td>
				                                             <td  width="15%"><button type="button" name="3" class="btn btna ">A</button></td>
				                                             <td  width="15%"><button type="button" name="3" class="btn btnt ">T</button></td>
				                                             <td  width="15%"><button type="button" name="3" class="btn btnhl ">HL</button></td>
				                                      	  </tr>
				                                      	   <tr>
				                                             <td width="5%"><label class="emptitle additem" name="remark4"><input type="hidden" class="childremarks" id="remark4"/><i class="bx bx-notepad"></i></label></td>
				                                             <td width="50%">Kanagavel K</td>
				                                             <td width="15%"><button type="button" name="4" class="btn btnp ">P</button></td>
				                                             <td  width="15%"><button type="button" name="4" class="btn btna ">A</button></td>
				                                             <td  width="15%"><button type="button" name="4" class="btn btnt ">T</button></td>
				                                             <td  width="15%"><button type="button" name="4" class="btn btnhl ">HL</button></td>
				                                      	  </tr>
				                                      	   
				                                      	   
				                                      	  <tr>
				                                             <td colspan="6" align="right">
				                                             <br/><br/>
				                                             <button type="button" id="saveall" class="btn btn-secondary mr-1 mb-1 text-white">Save</button></td>
				                                      	  </tr>
				                                      	  	 
				                                        </table>
				                                      
				                                     </div>
				                                    
	                                                  
	                                            </div>
		                                  </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--/ Zero configuration table -->               

            </div>
        </div>
    </div>
			<!-- END: Content-->


		
		<div class="sidenav-overlay"></div>
		<div class="drag-target"></div>

		<!-- BEGIN: Footer-->
		<footer class="footer footer-static footer-light">
		<p class="clearfix mb-0">
			<span class="float-left d-inline-block"></span><span
				class="float-right d-sm-inline-block d-none"></span>
			<button class="btn btn-primary btn-icon scroll-top" type="button">
				<i class="bx bx-up-arrow-alt"></i>
			</button>
		</p>
		</footer>
		<!-- END: Footer-->


		<!-- BEGIN: Vendor JS-->
		<script th:src="@{/app-assets/vendors/js/vendors.min.js}"></script>
		<script
			th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js}"></script>
		<script
			th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js}"></script>
		<script
			th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js}"></script>
		<!-- BEGIN Vendor JS-->

		<!-- BEGIN: Page Vendor JS-->
		<script th:src="@{/app-assets/vendors/js/charts/apexcharts.min.js}"></script>
		<script th:src="@{/app-assets/vendors/js/extensions/dragula.min.js}"></script>
		<!-- END: Page Vendor JS-->

		<!-- BEGIN: Theme JS-->
		<script th:src="@{/app-assets/js/core/app-menu.js}"></script>
		<script th:src="@{/app-assets/js/core/app.js}"></script>
		<script th:src="@{/app-assets/js/scripts/components.js}"></script>
		<script th:src="@{/app-assets/js/scripts/footer.js}"></script>
		<!-- END: Theme JS-->

		<!-- BEGIN: Page JS-->
		<script
			th:src="@{/app-assets/js/scripts/pages/dashboard-analytics.js}"></script>
		<!-- END: Page JS-->
</body>
<!-- END: Body-->
<script>
	$(document).ready(function(){
		$('.td').click(function(){
			alert($(this).attr('name'));
		});
		//--------------------------------------------------------
		
		$('#atten_status_change').change(function(){

			var selected_val=$('#atten_status_change').val();
		
			$('.btnp').removeClass("cp btn-success text-white");
			$('.btna').removeClass("ca btn-danger text-white");				
			$('.btnt').removeClass("ct btn-warning text-white");					
			$('.btnhl').removeClass("chl btn-light text-white");
			
				if(selected_val=="Present")
				{
					$('.btnp').toggleClass("cp btn-success text-white");
				}
				if(selected_val=="Absent")
				{
					$('.btna').toggleClass("ca btn-danger text-white");
				}
				if(selected_val=="Tardy")
				{
					$('.btnt').toggleClass("ct btn-warning text-white");					
				}
				if(selected_val=="Half Day")
				{
					$('.btnhl').toggleClass("chl btn-light text-white");					
				}
		});
		//--------------------------------------------------------
		//--------------------------------------------------------
		$(".btnp").click(function()
		{			
			var empid_name=$(this).attr('name');							
			remover_atten_status(empid_name);	
	  		$(this).toggleClass(" cp btn-success text-white");
			
		});
		$(".btna").click(function()
		{
			var empid_name=$(this).attr('name');							
			remover_atten_status(empid_name);		
			$(this).toggleClass(" ca btn-danger text-white");
		});
		$(".btnt").click(function()
		{
			var empid_name=$(this).attr('name');							
			remover_atten_status(empid_name);		
			$(this).toggleClass(" ct btn-warning text-white");
		});
		$(".btnhl").click(function()
		{
			var empid_name=$(this).attr('name');							
			remover_atten_status(empid_name);		
			$(this).toggleClass(" chl btn-light text-white");
		});
		
		//--------------------------------------------------------
		//--------------------------------------------------------

		function remover_atten_status(empid_name)
		{
			
			$('.btnp[name='+empid_name+']').removeClass("cp btn-success text-white");
			$('.btna[name='+empid_name+']').removeClass("ca btn-danger text-white");				
			$('.btnt[name='+empid_name+']').removeClass("ct btn-warning text-white");
			$('.btnhl[name='+empid_name+']').removeClass("chl btn-light text-white");		
			
		}
		
		//--------------------------------------------------------------------------------
		
				
		$('#saveall').click(function(){
			var currentdd=$('#currentdd').val();
			
			//------------------------------------------------------------------------------
			// Update calendar as per the attendance count
			var P=0;
			var A=0; 
			var T=0;
			var HL=0; 
			
			P=document.querySelectorAll('.cp').length;
			A=document.querySelectorAll('.ca').length;
			T=document.querySelectorAll('.ct').length;
			HL=document.querySelectorAll('.chl').length;
			 
			$('.cal_innerp' + currentdd).text(P);
			$('.cal_innera' + currentdd).text(A);
			$('.cal_innert' + currentdd).text(T);
			$('.cal_innerhl' + currentdd).text(HL);
			//------------------------------------------------------------------------------
		});
		
		
	});
</script>	
		<script>
			$(document).ready(function(){
				
				$(".additem").click(function(){
					var name=$(this).attr('name');
					var labeltext="";
					if(name=="masterremarksdata")
					{ labeltext="master"; }
					else
					{
						labeltext=name; 
					}
					$('#additemalltxt').val(labeltext);
					
					$("#additemall").val($('#'+labeltext).val());
					$('#employeeStatusScrollable').modal('toggle');
					
				});
				
				$("#additemallsavebtn").click(function(){
						
					if($("#additemall").val()!='')
					{
						var name=$('#additemalltxt').val();
						var labeltext="";
						if(name=="master"){ labeltext="master"; 
							$('.childremarks').val($("#additemall").val());
							$('#master').val($("#additemall").val());
						}
						else
						{
							labeltext=name;
							$('#' + labeltext).val($("#additemall").val());
						}
						
						$('#employeeStatusScrollable').modal('toggle');
					}
				});
			});
		
		</script>

</html>