<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en"
	class="light-style layout-navbar-fixed layout-menu-fixed" dir="ltr"
	data-theme="theme-semi-dark" th:data-assets-path="@{/assets/}"
	data-template="vertical-menu-template">
<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

<title>Empolyee </title>

<meta name="description" content="" />

<!-- Favicon -->
<link rel="icon" type="image/x-icon"
	th:href="@{/assets/img/favicon/favicon.ico}" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
	rel="stylesheet" />

<!-- Icons -->
<link rel="stylesheet" th:href="@{/assets/vendor/fonts/boxicons.css}" />
<link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome.css}" />
<link rel="stylesheet" th:href="@{/assets/vendor/fonts/flag-icons.css}" />

<!-- Core CSS -->
<link rel="stylesheet" th:href="@{/assets/vendor/css/rtl/core.css}"
	class="template-customizer-core-css" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/css/rtl/theme-default.css}"
	class="template-customizer-theme-css" />
<link rel="stylesheet" th:href="@{/assets/css/demo.css}" />

<!-- Vendors CSS -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/typeahead-js/typeahead.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/animate-css/animate.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/sweetalert2/sweetalert2.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/flatpickr/flatpickr.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/jquery-timepicker/jquery-timepicker.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/select2/select2.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css}" />

<!-- Page CSS -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/css/pages/page-profile.css}" />
<!-- Helpers -->
<script th:src="@{/assets/vendor/js/helpers.js}"></script>

<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
<script th:src="@{/assets/vendor/js/template-customizer.js}"></script>
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script th:src="@{/assets/js/config.js}"></script>
<style>
.bx-check-circle{
color:green;
}

</style>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body>
	<!-- Layout wrapper -->
	<div class="layout-wrapper layout-content-navbar">
		<div class="layout-container">
			<!-- Menu -->
			<div th:insert="menu"></div>
			<!-- / Menu -->

			<!-- Layout container -->
			<div class="layout-page">
				<!-- Navbar -->

				<div th:insert="header"></div>
				
			<div class="content-wrapper">
					<!-- Content -->

					<div class="container-xxl flex-grow-1 container-p-y">
						<h4 class="py-3 breadcrumb-wrapper mb-4">
							<span class="text-muted fw-light">User Profile /</span> Employee Job
						</h4>

						<!-- Header -->
						<section id="basic-vertical-layouts">
                    <div class="row match-height">
                        <div class="col-12">
                       
                          <div class="card">
     <div class="card-content">
<div class="card-body">
<div class="col-md-12">
<div class="form-group">
  <label class="empnametitle"><span  th:text="${emptitle}"></span>
  <input type="hidden" th:value='${empid}' id="empid" />
  </label>
</div>
     </div>
         
    <div class="col-md-12">
     <div class="form-group">
 <label class="emptitle"> <i class="bx bx-briefcase-alt-2 ownstyle"></i> JOB</label>
</div>
    </div>
    <div class="col-md-12">
    
     <div class="form-group">
     <label for="contact-info-icon">Hire Date</label>
     <div class="form-group">
     <div class="position-relative has-icon-left">
<input type="hidden"  class="e1 form-control"  id="hiredateid" />
<input type="date"  class="e1 form-control" th:value="${employeeJobemphiredate}" id="hiredate" />

<!-- <div class="form-control-position">
    <i class="bx bx-calendar-event"></i>
</div> -->

   </div>       
       </div>
        </div>
     
     <div class="form-group mt-2">
<button type="button" class="e2 position-relative  btn btn-primary ml-1" id="hiredatebtn">
        Save
    </button>
  </div>
        
       </div>
     <hr/>
<div class="col-md-12">


<!--scrolling content Modal -->
    <div class="modal fade" id="addnewitemmodelScrollable" tabindex="-1" role="dialog" aria-labelledby="addnewitemmodelScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
   <div class="modal-content">
       <div class="modal-header bg-warning">
  <h5 class="modal-title white" id="addnewitemmodelScrollableTitle"></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <i class="bx bx-x"></i>
  </button>
       </div>
       <div class="modal-body">
  <div class="col-md-12">
  <div class="form-group">
      <label for="addmodel" id="temp"></label>
      <div class="position-relative">
 <fieldset class="form-group">
      <input type="text" id="temp" name="addmodel" class="form-control" >
   </fieldset>
      </div>
  </div>
       </div>
     
       </div>
       <div class="modal-footer">
  <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
      <i class="bx bx-x d-block d-sm-none"></i>
      <span class="d-none d-sm-block">Close</span>
  </button>
  <button type="button" class="btn btn-primary ml-1" id="tempsavebtn">
      <i class="bx bx-check d-block d-sm-none"></i>
      <span class="d-none d-sm-block">ADD</span>
  </button>
       </div>
   </div>
        </div>
    </div>
     <!--scrolling content Modal -->
        
        


        <div class="form-group">
        
  <label class="emptitle"> <i class="bx bxs-id-card ownstyle"></i> Employment Status</label>
  <div class="form-group" style="float:right"> 
  <label class="emptitle newemplstatus" data-toggle="modal" data-target="#employeeStatusScrollable"><i class="bx bxs-plus-circle ownstyle1"></i>Update</label>
</div>
</div>
<!--scrolling content Modal -->
    <div class="modal fade" id="employeeStatusScrollable" tabindex="-1" role="dialog" aria-labelledby="employeeStatusScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
   <div class="modal-content">
       <div class="modal-header bg-warning">
  <h5 class="modal-title white" id="employeeStatusScrollableTitle">Employment Status</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <i class="bx bx-x"></i>
  </button>
       </div>
       <div class="modal-body">
  <div class="col-md-12">
  <div class="form-group">
      <label for="email-id-icon">Employment Status
      <label class="emptitle additem" name="addemployeestatusdata"><i class="bx bxs-plus-circle ownstyle1"></i></label>
      </label>
      <div class="position-relative has-icon-left">
 <fieldset class="form-group">
 <input type="hidden"  id="employeeJobempstatusid"/>
       <input type="hidden"  id="employeeJobempstatusidrow"/>
       <select class="form-control addemployeestatusdata" id="empstatus_employmentstatus">
  <option>-</option>
  <th:block th:each="str :${EmploymentStatus}">
<option  th:value="${str}"  th:text="${str}"></option>
</th:block>
</select>
   </fieldset>
      </div>
  </div>
       </div>
      
      <div class="Termination col-md-12">
  <div class="form-group">
      <label for="email-id-icon">Termination Type
      <label class="emptitle additem" name="addterminationtypedata"><i class="bx bxs-plus-circle ownstyle1"></i></label>
      </label>
      <div class="position-relative has-icon-left">
 <fieldset class="form-group">
       <select class="form-control addterminationtypedata" id="empstatus_terminationtype">
  <option>-</option>
  <th:block th:each="str :${TerminationType}">
<option  th:value="${str}"  th:text="${str}"></option>
</th:block>
  
</select>
   </fieldset>
      </div>
  </div>
       </div>
       <div class="Termination col-md-12">
  <div class="form-group">
      <label for="email-id-icon">Termination Reason
      <label class="emptitle additem" name="addterminationreasondata"><i class="bx bxs-plus-circle ownstyle1"></i></label>
      </label>
      <div class="position-relative has-icon-left">
 <fieldset class="form-group">
 
       <select class="form-control addterminationreasondata" id="empstatus_terminationreason">
  <option>-</option>
  <th:block th:each="str :${TerminationReason}">
<option  th:value="${str}"  th:text="${str}"></option>
</th:block>
  
</select>
   </fieldset>
      </div>
  </div>
       </div>
       <div class="Termination col-md-12">
  <div class="form-group">
      <label for="email-id-icon">Eligible for rehire
      
      </label>
      <div class="position-relative has-icon-left">
 <fieldset class="form-group">
       <select class="form-control" id="empstatus_rehire">
  <option>-</option>
  <option>Yes</option>
  <option>No</option>
  <option>Upon review </option>
  
</select>
   </fieldset>
      </div>
  </div>
       </div>
       
       
       <div class="col-md-12">
  <div class="form-group">
      <label for="contact-info-icon">Effective Date</label>
      <div class="position-relative has-icon-left">
 <input type="date"  class="form-control" id="empstatus_effectivedate">
 <div class="form-control-position">
     <i class="bx bx-calendar-event"></i>
 </div>
      </div>
  </div>
       </div>
        <div class="col-md-12">
  <div class="form-group">
      <label for="contact-info-icon">Remarks</label>
      <div class="position-relative has-icon-left">
 <input type="text"  class="form-control" id="empstatus_remarks">
 <div class="form-control-position">
     <i class="bx bx-comment"></i>
 </div>
      </div>
  </div>
       </div>
       
       </div>
       <div class="modal-footer">
  <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
      <i class="bx bx-x d-block d-sm-none"></i>
      <span class="d-none d-sm-block">Close</span>
  </button>
  <button type="button" class="btn btn-primary ml-1" data-dismiss="modal" id="tbl_EMPLOYMENTSTATUS_save">
      <i class="bx bx-check d-block d-sm-none"></i>
      <span class="d-none d-sm-block">Save</span>
  </button>
       </div>
   </div>
        </div>
    </div>
     <!--scrolling content Modal -->
   </div>
 <div class="table-responsive mt-2" id="tbl_EMPLOYMENTSTATUS">
<table class="table table-hover table-bordered mb-0">
    <thead>
        <tr>
   <th>Effective Date</th>
   <th>Employment Status</th>
   <th colspan="2">Remarks</th>
  
        </tr>
    </thead>
    <tbody>
        <tr th:each="emp,stat : ${employeeJobempstatus}">
   <td class="text-bold-500">
   <th:block th:if="${emp.employeejobempstatusid} == ${greenpointemployementstatus}">
   <span class="bullet bullet-sm bullet-success"></span>
   </th:block>
   
   <input type="hidden" th:value="${emp.employeejobempstatusid}" th:id="'tblemployeeJobempstatusid' + ${stat.index}"/>
   <input type="hidden" th:id="'tblempstatus_effectivedate' + ${stat.index}" th:value="${emp.empstatus_effectivedate}" />
  <th:block th:if="${emp.empstatus_effectivedate} !=''">
  <span  th:text="${#strings.arraySplit(emp.empstatus_effectivedate,'-')[2]}+'-'+${#strings.arraySplit(emp.empstatus_effectivedate,'-')[1]}+'-'+${#strings.arraySplit(emp.empstatus_effectivedate,'-')[0]}"></span>
   </th:block>
   
   </td>
   <td>
   <span th:id="'tblempstatus_employmentstatus' + ${stat.index}" th:text="${emp.empstatus_employmentstatus}"></span>
   <input type="hidden" th:value="${emp.empstatus_terminationtype}" th:id="'tblempstatus_terminationtype' + ${stat.index}"/>
   <input type="hidden" th:value="${emp.empstatus_terminationreason}" th:id="'tblempstatus_terminationreason' + ${stat.index}"/>
   <input type="hidden" th:value="${emp.empstatus_rehire}" th:id="'tblempstatus_rehire' + ${stat.index}"/>
   
   </td>
   <td class="text-bold-500">
   <span th:id="'tblempstatus_remarks' + ${stat.index}" th:text="${emp.empstatus_remarks}"></span>
   </td>
   <td width="110px"><span class="iconalign">
   
   <span  data-toggle="modal" data-target="#employeeStatusScrollable" th:name="${stat.index}" class="updateemplstatus"><i class="bx bxs-pencil"></i></span>
   <span  data-toggle="modal" data-target="#deleteInformationScrollable" th:name="${emp.employeejobempstatusid}" th:id="${stat.index}" class="deleteemplstatus"><i class="bx bxs-trash-alt"></i></span>
   
   <span>
   </td>
   <script>
tblemployeeJobempstatusid=tblemployeeJobempstatusid+1;
</script>
        </tr>
        
       </tbody>
</table>
     </div>
 <br/><hr/><br/>
 <div class="col-md-12">
        <div class="form-group">
        
  <label class="emptitle"> <i class="bx bxs-briefcase-alt-2 ownstyle"></i>Job Information</label>
  <div class="form-group" style="float:right"> 
  <label class="emptitle newemplinfostatus"  data-toggle="modal" data-target="#jobInformationScrollable"> <i class="bx bxs-plus-circle ownstyle1"></i>Update</label>
</div>
</div>
<!--scrolling content Modal -->
    <div class="modal fade" id="jobInformationScrollable" tabindex="-1" role="dialog" aria-labelledby="jobInformationScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
   <div class="modal-content">
       <div class="modal-header bg-warning">
  <h5 class="modal-title white" id="jobInformationScrollableTitle">Job Information</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <i class="bx bx-x"></i>
  </button>
       </div>
       <div class="modal-body">
  
       <div class="col-md-12">
  <div class="form-group">
      <label for="contact-info-icon">Effective Date</label>
      <div class="position-relative has-icon-left">
      <input type="hidden"  class="form-control" id="employeejobinfoid">
      <input type="hidden" class="form-control" id="employeejobinfoidrow">
 <input type="date"  class="form-control" id="jobeffectivedate">
 <div class="form-control-position">
     <i class="bx bx-calendar-event"></i>
 </div>
      </div>
  </div>
       </div>
       <div class="col-md-12">
  <div class="form-group">
      <label for="email-id-icon">Location</label>
      <div class="position-relative has-icon-left">
 <fieldset class="form-group">
       <select class="form-control"  id="joblocation">
  <th:block th:each="obj : ${branchls}">
  <option th:text="${obj.BRANCH_NAME}"></option>
  </th:block>
 </select>
   </fieldset>
      </div>
  </div>
       </div>
       <div class="col-md-12">
  <div class="form-group">
      <label for="email-id-icon">Department
      <label class="emptitle additem" name="adddepartmentdata"><i class="bx bxs-plus-circle ownstyle1"></i></label>
      </label>
      <div class="position-relative has-icon-left">
 <fieldset class="form-group">
       <select class="form-control adddepartmentdata"  id="jobdeparment">
  <option>-</option>
 <th:block th:each="str :${Department}">
<option  th:value="${str}"  th:text="${str}"></option>
</th:block>
</select>
   </fieldset>
      </div>
  </div>
       </div>
       <div class="col-md-12">
  <div class="form-group">
      <label for="email-id-icon">Job Title
      <label class="emptitle additem" name="addjobtitledata"><i class="bx bxs-plus-circle ownstyle1"></i></label>
      </label>
      <div class="position-relative has-icon-left">
 <fieldset class="form-group">
       <select class="form-control addjobtitledata"  id="jobtitle">
  <option>-</option>
  <th:block th:each="str :${JobTitle}">
<option  th:value="${str}"  th:text="${str}"></option>
</th:block>
  
  
</select>
   </fieldset>
      </div>
  </div>
       </div>
        <div class="col-md-12">
  <div class="form-group">
      <label for="contact-info-icon">Reports To</label>
      <div class="position-relative has-icon-left">
 
 <select class="form-control" id="jobreportsto">
  <option>-</option>
 <th:block th:each="str :${EffectiveEmployee}">
<option  th:value="${str.StaffName +'-'+ str.empMasterid}"  th:text="${str.StaffName}"></option>
</th:block>
</select>
 
 <div class="form-control-position">
     <i class="bx bx-comment"></i>
 </div>
      </div>
  </div>
       </div>
       
       </div>
       <div class="modal-footer">
  <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
      <i class="bx bx-x d-block d-sm-none"></i>
      <span class="d-none d-sm-block">Close</span>
  </button>
  <button type="button" class="btn btn-primary ml-1" data-dismiss="modal" id="tbl_jobinfo_save">
      <i class="bx bx-check d-block d-sm-none"></i>
      <span class="d-none d-sm-block">Save</span>
  </button>
       </div>
   </div>
        </div>
     </div>
     <!--scrolling content Modal -->

    </div>
 <div class="table-responsive mt-2">
<table class="table table-hover table-bordered mb-0" id="tbl_JOB_information">
    <thead>
        <tr>
   <th>Effective Date</th>
   <th>Location</th>
   <th>Department</th>
   <th>Job Title</th>
   <th colspan="2">Reports To</th>
   
        </tr>
    </thead>
    <tbody>
        <tr th:each="emp,stat : ${employeeJobinfomation}">
   <td class="text-bold-500">
    <th:block th:if="${emp.employeejobinfoid} == ${greenpointjobstatus}">
   <span class="bullet bullet-sm bullet-success"></span>
   </th:block>
  <input type="hidden" th:value="${emp.employeejobinfoid}" th:id="'tblemployeejobinfoid' + ${stat.index}"/>
  <input type="hidden" th:value="${emp.jobeffectivedate}" th:id="'tbljobeffectivedate' + ${stat.index}"/>

<th:block th:if="${emp.jobeffectivedate} !=''">
  <span  th:text="${#strings.arraySplit(emp.jobeffectivedate,'-')[2]}+'-'+${#strings.arraySplit(emp.jobeffectivedate,'-')[1]}+'-'+${#strings.arraySplit(emp.jobeffectivedate,'-')[0]}"></span>
   </th:block>
   
   </td>
   <td>
   <span th:id="'tbljoblocation' + ${stat.index}" th:text="${emp.joblocation}"></span>
   </td>
   <td>
   <span th:id="'tbljobdeparment' + ${stat.index}" th:text="${emp.jobdeparment}"></span>
   </td>
   <td>
   <span th:id="'tbljobtitle' + ${stat.index}" th:text="${emp.jobtitle}"></span>
   </td>
   <td>
   <span th:id="'tbljobreportsto' + ${stat.index}" th:text="${emp.jobreportsto}"></span>
   </td>
   <td><span class="iconalign">
<span  data-toggle="modal" data-target="#jobInformationScrollable" th:name="${stat.index}" class="updatejobinfostatus"><i class="bx bxs-pencil"></i></span>
   <span  data-toggle="modal" data-target="#deleteInformationScrollable" th:name="${emp.employeejobinfoid}"  th:id="${stat.index}" class="deletejobinfostatus"><i class="bx bxs-trash-alt"></i></span>
</span></td>
 <script>
 tblemployeeJobinfoid=tblemployeeJobinfoid+1;
</script>
        </tr>
        </tbody>
</table>
     </div>
 <br/><hr/><br/>
 <div class="col-md-12">
        <div class="form-group">
  <label class="emptitle"> <i class="bx bx-dollar-circle ownstyle"></i>Compensation</label>
  <div class="form-group" style="float:right"> 
  <label class="emptitle newempcompensationstatus"  data-toggle="modal" data-target="#compensationScrollable"><i class="bx bxs-plus-circle ownstyle1"></i>Update</label>
</div>
</div>
 <!--scrolling content Modal -->
    <div class="modal fade" id="compensationScrollable" tabindex="-1" role="dialog" aria-labelledby="compensationScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
   <div class="modal-content">
       <div class="modal-header bg-warning">
  <h5 class="modal-title white" id="compensationScrollableTitle">Compensation</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <i class="bx bx-x"></i>
  </button>
       </div>
       <div class="modal-body">
  <div class="col-md-12">
  <div class="form-group">
      <label for="contact-info-icon">Effective Date</label>
      <div class="position-relative has-icon-left">
 <input type="hidden"  class="form-control" id="employeejobcompensationid">
      <input type="hidden" class="form-control" id="employeejobcompensationidrow">
     <input type="date"  class="form-control" id="comeffectivedate">
 <div class="form-control-position">
     <i class="bx bx-calendar-event"></i>
 </div>
      </div>
  </div>
       </div>
     <div class="col-md-12">
  <div class="form-group">
      <label for="email-id-icon">Pay Schedule</label>
      <div class="position-relative has-icon-left">
 <fieldset class="form-group">
       <select class="form-control"  id="comPayschedule">
  <option>-</option>
  <option>Monthly</option>
  <option>Weekly</option>
  <option>Day</option>
 </select>
   </fieldset>
      </div>
  </div>
       </div>
       <div class="col-md-12">
  <div class="form-group">
      <label for="email-id-icon">Pay Type</label>
      <div class="position-relative has-icon-left">
 <fieldset class="form-group">
       <select class="form-control"  id="compaytype">
  <option>-</option>
  <option>Salary</option>
        </select>
        
   </fieldset>
      </div>
  </div>
       </div>
       <div class="col-md-12">
  <div class="form-group">
      <label for="email-id-icon">Pay Rate
      <!-- <label class="emptitle additem" name="addpayratedata"><i class="bx bxs-plus-circle ownstyle1"></i></label> -->
      </label>
      <div class="position-relative has-icon-left">
 <fieldset class="form-group">
       <input type="text"  class="form-control"  style="width:50%;float:left;" id="compayrate">
       <div class="form-control-position">
     <i class="bx bx-money"></i>
 </div>
   
       <select class="form-control addpayratedata"  style="width:50%;float:right" id="compayratetype">
  <option>-</option>
  <option>Day</option>
  <option>Month</option>
  <option>Year</option>
 </select>
   </fieldset>
      </div>
  </div>
       </div>
       <div class="col-md-12">
  <div class="form-group">
      <label for="email-id-icon">Change Reason
      <label class="emptitle additem" name="addchangereasondata"><i class="bx bxs-plus-circle ownstyle1"></i></label>
      </label>
      <div class="position-relative has-icon-left">
 <fieldset class="form-group">
       <select class="form-control addchangereasondata"  id="comchangereason">
  <option>-</option>
  <th:block th:each="str :${PAYCHANGEREASON}">
<option  th:value="${str}"  th:text="${str}"></option>
</th:block>
  
 </select>
   </fieldset>
      </div>
  </div>
       </div>
        <div class="col-md-12">
  <div class="form-group">
      <label for="contact-info-icon">Comments</label>
      <div class="position-relative has-icon-left">
 <input type="text"  class="form-control" id="comcomments">
 <div class="form-control-position">
     <i class="bx bx-comment"></i>
 </div>
      </div>
  </div>
       </div>
       
       </div>
       <div class="modal-footer">
  <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
      <i class="bx bx-x d-block d-sm-none"></i>
      <span class="d-none d-sm-block">Close</span>
  </button>
  <button type="button" class="btn btn-primary ml-1" data-dismiss="modal" id="tbl_jobcompensation_save">
      <i class="bx bx-check d-block d-sm-none"></i>
      <span class="d-none d-sm-block">Save</span>
  </button>
       </div>
   </div>
        </div>
    </div>
     <!--scrolling content Modal -->
   </div>
 <div class="table-responsive mt-2">
<table class="table table-hover table-bordered mb-0" id="tbl_compensation_information">
    <thead>
        <tr>
   <th>Effective Date</th>
   <th>Pay Schedule</th>
   <th>Pay Type</th>
   <th>Pay Rate</th>
   <th>Change Reason</th>
   <th  colspan="2">Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="emp,stat : ${employeecompensation}">
   <td class="text-bold-500">
    <th:block th:if="${emp.employeejobcompensationid} == ${greenpointcompensationstatus}">
   <span class="bullet bullet-sm bullet-success"></span>
   </th:block>
   <input type="hidden" th:value="${emp.employeejobcompensationid}" th:id="'tblemployeejobcompensationid' + ${stat.index}"/>
   <input type="hidden" th:value="${emp.comeffectivedate}" th:id="'tblcomeffectivedate' + ${stat.index}"/>
   <th:block th:if="${emp.comeffectivedate} !=''">
  <span  th:text="${#strings.arraySplit(emp.comeffectivedate,'-')[2]}+'-'+${#strings.arraySplit(emp.comeffectivedate,'-')[1]}+'-'+${#strings.arraySplit(emp.comeffectivedate,'-')[0]}"></span>
   </th:block>
   
   </td>
   <td>
   <span th:id="'tblcomPayschedule' + ${stat.index}" th:text="${emp.comPayschedule}"></span>
   </td>
   <td>
   <span th:id="'tblcompaytype' + ${stat.index}" th:text="${emp.compaytype}"></span>
   </td>
   <td>
   <span th:id="'tblcompayrate' + ${stat.index}" th:text="${emp.compayrate}"></span>
   <span th:id="'tblcompayratetype' + ${stat.index}" th:text="${emp.compayratetype}"></span>
   </td>
   <td>
   <span th:id="'tblcomchangereason' + ${stat.index}" th:text="${emp.comchangereason}"></span>
   </td>
   <td>
   <span th:id="'tblcomcomments' + ${stat.index}" th:text="${emp.comcomments}"></span>
   </td>
   <td><span class="iconalign">
<button  data-toggle="modal" data-target="#compensationScrollable" th:name="${stat.index}"  class="updatejobcompensationstatus"><i class="bx bxs-pencil"></i></button>
   <span  data-toggle="modal" data-target="#deleteInformationScrollable" th:name="${emp.employeejobcompensationid}"  th:id="${stat.index}" class="deletecompensationstatus"><i class="bx bxs-trash-alt"></i></span>
</span></td>
<script>
 tblemployeecompensationid=tblemployeecompensationid+1;
</script>
        </tr>
        </tbody>
</table>
     </div>

 
 </div>
     </div>
 </div>
 
                                      </div>
                                     </div>
                                  </section>
                                  
					</div>
					</div>
            
				</div>
				</div>
				</div>
				
	
    <!--scrolling content Modal -->
       <div class="modal fade" id="deleteInformationScrollable" tabindex="-1" role="dialog" aria-labelledby="deleteInformationScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
   <div class="modal-header bg-danger">
       <h5 class="modal-title white" id="deleteInformationScrollableTitle">Delete Row</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <i class="bx bx-x"></i>
       </button>
   </div>
   <div class="modal-body">
       
    <div class="col-md-12">
        <div class="form-group">
   <label for="contact-info-icon">Are you sure you want to delete this row?</label>
   <input type="hidden" id="deleteid" />
   <input type="hidden" id="deletetype" />
   <input type="hidden" id="deleteindex" />
        </div>
    </div>
    
   <div class="modal-footer">
       <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
  <i class="bx bx-x d-block d-sm-none"></i>
  <span class="d-none d-sm-block">Cancel</span>
       </button>
       <button type="button" class="btn btn-primary ml-1" data-dismiss="modal" id="deleteidbtn">
  <i class="bx bx-check d-block d-sm-none"></i>
  <span class="d-none d-sm-block">Yes</span>
       </button>
    </div>
</div>
     </div>
  </div>
 <!--scrolling content Modal -->
 
 
   </div>
        </div>
    </div>
<!-- END: Content-->



<div class="sidenav-overlay"></div>
<div class="drag-target"></div>


<!--scrolling content Modal -->
    <div class="modal fade" id="newadditemScrollable" tabindex="-1" role="dialog" aria-labelledby="newadditemScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
   <div class="modal-header bg-primary">
       <h5 class="modal-title white" id="newadditemScrollableTitle"></h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <i class="bx bx-x"></i>
       </button>
   </div>
   <div class="modal-body">
       <div class="col-md-12">
        <div class="form-group">
   <label for="addmodel" id="additemalltxt"></label>
   <div class="position-relative">
       <fieldset class="form-group">
      <input type="text" id="additemall" name="addmodel" class="form-control" >
   </fieldset>
   </div>
        </div>
    </div>
  
   </div>
   <div class="modal-footer">
       <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
  <i class="bx bx-x d-block d-sm-none"></i>
  <span class="d-none d-sm-block">Close</span>
       </button>
       <button type="button" class="btn btn-primary ml-1" id="additemallsavebtn">
  <i class="bx bx-check d-block d-sm-none"></i>
  <span class="d-none d-sm-block">ADD</span>
       </button>
   </div>
        </div>
    </div>
</div>
        <!--scrolling content Modal -->
   
   
<!-- BEGIN: Footer-->
<footer class="footer footer-static footer-light">
<p class="clearfix mb-0">
<span class="float-left d-inline-block"></span><span
class="float-right d-sm-inline-block d-none"></span>
<button class="btn btn-primary btn-icon scroll-top" type="button">
<i class="bx bx-up-arrow-alt"></i>
</button>
</p>
</footer>

 <!--scrolling content Modal -->
      <div class="modal fade" id="jqueryInformationScrollable" tabindex="-1" role="dialog" aria-labelledby="jqueryInformationScrollableTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable" role="document">
       <div class="modal-content">
  <div class="modal-header bg-success">
      <h5 class="modal-title white" id="jqueryInformationScrollableTitle"></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
 <i class="bx bx-x"></i>
      </button>
  </div>
  <div class="modal-body">
      
   <div class="col-md-12">
       <div class="form-group">
  <center>
  <label for="contact-info-icon" id="modeljqueryresult" style="font-weight:bold;"></label>
  </center>
       </div>
   </div>
   
  <div class="modal-footer">
      
      <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
 <i class="bx bx-check d-block d-sm-none"></i>
 <span class="d-none d-sm-block">Ok</span>
      </button>
   </div>
        </div>
    </div>
 </div>
        <!--scrolling content Modal -->

	
                	
		<!-- END: Footer-->


		<!-- BEGIN: Vendor JS-->
    <script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
	<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
	<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
	<script
		th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

	<script th:src="@{/assets/vendor/libs/hammer/hammer.js}"></script>

	<script th:src="@{/assets/vendor/libs/i18n/i18n.js}"></script>
	<script th:src="@{/assets/vendor/libs/typeahead-js/typeahead.js}"></script>

	<script th:src="@{/assets/vendor/js/menu.js}"></script>
	<!-- endbuild -->

	<!-- Vendors JS -->
	<script th:src="@{/assets/vendor/libs/moment/moment.js}"></script>
	<script th:src="@{/assets/vendor/libs/datatables/jquery.dataTables.js}"></script>
	<script
		th:src="@{/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js}"></script>
	<script
		th:src="@{/assets/vendor/libs/datatables-responsive/datatables.responsive.js}"></script>
	<script
		th:src="@{/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.js}"></script>
	<script
		th:src="@{/assets/vendor/libs/datatables-buttons/datatables-buttons.js}"></script>
	<script
		th:src="@{/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.js}"></script>
	<script th:src="@{/assets/vendor/libs/jszip/jszip.js}"></script>
	<script th:src="@{/assets/vendor/libs/pdfmake/pdfmake.js}"></script>
	<script
		th:src="@{/assets/vendor/libs/datatables-buttons/buttons.html5.js}"></script>
	<script
		th:src="@{/assets/vendor/libs/datatables-buttons/buttons.print.js}"></script>
	<script th:src="@{/assets/vendor/libs/sweetalert2/sweetalert2.js}"></script>
	<script th:src="@{/assets/vendor/libs/cleavejs/cleave.js}"></script>
	<script th:src="@{/assets/vendor/libs/cleavejs/cleave-phone.js}"></script>
	<script th:src="@{/assets/vendor/libs/select2/select2.js}"></script>
	<!-- Form Validation -->
	<script
		th:src="@{/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js}"></script>
	<script
		th:src="@{/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js}"></script>
	<script
		th:src="@{/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js}"></script>

	<!-- Main JS -->
	<script th:src="@{/assets/js/main.js}"></script>

	<!-- Flat Picker -->
	<script th:src="@{/assets/vendor/libs/moment/moment.js}"></script>
	<script th:src="@{/assets/vendor/libs/flatpickr/flatpickr.js}"></script>
	<script
		th:src="@{/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js}"></script>
	<script
		th:src="@{/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js}"></script>
	<script
		th:src="@{/assets/vendor/libs/jquery-timepicker/jquery-timepicker.js}"></script>
	<script th:src="@{/assets/vendor/libs/pickr/pickr.js}"></script>

	<!-- Page JS -->
	<!-- <script th:src="@{/assets/js/modal-edit-user.js}"></script> -->
	<script th:src="@{/assets/js/app-user-view.js}"></script>
	<script th:src="@{/assets/js/app-user-view-account.js}"></script>

</body>
<!-- END: Body-->
	<script>
			$(document).ready(function(){
				var empid=$('#empid').val();
				
				
				

				$(".Termination").hide();
				
				$(".additem").click(function(){
					var name=$(this).attr('name');
					var labeltext="";
					if(name=="adddepartmentdata"){ labeltext="New Department"; }
					if(name=="addjobtitledata"){ labeltext="New Job Title"; }
					if(name=="addchangereasondata"){ labeltext="New Change Reason"; }
					if(name=="addemployeestatusdata"){ labeltext="New Employee Status"; }
					if(name=="addterminationreasondata"){ labeltext="New Termination Reason"; }
					if(name=="addterminationtypedata"){ labeltext="New Termination Type"; }
					if(name=="addpayratedata"){ labeltext="New Type of Pay Rate"; }
					$('#additemalltxt').text(labeltext);
					$('#newadditemScrollable').modal('toggle');
					
				});
				
				$("#additemallsavebtn").click(function(){
					if($("#additemall").val()!='')
					{
						var name=$('#additemalltxt').text();
						var labeltext="";
						if(name=="New Department"){ labeltext="adddepartmentdata"; }
						if(name=="New Job Title"){ labeltext="addjobtitledata"; }
						if(name=="New Change Reason"){ labeltext="addchangereasondata"; }
						
						if(name=="New Employee Status"){ labeltext="addemployeestatusdata"; }
						if(name=="New Termination Reason"){ labeltext="addterminationreasondata"; }
						if(name=="New Termination Type"){ labeltext="addterminationtypedata"; }
						if(name=="New Type of Pay Rate"){ labeltext="addpayratedata"; }
						
						$('.' + labeltext).append("<option>" + $("#additemall").val() + "</option>");
						$("#additemall").val('');
						$('#newadditemScrollable').modal('toggle');
					}
				});
				
				$("#empstatus_employmentstatus").change(function(){
					
					if($(this).val()=="Terminated")
					{
						$(".Termination").show();	
					}else
					{
						$(".Termination").hide();
					}
				
				});
				
				
				$("#hiredatebtn").click(function() {
					var hiredateid = $("#hiredateid").val();
					var hiredate = $("#hiredate").val();
					
					if(hiredate =="")
					{
						alert(" Hire Date should not be empty");
					}else
					{
						var formData = {
								hiredateid : hiredateid,
								hiredate : hiredate,
								empid : empid
						}
						$.ajax({
							type : "POST",url : "employeehiredate",
							data : formData,success : function(result) {
								
								$("#hiredateid").val(result.replace("Success",""))
								$('#modeljqueryresult').text("Hire Date updated successfully");
							},
							error : function(e) {
								$('#modeljqueryresult').text("Error" + e);
							}
						});
	
						$('#jqueryInformationScrollable').modal('toggle');
					}
				});
				
				//--------------------------------------------------------------------------------------------------------------------------------------		 		

				$(function() {
					var token = $("meta[name='_csrf']").attr("content");
					var header = $("meta[name='_csrf_header']").attr("content");
					$(document).ajaxSend(function(e, xhr, options) {
						xhr.setRequestHeader(header, token);
					});
				});
				//--------------------------------------------------------------------------------------------------------------------------------------		 
				//--------------------------------------------------------------------------------------------------------------------------------------		 		
				$("#tbl_EMPLOYMENTSTATUS_save").click(function(){
					var employeeJobempstatusidrow= $('#employeeJobempstatusidrow').val();
					var employeeJobempstatusid=$('#employeeJobempstatusid').val();
					var empstatus_employmentstatus= $('#empstatus_employmentstatus').val();
					var empstatus_terminationtype= $('#empstatus_terminationtype').val();
					var empstatus_terminationreason= $('#empstatus_terminationreason').val();
					var empstatus_rehire= $('#empstatus_rehire').val();
					var empstatus_effectivedate= $('#empstatus_effectivedate').val();
					var empstatus_remarks= $('#empstatus_remarks').val();
					
					var empstatus_effectivedate_new="";
					if(empstatus_effectivedate != "")
					{
						var myArray = empstatus_effectivedate.split("-");
						empstatus_effectivedate_new= myArray[2]+'-'+myArray[1]+'-'+myArray[0];
					}
					
					var formData = {
							empid : empid,
							employeeJobempstatusid : employeeJobempstatusid,
							empstatus_employmentstatus : empstatus_employmentstatus,
							empstatus_terminationtype : empstatus_terminationtype,
							empstatus_terminationreason : empstatus_terminationreason,
							empstatus_rehire : empstatus_rehire,
							empstatus_remarks : empstatus_remarks,
							empstatus_effectivedate : empstatus_effectivedate
					}
					$.ajax({
						type : "POST",url : "employeeemploymentupdate",
						data : formData,success : function(result) {
							
							var objid= result.replace("Success","");
							$('#modeljqueryresult').text("Employment status updated successfully");
								if(employeeJobempstatusidrow=="")
									{
									var html='<tr><td>';
									html += '<input type="hidden" value="'+objid+'" id="tblemployeeJobempstatusid'+ tblemployeeJobempstatusid +'"/>';
									html += '<input type="hidden" value="'+empstatus_effectivedate+'" id="tblempstatus_effectivedate'+ tblemployeeJobempstatusid +'"/>';
									html += '<span>'+ empstatus_effectivedate_new +'</span></td><td>';
				                    html += '<span id="tblempstatus_employmentstatus'+ tblemployeeJobempstatusid +'">'+ empstatus_employmentstatus +'</span>';
				                    html += '<input type="hidden" value="" id="tblempstatus_terminationtype'+ tblemployeeJobempstatusid +'"/>';
				                    html += '<input type="hidden" value="" id="tblempstatus_terminationreason'+ tblemployeeJobempstatusid +'"/>';
				                    html += '<input type="hidden" value="" id="tblempstatus_rehire'+ tblemployeeJobempstatusid +'"/></td> <td>';
				                    html += '<span id="tblempstatus_remarks'+ tblemployeeJobempstatusid +'">'+ empstatus_remarks +'</span>           </td>                    <td width="110px"><span class="iconalign">';                   	 	
				                    html += '<span  data-toggle="modal" data-target="#employeeStatusScrollable" name="'+ tblemployeeJobempstatusid +'" class="updateemplstatus"><i class="bx bxs-pencil"></i></span>';
				                    html += '<span  data-toggle="modal" data-target="#deleteInformationScrollable" id="'+ tblemployeeJobempstatusid +'" name="'+objid+'" class="deleteemplstatus"><i class="bx bxs-trash-alt"></i></span>                    	                    	<span>                    </td>                                    </tr>';
				
				                    $('#tbl_EMPLOYMENTSTATUS tbody').append(html);
				                    tblemployeeJobempstatusid=tblemployeeJobempstatusid+1;
									}
									else
									{
										
										$('#tblempstatus_employmentstatus'+employeeJobempstatusidrow).text(empstatus_employmentstatus);
										$('#tblempstatus_terminationtype'+employeeJobempstatusidrow).val(empstatus_terminationtype);
										$('#tblempstatus_terminationreason'+employeeJobempstatusidrow).val(empstatus_terminationreason);
										$('#tblempstatus_rehire'+employeeJobempstatusidrow).val(empstatus_rehire);
										$('#tblempstatus_effectivedate'+employeeJobempstatusidrow).text(empstatus_effectivedate);
										$('#tblempstatus_remarks'+employeeJobempstatusidrow).text(empstatus_remarks);
									}
						},
						error : function(e) {
							$('#modeljqueryresult').text("Error" + e);
						}
					});
					
					
					
					$('#jqueryInformationScrollable').modal('toggle');
				});
				
				$(document).on('click', ".updateemplstatus", function() {
				
					var id =$(this).attr('name');
					$('#employeeJobempstatusid').val($('#tblemployeeJobempstatusid'+id).val());
					$('#employeeJobempstatusidrow').val(id);
					$('#empstatus_employmentstatus').val($('#tblempstatus_employmentstatus'+id).text()).change();
					$('#empstatus_terminationtype').val($('#tblempstatus_terminationtype'+id).val()).change();
					$('#empstatus_terminationreason').val($('#tblempstatus_terminationreason'+id).val()).change();
					$('#empstatus_rehire').val($('#tblempstatus_rehire'+id).val());
					$('#empstatus_effectivedate').val($('#tblempstatus_effectivedate'+id).val());
					$('#empstatus_remarks').val($('#tblempstatus_remarks'+id).text());
				});
				
				$(".newemplstatus").click(function(){
					$('#employeeJobempstatusid').val('');
					$('#employeeJobempstatusidrow').val('');
					
				});
				
				//--------------------------------------------------------------------------------------------------------------------------------------		 
				//--------------------------------------------------------------------------------------------------------------------------------------		 		
				$("#tbl_jobinfo_save").click(function(){
					
					var employeejobinfoid= $('#employeejobinfoid').val();
					var employeejobinfoidrow= $('#employeejobinfoidrow').val();
					var jobeffectivedate= $('#jobeffectivedate').val();
					var joblocation= $('#joblocation').val();
					var jobdeparment= $('#jobdeparment').val();
					var jobtitle= $('#jobtitle').val();
					var jobreportsto= $('#jobreportsto').val();
					
					var jobeffectivedate_new="";
					if(jobeffectivedate != "")
					{
						var myArray = jobeffectivedate.split("-");
						jobeffectivedate_new= myArray[2]+'-'+myArray[1]+'-'+myArray[0];
					}
					
					var formData = {
							empid : empid,
							employeejobinfoid : employeejobinfoid,
							employeejobinfoidrow : employeejobinfoidrow,
							jobeffectivedate : jobeffectivedate,
							joblocation : joblocation,
							jobdeparment : jobdeparment,
							jobtitle : jobtitle,
							jobreportsto : jobreportsto
					}
					$.ajax({
						type : "POST",url : "employeejobinformationupdate",
						data : formData,success : function(result) {
							
							var objid= result.replace("Success","");
							$('#modeljqueryresult').text("Job Infomation updated successfully");
								if(employeejobinfoidrow=="")
									{
									
									html= '<tr>';
									html += '<td>';
									html += '';
									html += '<input type="hidden" value="'+objid+'" id="tblemployeejobinfoid' + tblemployeeJobinfoid  + '"/>';
									html += '<input type="hidden" value="'+jobeffectivedate+'" id="tbljobeffectivedate' + tblemployeeJobinfoid  + '"/>';
									html += '<span>' + jobeffectivedate_new  +'</span>                                    </td>                                    <td>';
									html += '<span id="tbljoblocation' + tblemployeeJobinfoid  + '" >' + joblocation +'</span>                                    </td>                                    <td>';
                                    html += '	<span id="tbljobdeparment' + tblemployeeJobinfoid  + '" >' + jobdeparment +'</span>                                    </td>                                    <td>';
                                    html += '	<span id="tbljobtitle' + tblemployeeJobinfoid  + '" >' +  jobtitle +'</span>                                    </td>                                    <td>';
                                    html += '<span id="tbljobreportsto' + tblemployeeJobinfoid  + '">' + jobreportsto +'</span>                                    </td>                                    <td><span class="iconalign">';
                                    html += '	<span  data-toggle="modal" data-target="#jobInformationScrollable" name="' + tblemployeeJobinfoid  + '" class="updatejobinfostatus"><i class="bx bxs-pencil"></i></span>';
                                    html += '<span  data-toggle="modal" data-target="#deleteInformationScrollable" id="' + tblemployeeJobinfoid  + '"  name="'+objid+'"  class="deletejobinfostatus"><i class="bx bxs-trash-alt"></i></span>                                    </span></td>                                </tr>';
                                
				                    $('#tbl_JOB_information tbody').append(html);
				                    tblemployeeJobinfoid=tblemployeeJobinfoid+1;
									}
									else
									{
										
										$('#tbljobeffectivedate'+employeejobinfoidrow).text(jobeffectivedate);
										$('#tbljoblocation'+employeejobinfoidrow).text(joblocation);
										$('#tbljobdeparment'+employeejobinfoidrow).text(jobdeparment);
										$('#tbljobtitle'+employeejobinfoidrow).text(jobtitle);
										$('#tbljobreportsto'+employeejobinfoidrow).text(jobreportsto);
										
									}
						},
						error : function(e) {
							$('#modeljqueryresult').text("Error" + e);
						}
					});
					
					
					
					$('#jqueryInformationScrollable').modal('toggle');
				});
				
				$(document).on('click', ".updatejobinfostatus", function() {
				
					var id =$(this).attr('name');
					$('#employeejobinfoid').val($('#tblemployeejobinfoid'+id).val());
					$('#employeejobinfoidrow').val(id);
					$('#jobeffectivedate').val($('#tbljobeffectivedate'+id).val());
					$('#joblocation').val($('#tbljoblocation'+id).text()).change();
					$('#jobdeparment').val($('#tbljobdeparment'+id).text()).change();
					$('#jobtitle').val($('#tbljobtitle'+id).text()).change();
					$('#jobreportsto').val($('#tbljobreportsto'+id).text());
					
				});
				
				$(".newemplinfostatus").click(function(){
					$('#employeejobinfoid').val('');
					$('#employeejobinfoidrow').val('');
					
				});
				//--------------------------------------------------------------------------------------------------------------------------------------		 
				//--------------------------------------------------------------------------------------------------------------------------------------		 		
				$("#tbl_jobcompensation_save").click(function(){
					
					var employeejobcompensationid= $('#employeejobcompensationid').val();
					var employeejobcompensationidrow= $('#employeejobcompensationidrow').val();
					var comeffectivedate= $('#comeffectivedate').val();
					var comPayschedule= $('#comPayschedule').val();
					var compaytype= $('#compaytype').val();
					var compayrate= $('#compayrate').val();
					var compayratetype= $('#compayratetype').val();
					var comchangereason= $('#comchangereason').val();
					var comcomments= $('#comcomments').val();
					
					var comeffectivedate_new="";
					if(comeffectivedate != "")
					{
						var myArray = comeffectivedate.split("-");
						comeffectivedate_new= myArray[2]+'-'+myArray[1]+'-'+myArray[0];
					}
					
					var formData = {
							empid : empid,
							employeejobcompensationid : employeejobcompensationid,
							comeffectivedate : comeffectivedate,
							comPayschedule : comPayschedule,
							compaytype : compaytype ,
							compayrate : compayrate,
							compayratetype : compayratetype,
							comchangereason : comchangereason,
							comcomments : comcomments
					}
					$.ajax({
						type : "POST",url : "employeecompensationupdate",
						data : formData,success : function(result) {
							
							var objid= result.replace("Success","");
							$('#modeljqueryresult').text("Compensation Infomation updated successfully");
								if(employeejobcompensationidrow=="")
									{
									
									html= '<tr>';
									html += '<td> ';
									html += '<input type="hidden" value="'+objid+'" id="tblemployeejobcompensationid' + tblemployeecompensationid + '"/>';
									html += '<input type="hidden" value="'+comeffectivedate+'" id="tblcomeffectivedate' + tblemployeecompensationid + '"/>';
									html += '<span>'+ comeffectivedate_new +'</span>                                    </td>                                    <td>';
									html += '<span id="tblcomPayschedule' + tblemployeecompensationid + '" >'+ comPayschedule +'</span>                                    </td>                                    <td>';
									html += '<span id="tblcompaytype' + tblemployeecompensationid + '" >'+ compaytype +'</span>                                    </td>                                    <td>';
									html += '<span id="tblcompayrate' + tblemployeecompensationid + '" >'+ compayrate +'</span>'; 
									html += '<span id="tblcompayratetype' + tblemployeecompensationid + '" >'+ compayratetype +'</span></td>                                    <td>';
									html += '<span id="tblcomchangereason' + tblemployeecompensationid + '" >'+ comchangereason +'</span>                                    </td>                                    <td>';
									html += '<span id="tblcomcomments' + tblemployeecompensationid + '">'+ comcomments +'</span>                                    </td>                                    <td><span class="iconalign">';
									html += '<span  data-toggle="modal" data-target="#compensationScrollable" name="' + tblemployeecompensationid + '"  class="updatejobcompensationstatus"><i class="bx bxs-pencil"></i></span>';
									html += '<span  data-toggle="modal" data-target="#deleteInformationScrollable" id="' + tblemployeecompensationid + '"  name="'+objid+'"  class="deletecompensationstatus"><i class="bx bxs-trash-alt"></i></span>									</span></td>								                                </tr>';
                                
									
				                    $('#tbl_compensation_information tbody').append(html);
				                    tblemployeecompensationid=tblemployeecompensationid+1;
									}
									else
									{
										
										$('#tblcomeffectivedate'+employeejobcompensationidrow).text(comeffectivedate);
										$('#tblcomPayschedule'+employeejobcompensationidrow).text(comPayschedule);
										$('#tblcompaytype'+employeejobcompensationidrow).text(compaytype);
										$('#tblcompayrate'+employeejobcompensationidrow).text(compayrate);
										$('#tblcompayratetype'+employeejobcompensationidrow).text(compayratetype);
										$('#tblcomchangereason'+employeejobcompensationidrow).text(comchangereason);
										$('#tblcomcomments'+employeejobcompensationidrow).text(comcomments);
									}
						},
						error : function(e) {
							$('#modeljqueryresult').text("Error" + e);
						}
					});
					
					
					
					$('#jqueryInformationScrollable').modal('toggle');
				});
				
				$(document).on('click', ".updatejobcompensationstatus", function() {
					
					var id =$(this).attr('name');
					$('#employeejobcompensationid').val($('#tblemployeejobcompensationid'+id).val());
					$('#employeejobcompensationidrow').val(id);
					$('#comeffectivedate').val($('#tblcomeffectivedate'+id).val());
					$('#comPayschedule').val($('#tblcomPayschedule'+id).text()).change();
					$('#compaytype').val($('#tblcompaytype'+id).text()).change();
					$('#compayrate').val($('#tblcompayrate'+id).text());
					$('#compayratetype').val($('#tblcompayratetype'+id).text()).change();
					$('#comchangereason').val($('#tblcomchangereason'+id).text()).change();
					$('#comcomments').val($('#tblcomcomments'+id).text());
				});
				
				$(".newempcompensationstatus").click(function(){
					$('#employeejobcompensationid').val('');
					$('#employeejobcompensationidrow').val('');
					
				});
				//--------------------------------------------------------------------------------------------------------------------------------------		 
				//--------------------------------------------------------------------------------------------------------------------------------------		 		
				
				$(document).on('click', ".deleteemplstatus", function() {
					var id =$(this).attr('name');
					cleandelete();
					$("#deleteid").val(id);
					$("#deletetype").val("employmentstatus");
					$('#deleteindex').val($(this).attr('id'));
				
				});
				
				$(document).on('click', ".deletejobinfostatus", function() {
					var id =$(this).attr('name');
					cleandelete();
					$("#deleteid").val(id);
					$("#deletetype").val("jobinformation");
					$('#deleteindex').val($(this).attr('id'));
				});
				
				$(document).on('click', ".deletecompensationstatus", function() {
				
					var id =$(this).attr('name');
					cleandelete();
					$("#deleteid").val(id);
					$("#deletetype").val("compensation");
					$('#deleteindex').val($(this).attr('id'));
				});
				
				function cleandelete()
				{
					$("#deleteid").val("");
					$("#deletetype").val("");
					$("#deleteindex").val("");
				}
				
				$("#deleteidbtn").click(function() {
					var deleteid = $("#deleteid").val();
					var deletetype = $("#deletetype").val();
					var deleteindex= $('#deleteindex').val();
					var formData = {
							deletetype : deletetype,
							deleteid : deleteid
							
					}
					$.ajax({
						type : "POST",url : "employeedelete",
						data : formData,success : function(result) {
							
							$('#modeljqueryresult').text("Data removed successfully");
							
							if(deletetype=="employmentstatus")
							{
								$($("#tblemployeeJobempstatusid"+deleteindex)).closest('tr').remove();
								
							}else if(deletetype=="jobinformation")
							{
								$($("#tblemployeejobinfoid"+deleteindex)).closest('tr').remove();
							}else if(deletetype=="compensation")
							{
								$($("#tblemployeejobcompensationid"+deleteindex)).closest('tr').remove();
							}
							
						},
						error : function(e) {
							$('#modeljqueryresult').text("Error" + e);
						}
					});

					$('#jqueryInformationScrollable').modal('toggle');
				});
				//--------------------------------------------------------------------------------------------------------------------------------------		 
				//--------------------------------------------------------------------------------------------------------------------------------------

			});
		
		</script>
</html>



