
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="loading" lang="en"
	data-textdirection="ltr">

<!-- BEGIN: Head-->

<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="ICC">
<title>Lead</title>
<link rel="apple-touch-icon"
	th:href="@{/app-assets/images/ico/apple-icon-120.png}">
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/app-assets/images/ico/favicon.ico}">
<link
	href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700"
	rel="stylesheet}">
<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/vendors.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/charts/apexcharts.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/extensions/dragula.min.css}">

<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/editors/quill/quill.snow.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/forms/select/select2.min.css}">

<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/editors/quill/katex.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/editors/quill/monokai-sublime.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/editors/quill/quill.snow.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/editors/quill/quill.bubble.css}">
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/bootstrap.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/bootstrap-extended.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/colors.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/components.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/themes/dark-layout.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/themes/semi-dark-layout.css}">

<!-- END: Theme CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/core/menu/menu-types/vertical-menu.css}">


<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/style.css}">

<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/pages/app-email.css}">
<!-- END: Custom CSS-->
<style>
.badge-circle-light-warning {
	margin-left: 10px;
	cursor: pointer;
}

.emptitle {
	color: #527a00;
	font-size: 15px;
	line-height: 20px;
	font-weight: 600;
	font-family: Fira Sans, Trebuchet MS, sans-serif;
	cursor: pointer;
}

.bxs-file-pdf {
	color: #FF0000;
	font-size: 50px;
}

.m2 {
	vertical-align: middle;
	line-height: 20px;
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

.highlight-error {
	border-color: red;
}

.error {
	color: red;
}

.history {
	padding-top: 20px;
}

.timelinehistory {
	max-height: 300px;
	overflow-Y: auto;
}

.notes-sm {
	font-size: 10px;
}

.acc-font-sm {
	font-size: 14px;
	color: #4169E1;
}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script th:inline="javascript">
	var emplanstat = 0;
	var emgstat = 0;
	var languagelist = "";
	var educationdegreelist = "";
	var Nomineerelationshiplist = "";
	
	function optionshandle(radio)
	{
		
		$(".ActivityTitle").attr('placeholder',radio.title +' details...');
	}	
	
	
</script>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body
	class="vertical-layout vertical-menu-modern boxicon-layout no-card-shadow 2-columns  navbar-sticky footer-static  "
	data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

	<!-- BEGIN: Header-->
	<div th:insert="header"></div>
	<!-- END: Header-->


	<!-- BEGIN: Main Menu-->
	<div th:insert="menu"></div>
	<!-- END: Main Menu-->

	<!-- BEGIN: Content-->
	<!-- BEGIN: Content-->
	<div class="app-content content">
		<div class="content-overlay"></div>
		<div class="content-wrapper">
			<div class="content-header row">
				<div class="content-header-left col-12 mb-2 mt-1">
					<div class="row breadcrumbs-top">
						<div class="col-12">

							<h5 class="content-header-title float-left pr-1 mb-0">Lead</h5>

							<div class="breadcrumb-wrapper col-12">
								<ol class="breadcrumb p-0 mb-0">
									<li class="breadcrumb-item"><a href="index"><i
											class="bx bx-home-alt"></i></a></li>

								</ol>

							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="content-body">

				<!-- Basic Vertical form layout section start -->
				<section id="basic-vertical-layouts">
					<div class="row match-height">
						<div class="col-12">
							<div class="card">
								<div class="card-content">
									<div class="card-body">


										<div th:if="${save}" class="form-group col-12">
											<button type="button"
												class="btn mb-1 btn-success btn-lg btn-block">Lead
												Info Updated Successfully</button>
										</div>
										<ul class="nav nav-tabs" role="tablist">
											<li class="nav-item"><a class="nav-link active"
												id="home-tab" data-toggle="tab" href="#home"
												aria-controls="home" role="tab" aria-selected="true"> <i
													class="bx bx-user align-middle"></i> <span
													class="align-middle m2">Basic</span>
											</a></li>
											<li class="nav-item"><a class="nav-link"
												id="profile-tab" data-toggle="tab" href="#profile"
												aria-controls="profile" role="tab" aria-selected="false">
													<i class="bx bxs-bell-ring align-middle"></i> <span
													class="align-middle m2">Events & Activities</span>
											</a></li>

										</ul>

										<div class="tab-content">
											<div class="tab-pane active " id="home"
												aria-labelledby="home-tab" role="tabpanel">
												<form th:action="@{/leadeventpart1save}"
													th:object="${leadMaster}" method="POST"
													class="wizard-horizontal" id="formId"
													enctype="multipart/form-data">

													<div class="row">
														<div class="col-md-12">
															<div class="form-group">
																<label class="emptitle">Basic Information</label>

															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label for="email-id-icon">Contact Person
																	<div
																		class="spinner-border spinnerbordercontactperson spinner-border-sm text-primary"
																		role="status" style="visibility: hidden">
																		<span class="sr-only">Loading...</span>
																	</div>
																</label>

																<div class="position-relative has-icon-left">
																	<fieldset class="form-group">
																		<input type="hidden"
																			class="form-control form-control-sm capitalize"
																			th:field="*{id}" th:value="${leadMaster['id']}">
																		<input type="hidden"
																			class="form-control form-control-sm capitalize"
																			th:field="*{createddate}"
																			th:value="${leadMaster['createddate']}"> <select
																			class="select2 form-control form-control js-example-tags"
																			multiple="multiple" style="width: 100%;"
																			id="ContactPerson" th:field="*{ContactPerson}">
																			<th:block th:each="str :${personorgls}">
																				<option
																					th:value="${#strings.arraySplit(str,'|')[0]} +'-' + ${#strings.arraySplit(str,'|')[2] }"
																					th:text="${#strings.arraySplit(str,'|')[1]} +'[' + ${#strings.arraySplit(str,'|')[3] +']'}"></option>
																			</th:block>

																		</select>

																	</fieldset>
																</div>
															</div>
														</div>


														<div class="col-md-6">
															<div class="form-group">
																<label for="addmodel">Organization </label>
																<div class="position-relative  has-icon-left">
																	<fieldset class="form-group">

																		<select
																			class="select2 form-control form-control js-example-tags"
																			id="Organization" multiple="multiple"
																			style="width: 100%;" th:field="*{Organization}">
																			<th:block th:each="str :${organizationlist}">

																				<option th:value="${str.id}"
																					th:text="${str.orgname}"></option>
																			</th:block>
																		</select>


																	</fieldset>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label for="addmodel">Title</label>
																<div class="position-relative  has-icon-left">
																	<fieldset class="form-group">
																		<input type="text" id="Title"
																			class="form-control form-control-sm capitalize"
																			th:field="*{Title}" th:value="${leadMaster['Title']}">
																		<div class="form-control-position">
																			<i class="bx bx-task"></i>
																		</div>
																	</fieldset>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label for="addmodel">Source <label
																	class="emptitle additem" name="addsourcedata"><i
																		class="bx bxs-plus-circle ownstyle1"></i></label>
																</label>
																<div class="position-relative  has-icon-left">
																	<fieldset class="form-group">
																		<select
																			class="form-control form-control-sm addsourcedata"
																			id="Source" th:field="*{Source}"
																			th:value="${leadMaster['Source']}">
																			<th:block th:each="str :${SOURCE}">
																				<option th:value="${str}" th:text="${str}"></option>
																			</th:block>
																		</select>
																		<div class="form-control-position">
																			<i class="bx bx-news"></i>
																		</div>
																	</fieldset>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label for="addmodel">Reference</label>
																<div class="position-relative  has-icon-left">
																	<fieldset class="form-group">
																		<select class="form-control form-control-sm"
																			id="Reference" th:field="*{Reference}"
																			th:value="${leadMaster['Reference']}">
																			<option value="">-</option>
																			<th:block th:each="str :${personlist}">
																				<option th:value="${str.id}"
																					th:text="${str.peoplename}"></option>
																			</th:block>
																		</select>

																		<div class="form-control-position">
																			<i class="bx bx-link-alt"></i>
																		</div>
																	</fieldset>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label for="addmodel">Label</label>
																<div class="position-relative  has-icon-left">
																	<fieldset class="form-group">

																		<select class="form-control form-control-sm"
																			id="Label" th:field="*{Label}"
																			th:value="${leadMaster['Label']}">
																			<option value="Hot">Hot</option>
																			<option value="Cold">Cold</option>
																			<option value="Warm">Warm</option>
																		</select>
																		<div class="form-control-position">
																			<i class="bx bx-label"></i>
																		</div>
																	</fieldset>
																</div>
															</div>
														</div>
														<div class="col-md-12">
															<div class="form-group">
																<hr />
																<label class="emptitle">PERSON Contact</label>
															</div>
														</div>
														<div class="col-md-6">

															<div class="form-group">

																<div
																	class="form-label-group position-relative has-icon-left">
																	<input type="number"
																		class="form-control  form-control-sm capitalize"
																		id="phonework" name="phonework"
																		placeholder="Work Phone"
																		th:value="${contactPersonobj.phonework}" />
																	<div class="form-control-position">
																		<i class="bx bx-dialpad"></i>
																	</div>
																	<label for="phonework">Work Phone</label>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">

																<div
																	class="form-label-group position-relative has-icon-left">
																	<input type="number"
																		class="form-control  form-control-sm capitalize"
																		id="phonepersonal" name="phonepersonal"
																		placeholder="Personal Phone"
																		th:value="${contactPersonobj.phonepersonal}" />
																	<div class="form-control-position">
																		<i class="bx bxs-phone"></i>
																	</div>
																	<label for="phonepersonal">Personal Phone</label>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">

																<div
																	class="form-label-group position-relative has-icon-left">
																	<input type="number"
																		class="form-control  form-control-sm capitalize"
																		id="phoneothers" name="phoneothers"
																		placeholder="Other Phone"
																		th:value="${contactPersonobj.phoneothers}" />
																	<div class="form-control-position">
																		<i class="bx bxs-phone"></i>
																	</div>
																	<label for="phoneothers">Other Phone</label>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">

																<div
																	class="form-label-group position-relative has-icon-left">
																	<input type="email"
																		class="form-control  form-control-sm  email"
																		id="emailwork" name="emailwork"
																		placeholder="Work Email ID"
																		th:value="${contactPersonobj.emailwork}" />
																	<div class="form-control-position">
																		<i class="bx bx-mail-send"></i>
																	</div>
																	<label for="emailwork">Work Email ID</label>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">

																<div
																	class="form-label-group position-relative has-icon-left">
																	<input type="email"
																		class="form-control  form-control-sm  email"
																		id="emailpersonal" name="emailpersonal"
																		placeholder="Personal Email"
																		th:value="${contactPersonobj.emailpersonal}" />
																	<div class="form-control-position">
																		<i class="bx bx-mail-send"></i>
																	</div>
																	<label for="emailpersonal">Personal Email</label>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">

																<div
																	class="form-label-group position-relative has-icon-left">
																	<input type="email"
																		class="form-control  form-control-sm  email"
																		id="emailothers" name="emailothers"
																		placeholder="Other Email"
																		th:value="${contactPersonobj.emailothers}" />
																	<div class="form-control-position">
																		<i class="bx bx-mail-send"></i>
																	</div>
																	<label for="emailothers">Other Email</label>
																</div>
															</div>
														</div>


														<div class="col-md-6">
															<div class="form-group">
																<label for="addmodel">Follower</label>
																<div class="position-relative  has-icon-left">
																	<fieldset class="form-group">
																		<select
																			class="select2 followers form-control form-control-sm"
																			id="followers" th:field="*{follower}"
																			multiple="multiple">
																			<th:block th:each="str :${employeelist}">
																				<option th:value="${str.empMasterid}"
																					th:text="${str.StaffName}"></option>
																			</th:block>
																		</select>

																	</fieldset>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label for="addmodel">Notes</label>
																<div class="position-relative  has-icon-left">
																	<fieldset class="form-group">
																		<input type="text" id="notes"
																			class="form-control form-control-sm capitalize"
																			th:field="*{notes}" th:value="${leadMaster['notes']}">
																		<div class="form-control-position">
																			<i class="bx bxs-notepad"></i>
																		</div>
																	</fieldset>
																</div>
															</div>
														</div>
														<div class="col-12">
															<br />
															
															<button type="submit" class="btn btn-primary mr-1 mb-1"
																style="float: right">Save</button>

														</div>


													</div>
												</form>
												
												<form th:action="@{/convertodeal}" method="POST"
																class="wizard-horizontal" enctype="multipart/form-data">
																<input type="hidden"
																			class="form-control form-control-sm capitalize"
																			name="leadmasterid" th:value="${leadMaster['id']}">
																<button type="submit" class="btn btn-success mr-1 mb-1"
																	style="float: left">Convert to Deal</button>
															</form>
											</div>
											<div class="tab-pane " id="profile"
												aria-labelledby="profile-tab" role="tabpanel">
												<div class="row">
													<!-- ---------------------------- -->
													<ul class="nav nav-pills col-md-12 ">
														<li class="nav-item"><a class="nav-link active"
															id="activities-tab" data-toggle="pill" href="#activities"
															aria-expanded="false"> <i
																class="bx bx-note align-middle"></i> Notes
														</a></li>
														<li class="nav-item"><a class="nav-link"
															id="activnotes-tab" data-toggle="pill" href="#activnotes"
															aria-expanded="true"> <i
																class="bx bx-calendar align-middle"></i> Activity
														</a></li>

													</ul>
													<div class="tab-content">
														<div class="tab-pane active" id="activities"
															role="tabpanel" aria-labelledby="activities-tab"
															aria-expanded="false">
															<!-- ------------------------------------------ -->
															<div class="row">
																<div class="col-sm-12">
																	<div id="full-wrapper">
																		<div id="full-container">
																			<div class="editor"></div>
																		</div>
																	</div>
																</div>
																<div class="col-12">
																	<hr />
																	<input type="hidden" value="0" id="noteactivityid" />

																	<button type="button" id="notessave"
																		class="btn btn-primary mr-1 mb-1"
																		style="float: right;">Save</button>

																	<button type="button" id="notessavetemp"
																		class="btn btn-primary mr-1 mb-1"
																		style="float: right; visibility: hidden;">
																		<div
																			class="spinner-border spinnerbordernote spinner-border-sm "
																			role="status" style="float: right; color: #fff;">
																			<span class="sr-only">Loading...</span>
																		</div>
																		Please Wait...!
																	</button>

																	<div class="checkbox checkbox-success checkbox-glow">
																		<input type="checkbox" id="noteckbox"> <label
																			for="noteckbox">Make as done</label>
																	</div>
																</div>
																<div class="col-12" align="center">
																	<div class="form-group col-12 resultdivnote"
																		style="visibility: hidden">
																		<button type="button"
																			class="btn mb-1 btn-success btn-lg btn-block">Note
																			Info Updated Successfully</button>
																	</div>

																</div>
															</div>
															<!-- ------------------------------------------ -->

														</div>
														<div role="tabpanel" class="tab-pane" id="activnotes"
															aria-labelledby="activnotes-tab" aria-expanded="true"
															style="width: 100%">
															<form th:action="@{/leadeventpart2save}"
																th:object="${activityMaster}" method="POST"
																class="wizard-horizontal" enctype="multipart/form-data">
																<!-- ------------------------------------------ -->
																<div class="row">
																	<div class="col-md-12">
																		<label for="addmodel">Activity Title</label>
																		<div class="form-group">
																			<div class="position-relative">
																				<!-- <input type="hidden" value="Lead"  th:field="*{mastercategory}" /> -->
																				<input type="hidden" th:field="*{mastercategoryid}"
																					id="mastercategoryid" />
																				<!-- <input type="hidden"  th:value="'Activity'"  th:field="*{activitycategory}"/> -->
																				<input type="hidden" th:field="*{activityId}"
																					th:value="${activityMaster['activityId']}" /> <input
																					type="hidden" th:field="*{createdtime}"
																					th:value="${activityMaster['createdtime']}" /> <input
																					type="text"
																					class="form-control  form-control-sm capitalize ActivityTitle"
																					placeholder="Task details..."
																					th:field="*{activitytitle}"
																					th:value="${activityMaster['activitytitle']}" />

																			</div>
																		</div>
																	</div>
																	<div class="col-12">
																		<div class="form-group">
																			<div class="btn-group btn-group-toggle mb-1"
																				data-toggle="buttons">
																				<label
																					th:class="'btn btn-outline-primary '+ ${activityMaster['activitytype']=='Task' ? 'active' :''} "
																					onclick="optionshandle(this);" title="Task">
																					<input type="radio" name="options"
																					onclick="optionshandle(this);"
																					th:field="*{activitytype}" value="Task" id="radio1"><i
																					class="bx bx-alarm-add"></i>
																				</label> <label
																					th:class="'btn btn-outline-primary '+ ${activityMaster['activitytype']=='Call' ? 'active' :''} "
																					onclick="optionshandle(this);" title="Call">
																					<input type="radio" name="options"
																					onclick="optionshandle(this);"
																					th:field="*{activitytype}" value="Call" id="radio2"><i
																					class="bx bx-phone-call"></i>
																				</label> <label
																					th:class="'btn btn-outline-primary '+ ${activityMaster['activitytype']=='Meetings' ? 'active' :''} "
																					onclick="optionshandle(this);" title="Meetings">
																					<input type="radio" onclick="optionshandle(this);"
																					name="options" th:field="*{activitytype}"
																					value="Meetings" id="radio3"><i
																					class="bx bx-group"></i>
																				</label>
																			</div>
																		</div>


																	</div>

																	<div class="col-md-3">
																		<div class="form-group">
																			<label for="addmodel">Start Date</label>
																			<div class="position-relative has-icon-left">
																				<input type="date"
																					class="form-control  form-control-sm"
																					th:field="*{startdate}"
																					th:value="${activityMaster['startdate']}" />
																				<div class="form-control-position">
																					<i class="bx bxs-calendar"></i>
																				</div>

																			</div>
																		</div>
																	</div>
																	<div class="col-md-3">
																		<div class="form-group">
																			<label for="addmodel">Time</label>
																			<div class="position-relative has-icon-left">
																				<input type="time"
																					class="form-control  form-control-sm"
																					th:field="*{starttime}"
																					th:value="${activityMaster['starttime']}" />
																				<div class="form-control-position">
																					<i class="bx bx-time"></i>
																				</div>

																			</div>
																		</div>
																	</div>
																	<div class="col-md-3">
																		<div class="form-group">
																			<label for="addmodel">End Date</label>
																			<div class="position-relative has-icon-left">
																				<input type="date"
																					class="form-control  form-control-sm"
																					th:field="*{enddate}"
																					th:value="${activityMaster['enddate']}" />
																				<div class="form-control-position">
																					<i class="bx bxs-calendar"></i>
																				</div>

																			</div>
																		</div>
																	</div>
																	<div class="col-md-3">
																		<div class="form-group">
																			<label for="addmodel">Time</label>
																			<div class="position-relative has-icon-left">
																				<input type="time"
																					class="form-control  form-control-sm"
																					th:field="*{endtime}"
																					th:value="${activityMaster['endtime']}" />
																				<div class="form-control-position">
																					<i class="bx bx-time"></i>
																				</div>

																			</div>
																		</div>
																	</div>
																	<div class="col-md-12">
																		<!-- Accordion start -->
																		<section id="accordion-icon-wrapper">
																			<div
																				class="accordion collapse-icon accordion-icon-rotate"
																				id="accordionWrapa2">
																				<div class="card collapse-header">
																					<div id="heading5" class="card-header"
																						data-toggle="collapse" data-target="#accordion5"
																						aria-expanded="false" aria-controls="accordion5"
																						role="tablist">
																						<span class="collapse-title"> <i
																							class="bx bx-calendar-plus align-middle"></i> <span
																							class="align-middle acc-font-sm">Add
																								Guest,Location,Description,Note</span>
																						</span>
																					</div>
																					<div id="accordion5" role="tabpanel"
																						data-parent="#accordionWrapa2"
																						aria-labelledby="heading5" class="collapse">
																						<div class="card-content">
																							<div class="card-body row">

																								<div class="col-md-6">
																									<div class="form-group">
																										<label for="addmodel">Staff</label>
																										<div class="position-relative  has-icon-left">
																											<fieldset class="form-group">
																												<select
																													class="select2 form-control form-control-sm guestStaff"
																													multiple="multiple"
																													th:field="*{activityMasterGuest[0].guestid}">
																													<th:block th:each="str :${employeelist}">
																														<option th:value="${str.empMasterid}"
																															th:text="${str.StaffName}"></option>
																													</th:block>
																												</select>

																											</fieldset>
																										</div>
																									</div>
																								</div>
																								<div class="col-md-6">
																									<div class="form-group">
																										<label for="addmodel">Location</label>
																										<div class="position-relative  has-icon-left">
																											<fieldset class="form-group">
																												<input type="text" id="notes"
																													class="form-control form-control-sm capitalize"
																													th:field="*{location}"
																													th:value="${activityMaster['location']}">
																												<div class="form-control-position">
																													<i class="bx bx-map"></i>
																												</div>
																											</fieldset>
																										</div>
																									</div>
																								</div>
																								<div class="col-md-6">
																									<div class="form-group">
																										<label for="addmodel">Description </label><span
																											class="notes-sm">(Description visible
																											to Guest)</span>
																										<div class="position-relative  has-icon-left">
																											<fieldset class="form-group">
																												<textarea
																													class="form-control form-control-sm"
																													rows="4" th:field="*{description}"
																													th:value="${activityMaster['description']}">
																													</textarea>
																												<div class="form-control-position">
																													<i class="bx bxs-notepad"></i>
																												</div>
																											</fieldset>
																										</div>
																									</div>
																								</div>
																								<div class="col-md-6">
																									<div class="form-group">
																										<label for="addmodel">Note </label><span
																											class="notes-sm">(Note visible only
																											For You)</span>
																										<div class="position-relative  has-icon-left">
																											<fieldset class="form-group">
																												<textarea
																													class="form-control form-control-sm"
																													rows="4" th:field="*{notes}"
																													th:value="${activityMaster['notes']}">
																													</textarea>
																												<div class="form-control-position">
																													<i class="bx bx-book-bookmark"></i>
																												</div>
																											</fieldset>
																										</div>
																									</div>
																								</div>


																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</section>
																		<!-- Accordion end -->
																	</div>


																</div>

																<div class="col-md-6">
																	<div class="form-group">
																		<label for="addmodel">Followers</label>
																		<div class="position-relative  has-icon-left">
																			<fieldset class="form-group">
																				<select class="select2 form-control form-control-sm"
																					multiple="multiple" id="activityfollowers"
																					th:field="*{activityfollowers}">
																					<th:block th:each="str :${employeelist}">
																						<option th:value="${str.empMasterid}"
																							th:text="${str.StaffName}"></option>
																					</th:block>
																				</select>

																			</fieldset>
																		</div>
																	</div>
																</div>
																<div class="col-md-6">
																	<div class="form-group">
																		<label for="addmodel">Files</label>
																		<div class="position-relative has-icon-left">
																			<input type="file"
																				class="form-control  form-control-sm"
																				name="activityfiles" />
																			<div class="form-control-position">
																				<i class="bx bx-link"></i>
																			</div>

																		</div>
																	</div>
																</div>
																<div class="col-12">
																	<hr />

																	<button type="submit" class="btn btn-primary mr-1 mb-1"
																		style="float: right">Save</button>
																	<button type="reset"
																		class="btn btn-secondary mr-1 mb-1"
																		style="float: right">Reset</button>
																	<div class="checkbox checkbox-success checkbox-glow">
																		<input type="checkbox" id="checkboxGlow1"
																			name="status"> <label for="checkboxGlow1">Make
																			as done</label>
																	</div>
																</div>
																<!-- ------------------------------------------ -->
															</form>
														</div>


													</div>
													<!-- ---------------------------- -->

													<div class="col-12 history">

														<!-- Timeline Widget Starts -->
														<div class="timline-card">
															<div class="card ">
																<div class="card-header">
																	<h4 class="card-title">Timeline</h4>
																</div>
																<div class="card-content timelinehistory">
																	<div class="card-body">
																		<ul class="widget-timeline">
																			<!-- <li class="timeline-items timeline-icon-success active">
									                                                <div class="timeline-time">Mon 8:17pm</div>
									                                                <h6 class="timeline-title">Jonny Richie Commented</h6>
									                                                <p class="timeline-text">o</p>
									                                                <div align="right">
									                                                <div class="badge badge-pill badge-light-secondary mr-1 mb-1">Secondary</div>
									                                                <div class="badge badge-pill badge-light-secondary mr-1 mb-1">Secondary</div>
									                                                <div class="badge badge-pill badge-light-secondary mr-1 mb-1">Secondary</div>
									                                                </div>
									                                                <div class="timeline-content">
									                                                    Story behind vedio game and lame is very creative
									                                                     
									                                                </div>
									                                            </li>
									                                            <li class="timeline-items timeline-icon-primary active">
									                                                <div class="timeline-time">5 days ago</div>
									                                                <h6 class="timeline-title">Mathew Slick attached file</h6>
									                                                <p class="timeline-text">on <a href="JavaScript:void(0);">Project name</a></p>
									                                                <div class="timeline-content">
									                                                    <img src="../../../app-assets/images/icon/sketch.png" alt="document" height="36" width="27" class="mr-50">Data Folder.sketch
									                                                </div>
									                                            </li>
									                                            <li class="timeline-items timeline-icon-danger active">
									                                                <div class="timeline-time">7 hours ago</div>
									                                                <h6 class="timeline-title">Mathew Slick docs</h6>
									                                                <p class="timeline-text">on <a href="JavaScript:void(0);">Project name</a></p>
									                                                <div class="timeline-content">
									                                                    <img src="../../../app-assets/images/icon/pdf.png" alt="document" height="36" width="27" class="mr-50">Updated Docs.pdf
									                                                </div>
									                                            </li>
									                                            <li class="timeline-items timeline-icon-info active">
									                                                <div class="timeline-time">5 hour ago</div>
									                                                <h6 class="timeline-title">Ndrew send you a message</h6>
									                                                <p class="timeline-text">on <a href="JavaScript:void(0);">Project name</a></p>
									                                                <div class="timeline-content">
									                                                    Nor again is there anyone who loves or pursues or desires to obtain pain of itself,
									                                                    because it is
									                                                    pain, but because occasionally circumstances
									                                                </div>
									                                            </li>
									                                            <li class="timeline-items timeline-icon-warning">
									                                                <div class="timeline-time">2 min ago</div>
									                                                <h6 class="timeline-title">Mathew Slick liked </h6>
									                                                <p class="timeline-text">on <a href="JavaScript:void(0);">Project name</a></p>
									                                                <div class="timeline-content">
									                                                    The Amairates
									                                                </div>
									                                            </li> -->
																		</ul>

																	</div>
																</div>
															</div>
														</div>
														<!-- Timeline Widget Ends -->

													</div>

												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
				</section>
				<!-- // Basic Vertical form layout section end -->


			</div>
		</div>
	</div>
	<!-- END: Content-->



	<div class="sidenav-overlay"></div>
	<div class="drag-target"></div>

	<!-- BEGIN: Footer-->
	<footer class="footer footer-static footer-light">
		<p class="clearfix mb-0">
			<span class="float-left d-inline-block"></span><span
				class="float-right d-sm-inline-block d-none"></span>
			<button class="btn btn-primary btn-icon scroll-top" type="button">
				<i class="bx bx-up-arrow-alt"></i>
			</button>
		</p>
	</footer>
	<!-- END: Footer-->


	<!-- BEGIN: Vendor JS-->
	<script th:src="@{/app-assets/vendors/js/vendors.min.js}"></script>
	<script
		th:src="@{/app-assets/vendors/js/forms/select/select2.full.min.js}"></script>

	<!-- BEGIN Vendor JS-->

	<!-- BEGIN: Page Vendor JS-->
	<script th:src="@{/app-assets/vendors/js/charts/apexcharts.min.js}"></script>
	<script th:src="@{/app-assets/vendors/js/extensions/dragula.min.js}"></script>
	<script
		th:src="@{/app-assets/vendors/js/forms/validation/jquery.validate.min.js}"></script>
	<script th:src="@{/app-assets/vendors/js/editors/quill/katex.min.js}"></script>
	<script
		th:src="@{/app-assets/vendors/js/editors/quill/highlight.min.js}"></script>
	<script th:src="@{/app-assets/vendors/js/editors/quill/quill.min.js}"></script>
	<!-- END: Page Vendor JS-->

	<!-- BEGIN: Theme JS-->
	<script th:src="@{/app-assets/js/core/app-menu.js}"></script>
	<script th:src="@{/app-assets/js/core/app.js}"></script>
	<script th:src="@{/app-assets/js/scripts/components.js}"></script>
	<script th:src="@{/app-assets/js/scripts/footer.js}"></script>
	<!-- END: Theme JS-->

	<!-- BEGIN: Page JS-->
	<script th:src="@{/app-assets/js/scripts/pages/app-email.js}"></script>
	<script th:src="@{/app-assets/js/scripts/forms/select/form-select2.js}"></script>
	<script th:src="@{/app-assets/js/scripts/editors/editor-quill.js}"></script>

	<!-- END: Page JS-->
	<!-- Custom Java script validations -->
	<script th:src="@{/js/customvalidation.js}"></script>

	<script>
		$(document).ready(
				function() {

					var ids="[[${leadMaster['id']}]]";
					$("#mastercategoryid").val(ids);
					var values = "[[${leadMaster['ContactPerson']}]]";
					var arrtemp = "[[${leadMaster['Organization']}]]"
					var arrorg =arrtemp.split(',');
					var arrperson =values.split(',');
					var selectedperson="";
					for(var i=0;i<arrperson.length; i++)
					{
						for(var j=0;j<arrorg.length; j++)
						{
							selectedperson +=arrperson[i]+"-"+arrorg[j]+",";
							if(j<arrorg.length)
								{
									selectedperson +=selectedperson+",";
								}
						}
						if(i<arrperson.length)
						{
							selectedperson +=selectedperson+",";
						}
					}
					$('#ContactPerson').val(selectedperson.split(',')).change();
					
					var values = "[[${leadMaster['Organization']}]]";
					$('#Organization').val(values.split(',')).change();
			 		
					var values = "[[${leadMaster['follower']}]]";
					$('.followers').val(values.split(',')).change();
					
					var values = "[[${activityMaster['activityfollowers']}]]";
					$('#activityfollowers').val(values.split(',')).change();
					
					var values = "[[${guestStaff}]]";
					$('.guestStaff').val(values.split(',')).change();
					
					
					//--------------------------------------------------------------------------------------------------------------------------------------		 		

					$(function() {
						var token = $("meta[name='_csrf']").attr("content");
						var header = $("meta[name='_csrf_header']").attr("content");
						$(document).ajaxSend(function(e, xhr, options) {
							xhr.setRequestHeader(header, token);
						});
					});
					//--------------------------------------------------------------------------------------------------------------------------------------		 
				
					$("#submit_validation").click(function(){
						
						var StaffName= $('#StaffName').val();
						var Work_Phone= $('#Work_Phone').val();
						
						if(StaffName =="")
						{
							alert("Staff Name should not be empty");
						}else if(Work_Phone.length < 10)
						{
							alert("Work Phone is not valid");
						}else
						{
							$("#submit").click();
						}
						
						
					});
					//--------------------------------------------------------------------------------------------------------------------------------------
 					$(document).on("click", ".additem", function() {
					
						var name = $(this).attr('name');
						var labeltext = "";
						if (name == "addmemberindata") {
							labeltext = "New Member In";
						}
						if (name == "addtypeofindustrydata") {
							labeltext = "New Type of Industry";
						}
						
						$('#additemalltxt').text(labeltext);
						$('#personStatusScrollable').modal('toggle');

					});
 					//--------------------------------------------------------------------------------------------------------------------------------------
					$("#additemallsavebtn").click(
							function() {
								if ($("#additemall").val() != '') {
									var name = $('#additemalltxt').text();
									var labeltext = "";
									if (name == "New Member In") {
										labeltext = "addmemberindata";
									}
									if (name == "New Type of Industry") {
										labeltext = "addtypeofindustrydata";
									}
									
									$('.' + labeltext).append(
											"<option value='"
													+ $("#additemall").val()
													+ "'>"
													+ $("#additemall").val()
													+ "</option>");
									$("#additemall").val('');
									$('#personStatusScrollable').modal(
											'toggle');
								}
							});
					//------------------------------------------------------------
					
					
					$("#ContactPerson").change(function(){
						contactpersonchange();
					});
					
					
					function contactpersonchange(){
						
						var selectval = $("#ContactPerson").find(":selected").val();
						 var personid=selectval.split('-')[0];
						 $(".spinnerbordercontactperson").css("visibility","visible");
						 //---------------------------------------------------------------------------
						 var formData = {
								 personid : personid
						 }
						 $.ajax({
								type : "POST",url : "contactpersondetails",
								data : formData, success : function(result) {
									  var arr =result.split("|");
								      $('#phonework').val(arr[0].trim());
								      $('#phonepersonal').val(arr[1].trim());
								      $('#phoneothers').val(arr[2].trim());
								      $('#emailwork').val(arr[3].trim());
								      $('#emailpersonal').val(arr[4].trim());
								      $('#emailothers').val(arr[5].trim());
								      $('#followers').val(arr[6].trim().split(',')).change();
								      $(".spinnerbordercontactperson").css("visibility","hidden");
								},
								error : function(e) {
									console.log("Error" + e);
									$(".spinnerbordercontactperson").css("visibility","hidden");
								}
								
							}); 
						 //---------------------------------------------------------------------------
						
					}
					//--------------------------------------------------------------------------------
					//Note Save
					$("#notessave").click(function() {
						var editor= $('.ql-editor').html();
						
						if(editor != '<p><br></p>')
						{
						
							var noteckbox ="false";
							var mastercategoryid = $("#mastercategoryid").val();
							var noteactivityid = $("#noteactivityid").val();
							if($("#noteckbox").prop("checked"))
							{
								noteckbox="true";
							}
							
							$("#notessave").css("visibility","hidden");
							$("#notessavetemp").css("visibility","visible");
							 var formData = {
									 editor : editor,
									 noteckbox : noteckbox,
									 mastercategoryid: mastercategoryid,
									 noteactivityid:noteactivityid
							 }	
								
							 $.ajax({
									type : "POST",url : "leadeventnotesave",
									data : formData, success : function(result) {
										  
										  $("#notessavetemp").css("visibility","hidden");
									      $("#notessave").css("visibility","visible");
									      alert("Note Info Updated Successfully ");
									      $('.ql-editor').html("");
									      gettimelinelist();
									},
									error : function(e) {
										console.log("Error" + e);
										$("#notessavetemp").css("visibility","hidden");
										$("#notessave").css("visibility","visible");
									}
									
								});
							//---------------------------------------------------------
						}
					});
					//--------------------------------------------------------------------------------
					$("#profile-tab").click(function() {
						// gettimelinelist
						gettimelinelist();
					});
					//--------------------------------------------------------------------------------
					//function load the history events
					function gettimelinelist(){
						var mastercategoryid = $("#mastercategoryid").val();
						var formData = {
								 mastercategoryid: mastercategoryid,
								 categoryType: "Lead"
						 }	
							
						 $.ajax({
								type : "POST",url : "gettimelinelist",
								data : formData, success : function(result) {
									  
									 $('.widget-timeline').html(result);
								},
								error : function(e) {
									console.log("Error" + e);
									
								}
								
							});
						
					}
					//--------------------------------------------------------------------------------
					$(document).on("click", ".badge-circle-light-warning", function() {
						let activityid =$(this).attr("id");
						var formData = {
								 activityid: activityid
						 }	
							
						 $.ajax({
								type : "POST",url : "activitymarkascompleted",
								data : formData, success : function(result) {
									  $("#"+activityid+"NC").removeClass("badge-circle-light-danger");
									  $("#"+activityid+"NC").addClass("badge-circle-light-success");
									  $("#"+activityid+"NC").html("<i class='bx bx-check font-size-base'></i>");
									  $("#"+activityid).hide();
								},
								error : function(e) {
									console.log("Error" + e);
									
								}
								
							});
					});
					//--------------------------------------------------------------------------------
	});
		
		
	</script>
	<script>
		$(".js-example-tags").select2({
			  tags: true
			});
		
		//--------------------------------------------------------------------------------------------------------------------------------------					
		
		//--------------------------------------------------------------------------------------------------------------------------------------
		
	</script>
</body>
<!-- END: Body-->

</html>




