<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="loading" lang="en"
	data-textdirection="ltr">

<!-- BEGIN: Head-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="ICC">
<title>Member Service Master</title>
<link rel="apple-touch-icon"
	th:href="@{/app-assets/images/ico/apple-icon-120.png}">
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/app-assets/images/ico/favicon.ico}">
<link
	href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700"
	rel="stylesheet">

<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/vendors.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/tables/datatable/datatables.min.css}">
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/bootstrap.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/bootstrap-extended.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/colors.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/components.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/themes/dark-layout.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/themes/semi-dark-layout.css}">
<!-- END: Theme CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/core/menu/menu-types/vertical-menu.css}">
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/style.css}">
<!-- END: Custom CSS-->


</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body
	class="vertical-layout vertical-menu-modern boxicon-layout no-card-shadow 2-columns  navbar-sticky footer-static  "
	data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

	<!-- BEGIN: Header-->
	<!-- BEGIN: Header-->
	<div th:insert="header"></div>
	<!-- END: Header-->


	<!-- BEGIN: Main Menu-->
	<div th:insert="menu"></div>
	<!-- END: Main Menu-->

	<!-- BEGIN: Content-->
	<div class="app-content content">
		<div class="content-overlay"></div>
		<div class="content-wrapper">
			<div class="content-header row">
				<div class="content-header-left col-12 mb-2 mt-1">
					<div class="row breadcrumbs-top">
						<div class="col-12">
							<h5 class="content-header-title float-left pr-1 mb-0">Service Points Master</h5>

						</div>
					</div>
				</div>
			</div>
			<div class="content-body">

				<!-- Zero configuration table -->
				<section id="basic-datatable">
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">
										<!-- <a href="Serviceadd?id=0" class="btn btn-primary"style="float: left; margin-left: 10px">Add Service Item</a> -->
										
										<a href="servicereport" class="btn btn-primary"style="float: left; margin-left: 10px">Report</a>
										<button id="export" class="btn btn-primary"style="float: left; margin-left: 10px">Export to Excel</button>
									</h4>
									
								</div>
								<div class="card-content">
									<div class="card-body card-dashboard">
										<div class="table-responsive">
											<table  id="table" class="table zero-configuration">
												<thead>
													<tr>
														
														<th>Activity Name</th>
														<th>Activity Point</th>
														<th>Beneficiary</th>
														<th>Donate(Rs.100)</th>
														<th>Lions hours points</th>
														<th>Volunteers</th>
														

													</tr>
												</thead>
												<tbody>
													<tr th:each="ser,iter  : ${services}">
														
														<td><a
															th:href="'Serviceadd?id='  + @{{id} (id=${ser['id']})}"><span th:text="${ser['activityName']}"></span></a></td>
														<td th:text="${ser['activityPoint']}"></td>
														<td th:text="${ser['beneficiary']}"></td>
														<td th:text="${ser['donate']}"></td>
														<td th:text="${ser['lionshours']}"></td>
														<td th:text="${ser['volunteers']}"></td>
														
													</tr>



												</tbody>
												<tfoot>
													<tr>
														<th>Activity Name</th>
														<th>Activity Point</th>
														<th>Beneficiary</th>
														<th>Donate(Rs.100)</th>
														<th>Lions hours points</th>
														<th>Volunteers</th>
															
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--/ Zero configuration table -->

			</div>
		</div>
	</div>
	<!-- END: Content-->




	<div class="sidenav-overlay"></div>
	<div class="drag-target"></div>

	<!-- BEGIN: Footer-->
	<footer class="footer footer-static footer-light">
		<p class="clearfix mb-0">
			<span class="float-left d-inline-block"></span><span
				class="float-right d-sm-inline-block d-none">Copy Right @
				Lions Clubs - District 324 B1 | PRIVACY POLICY</span>
			<button class="btn btn-primary btn-icon scroll-top" type="button">
				<i class="bx bx-up-arrow-alt"></i>
			</button>
		</p>
	</footer>
	<!-- END: Footer-->


	<!-- BEGIN: Vendor JS-->
	<script th:src="@{/app-assets/vendors/js/vendors.min.js}"></script>
	<script
		th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js}"></script>
	<script
		th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js}"></script>
	<script th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js}"></script>
	<!-- BEGIN Vendor JS-->

	<!-- BEGIN: Page Vendor JS-->
	<script
		th:src="@{/app-assets/vendors/js/tables/datatable/datatables.min.js}"></script>
	<script
		th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js}"></script>
	<script
		th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js}"></script>
	<script
		th:src="@{/app-assets/vendors/js/tables/datatable/buttons.html5.min.js}"></script>
	<script
		th:src="@{/app-assets/vendors/js/tables/datatable/buttons.print.min.js}"></script>
	<script
		th:src="@{/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js}"></script>
	<script
		th:src="@{/app-assets/vendors/js/tables/datatable/pdfmake.min.js}"></script>
	<script
		th:src="@{/app-assets/vendors/js/tables/datatable/vfs_fonts.js}"></script>
	<!-- END: Page Vendor JS-->

	<!-- BEGIN: Theme JS-->
	<script th:src="@{/app-assets/js/core/app-menu.js}"></script>
	<script th:src="@{/app-assets/js/core/app.js}"></script>
	<script th:src="@{/app-assets/js/scripts/components.js}"></script>
	<script th:src="@{/app-assets/js/scripts/footer.js}"></script>
	<!-- END: Theme JS-->

	<!-- BEGIN: Page JS-->
	<script th:src="@{/app-assets/js/scripts/datatables/datatable.js}"></script>
	<!-- END: Page JS-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script th:src="@{/js/jquery.table2excel.min.js}"></script>
	<script>
		$(document).ready(function() {
		    $('#export').on('click', function(e){
		        $("#table").table2excel({
		            exclude: ".noExport",
		            name:"Worksheet Name",
		            filename: "LC Service Points",
		            exclude_links:true,
		            fileext:".xls"
		           // columns: [0, 1, 2] // export first three columns
		        });
		    });
		});
	</script>
</body>
<!-- END: Body-->

</html>