    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header"  style="background:#FFF">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto"><a class="navbar-brand" href="index">
                        <!---<div class="brand-logo" style=""></div>-->
                        <h2 class="brand-text mb-0" style="color:#004b93">
                        
					<!-- - 324 B1 -->
                        Lions <span style="color:#f9c910">Club</span><span style="font-size:14px;"></span></h2>
                    </a></li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="bx bx-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="bx-disc"></i></a></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="">
                <li class=" nav-item"><a href="index"><i class="bx bx-home-alt"></i><span class="menu-title" data-i18n="Dashboard">Home</span></a>

                </li>
                <li class=" navigation-header"><span>Apps</span>
                </li>
                <li class=" nav-item"><a href="MemberviewRoleMember"><i class="bx bx-group"></i><span class="menu-title" data-i18n="Invoice">Profile View</span></a>
                </li>
                <li class=" nav-item"><a href="membereditRoleMember"><i class="bx bxs-report"></i><span class="menu-title" data-i18n="Invoice">Profile Edit</span></a>
                </li>
                <li class=" nav-item"><a href="ReportDifferentIntvslocalRoleMember"><i class="bx bxs-flame"></i><span class="menu-title" data-i18n="Service">Data Comparison</span></a></li>
                
                
                                
                <li class=" navigation-header"><span>Help</span></li>
                <li class=" nav-item"><a href="#"><i class="bx bxs-help-circle"></i><span class="menu-title" data-i18n="FAQ & Helpdesk ">FAQ & Helpdesk </span></a></li>                
				<li class=" nav-item"><a href="#"><i class="bx bx-support"></i><span class="menu-title" data-i18n="Supports">Supports Centre</span></a></li>
                <li class=" nav-item"><a href="#"><i class="bx bx-analyse"></i><span class="menu-title" data-i18n="Members Guidlines">Members Guidlines</span></a></li>
				<li class=" nav-item"><a href="#"><i class="bx bxs-downvote"></i><span class="menu-title" data-i18n="Downloads">Downloads</span></a></li>
            </ul>
        </div>
    </div>