    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto"><a class="navbar-brand" href="index">
                        
                        <h2 class="brand-text mb-0"><b>RVS</b></h2>
                    </a></li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i><i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i></a></li>
            </ul>
        </div>
        
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="">
                <li class=" nav-item"><a href="index"><i class="bx bx-home-alt"></i><span class="menu-title" data-i18n="Dashboard">Dashboard</span></a>					
                </li>
                
                
                <li class=" navigation-header"><span>Apps</span>
                </li>
                
                <li class=" nav-item"><a href="branchlist"><i class="bx bx-buildings"></i><span class="menu-title" data-i18n="Invoice">Branch</span></a>
                </li>
                <li class=" nav-item"><a href="emplist"><i class="bx bx-id-card"></i><span class="menu-title" data-i18n="Invoice">Employee</span></a>
                </li>
<!--                  <li class="nav-item has-sub sidebar-group-active open"><a href="#"><i class="bx bx-bulb"></i><span class="menu-title" data-i18n="Icons">Icons</span></a>
                    <ul class="menu-content">
                        <li class=""><a href="icons-livicons.html"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="LivIcons">LivIcons</span></a>
                        </li>
                        <li class="active"><a href="icons-boxicons.html"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="boxicons">Boxicons</span></a>
                        </li>
                    </ul>
                </li>
 -->              
			 </ul>
        </div>
    </div>