    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto"><a class="navbar-brand" href="index">
                        
                        <h2 class="brand-text mb-0"><b>RVS</b></h2>
                    </a></li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i><i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i></a></li>
                
            </ul>
        </div>
        
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="">
                <li class=" nav-item"><a href="index"><i class="bx bx-home-alt"></i><span class="menu-title" data-i18n="Dashboard">Dashboard</span></a>					
                </li>
                <li th:if="${dataLoginrole}=='ROLE_ADMIN'" class=" nav-item"><a href="rvsemp/">
	                <i class="bx bxs-left-arrow-square"></i><span class="menu-title">Personal Portal</span></a>
                </li>
                
                <li class=" navigation-header"><span>Apps</span>
                </li>
                <li class=" nav-item"><a href="branchlist"><i class="bx bx-buildings"></i><span class="menu-title">Branch</span></a>
                </li>
                <li class=" nav-item"><a href="emplist"><i class="bx bx-id-card"></i><span class="menu-title">Employee</span></a>
                </li>
                
                <li class=" nav-item"><a href="empattendance"><i class="bx bx-spreadsheet"></i><span class="menu-title">Attendance</span></a>
                   <ul class="menu-content">
                      <li class="is-shown"><a href="empattendance"><i class="bx bx-right-arrow-alt"></i><span class="menu-item">Attendance</span></a>
                      </li>
                      <li class="is-shown"><a href="attendancereport"><i class="bx bx-right-arrow-alt"></i><span class="menu-item">Report</span></a>
                      </li>
                  </ul> 
                </li>
                <li class=" nav-item"><a href="holidaydefine"><i class="bx bx-calendar-event"></i><span class="menu-title">Holiday</span></a>
                </li>
                <li class=" nav-item"><a href="leaveapprove"><i class="bx bxs-calendar-x"></i><span class="menu-title">Leaves</span></a>
                   <ul class="menu-content">
                      <li><a href="leaveapprove"><i class="bx bx-right-arrow-alt"></i><span class="menu-item">Leave Approve</span></a>
                      </li>
                      <li><a href="leavehistory"><i class="bx bx-right-arrow-alt"></i><span class="menu-item">Leave History</span></a>
                      </li>
                  </ul> 
                </li>
                
                <li class=" nav-item"><a href="hire"><i class="bx bx-award"></i><span class="menu-title">Hire</span></a>
                </li>
                <li class=" nav-item"><a href="payroll"><i class="bx bx-badge-check"></i><span class="menu-title">Payroll</span></a>
                </li>
           		
           		<li class=" nav-item"><a href="assetlist"><i class="bx bx-spreadsheet"></i><span class="menu-title">Asset</span></a>
                   <ul class="menu-content">
                      <li class="is-shown"><a href="vendorlist"><i class="bx bx-right-arrow-alt"></i><span class="menu-item">Vendor</span></a>
                      </li>
                      <li class="is-shown"><a href="assetlist"><i class="bx bx-right-arrow-alt"></i><span class="menu-item">Asset</span></a>
                      </li>
                      <li class="is-shown"><a href="checkout"><i class="bx bx-right-arrow-alt"></i><span class="menu-item">Check Out</span></a>
                      </li>
                      <li class="is-shown"><a href="checkin"><i class="bx bx-right-arrow-alt"></i><span class="menu-item">Check In</span></a>
                      </li>
                      <li class="is-shown"><a href="assetaudit"><i class="bx bx-right-arrow-alt"></i><span class="menu-item">Asset Audit</span></a>
                      </li>
                      <li class="is-shown"><a href="assettransfer"><i class="bx bx-right-arrow-alt"></i><span class="menu-item">Asset Transfer</span></a>
                      </li>
                      <li class="is-shown"><a href="insurancelist"><i class="bx bx-right-arrow-alt"></i><span class="menu-item">Insurance</span></a>
                      </li>
                  </ul> 
                </li>
                
                <li class=" nav-item"><a href=""><i class="bx bxs-user-rectangle"></i><span class="menu-title">Contacts</span></a>
                   <ul class="menu-content">
                      <li class="is-shown"><a href="contactspersonlist"><i class="bx bx-user"></i><span class="menu-item">Person</span></a>
                      </li>
                      <li class="is-shown"><a href="contactsorganizationslist"><i class="bx bxs-building-house"></i><span class="menu-item">Organizations</span></a>
                      </li>
                    
                  </ul> 
                </li>
                <li class=" nav-item"><a href="leadlist"><i class="bx bxs-plane-take-off"></i><span class="menu-title">Lead</span></a>
                </li>
                <li class=" nav-item"><a href="deal"><i class="bx bxl-deviantart"></i><span class="menu-title">Deal</span></a>
                </li>
                <li class=" nav-item"><a href="projectls"><i class="bx bx-horizontal-center"></i><span class="menu-title">Project</span></a>
                </li>
                <li class=" nav-item"><a href="projecttemplatelist"><i class="bx bx-briefcase-alt-2"></i><span class="menu-title">Prj Template</span></a>
                </li>
               
               

			 </ul>
        </div>
    </div>