<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en"
	class="light-style layout-navbar-fixed layout-menu-fixed" dir="ltr"
	data-theme="theme-default" th:data-assets-path="@{/assets/}"
	data-template="vertical-menu-template">
<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

<title>Pay Roll</title>

<meta name="description" content="" />

<!-- Favicon -->
<link rel="icon" type="image/x-icon"
	th:href="@{/assets/img/favicon/favicon.ico}" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
	rel="stylesheet" type="text/css" />

<!-- Icons -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/fonts/boxicons.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/fonts/fontawesome.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/fonts/flag-icons.css}" />

<!-- Core CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/css/rtl/core.css}"
	class="template-customizer-core-css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/css/rtl/theme-default.css}"
	class="template-customizer-theme-css" />
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/demo.css}" />

<!-- Vendors CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/libs/typeahead-js/typeahead.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/sweetalert2/sweetalert2.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/flatpickr/flatpickr.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/jquery-timepicker/jquery-timepicker.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/pickr/pickr-themes.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/tagify/tagify.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/bootstrap-select/bootstrap-select.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/select2/select2.css}" />

<!-- Row Group CSS -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css}" />
<!-- Form Validation -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css}" />


<!-- Page CSS -->

<!-- Helpers -->
<script th:src="@{/assets/vendor/js/helpers.js}"></script>

<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
<script th:src="@{/assets/vendor/js/template-customizer.js}"></script>
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script th:src="@{/assets/js/config.js}"></script>
<style>
.emptitle {
	color: #527a00;
	font-size: 15px;
	line-height: 20px;
	font-weight: 600;
	font-family: Fira Sans, Trebuchet MS, sans-serif;
	cursor: pointer;
}

thead {
	background-color: #ebebeb;
	border-color: transparent;
	color: #555;
	font-weight: 700;
	transition: background-color .15s ease-in-out;
}

tbody {
	color: #222;
}

.empnametitle {
	color: #FF4500;
	font-size: 15px;
	line-height: 20px;
	font-weight: 600;
	font-family: Fira Sans, Trebuchet MS, sans-serif;
}

.ownstyle {
	font-size: 30px;
	position: absolute;
	left: -20px;
	top: -5px;
	cursor: pointer;
}

.ownstyle1 {
	font-size: 25px;
	top: -2px;
	cursor: pointer;
}

.iconalign {
	text-align: right;
	font-size: 20px;
	width: 200px;
	right: 0px;
	color: #fff;
}

tbody>tr:hover .iconalign {
	color: #527a00;
	cursor: pointer;
}

.bullet.bullet-success {
	background-color: #527a00;
}

.e1 {
	max-width: 200px;
}

.e2 {
	min-width: 100px;
	min-height: 25px;
}

.modal-footer {
	border-top: none;
}

.view {
	margin: auto;
}

.wrapper {
	position: relative;
	overflow: auto;
	border: 1px solid #ccc;
	white-space: nowrap;
}

.sticky-col {
	position: -webkit-sticky;
	position: sticky;
	background-color: white !important;
	border-right: 1px solid #ccc;
}

.first-col {
	text-align: left;
	width: 70px;
	min-width: 70px;
	max-width: 70px;
	left: 0px;
	border-right: 1px solid #ccc;
}

.second-col {
	text-align: left;
	width: 200px;
	min-width: 200px;
	max-width: 200px;
	left: 50px;
	border-right: 1px solid #ccc;
}

table tr td {
	text-align: right;
	border-right: 1px solid #ccc;
}

.td16 {
	background-color: #66CD00;
	text-weight: bold;
	color: #fff;
}

/* .d1, .d1>div>label, .d1>div>h4 {
	background: #c09F80;
	padding: 1%;
	color: #fff;
}

.d2, .d2>div>label, .d2>div>h4 {
	background: #565656;
	padding: 1%;
	color: #fff;
}

.d3, .d3>div>label, .d3>div>h4 {
	background: #BDC3C7;
	padding: 1%;
	color: #000;
} */

.table tr, table, table td {
	padding: .5rem 0.5rem;
	line-height: 5px;
}
</style>
</head>

<body>
	<!-- Layout wrapper -->
	<div class="layout-wrapper layout-content-navbar">
		<div class="layout-container">
			<!-- Menu -->
			<div th:insert="menu"></div>
			<!-- / Menu -->

			<!-- Layout container -->
			<div class="layout-page">
				<!-- Navbar -->

				<div th:insert="header"></div>

				<!-- / Navbar -->

				<!-- Content wrapper -->
				<div class="content-wrapper">
					<!-- Content -->
					<div class="container-xxl flex-grow-1 container-p-y">
						<h4 class="py-3 breadcrumb-wrapper mb-4">
							<span class="text-muted fw-light">Administration/HR
								Management/ </span>Payroll
						</h4>

						<!-- Users List -->

						<!-- DataTable with Buttons -->
						<div class="card">
							<div class="card-body p-3">
								<div
									class="justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column p-sm-3 p-0">
									<form th:action="@{payroll}" method="POST"
										class="wizard-horizontal" enctype="multipart/form-data">
										<div class="col-md-12">
											<div class="row">
												<div class="col-12 col-md-6">
													<label class="form-label" for="modalEditUserFirstName">Payroll
														Month </label> <input type="month" name="month"
														class="form-control" required />

												</div>
												<div class="col-12 col-md-6">
													<label class="form-label" for="modalEditUserLastName">
														Branch</label> <select class="form-control" id="branch"
														name="branch" required>
														<option value="">-</option>
														<th:block th:each="obj : ${branchlist}">
															<option
																th:if="${obj.BRANCH_NAME} != ${targetedbranchName}"
																th:value="${obj.id}" th:text="${obj.BRANCH_NAME}"></option>
																
														</th:block>
														<option value="0">All</option>

													</select>
												</div>
												<div class="col-12 col-md-6"></div>
												<div class="col-12 text-center mt-4">
													<button type="submit" class="btn btn-primary me-sm-3 me-1">Search</button>
													<button type="reset" class="btn btn-label-secondary"
														data-bs-dismiss="modal" aria-label="Close">
														Cancel</button>
												</div>
											</div>
										</div>
									</form>
									<hr />
									<div th:if="${save}" class="form-group col-12" align="center">
										<button type="button"
											class="btn mb-1 btn-success btn-block">PaySlip
											Generated Successfully</button>

									</div>
									<div class="row">

										<div class="col-md-2 d1 bg-info text-white ">
											<div class="form-group ">
												<label>Payroll Month</label>

												<h4 th:text="${selectedmonth}" class=" text-white"></h4>
											</div>

										</div>


										<div class="col-md-2 d2  bg-success text-white ">
											<div class="form-group d2 ">
												<label>Total Amount</label>
												<h4 th:text="${totalnet}" class=" text-white"></h4>
											</div>

										</div>
										<div class="col-md-2 d3 bg-primary text-white">
											<div class="form-group d3  ">
												<label>Branch</label>
												<h4 th:if="${branchobj}" th:text="${branchobj.BRANCH_NAME}" class=" text-white"></h4>
												
											</div>

										</div>
										<div class="col-md-1"></div>
										<div class="col-md-2" th:if="${report}">
											<div class="form-group">
												<form th:action="@{payroll}" method="POST"
													class="wizard-horizontal" enctype="multipart/form-data">
													<input type="hidden" th:value="${selectedmonth}"
														name="month" /> <input type="hidden"
														th:value="${selectedmonth}" name="save" />
												
														 <input type="hidden"
														th:value="${branchobj.id}" name="branch" />
														
														
													<button type="submit"
														class="e2 position-relative  btn btn-secondary m-1"
														style="float: right">Generate Payslips</button>
													<!-- <br/><label>Note: This is One Time Generation.</label> -->
												</form>
											</div>
										</div>

										<div class="col-md-3" th:if="${report}">
											<div class="form-group">
												<form th:action="@{payrollexcel}" target="_blank"
													method="POST" class="wizard-horizontal"
													enctype="multipart/form-data">
													<input type="hidden" th:value="${selectedmonth}"
														name="month" /> <input type="hidden" th:value="${report}"
														name="report" />
														 <input type="hidden"
														th:value="${branchobj.BRANCH_NAME}" name="branchname" />
													<button type="submit" class="e2   btn btn-secondary m-1"
														style="float: right">Export Excel</button>

												</form>
												<form th:action="@{payrollpdf}" target="_blank"
													method="POST" class="wizard-horizontal"
													enctype="multipart/form-data">
													<input type="hidden" th:value="${selectedmonth}"
														name="month" /> <input type="hidden" th:value="${report}"
														name="report" />
														 <input type="hidden"
														th:value="${branchobj.BRANCH_NAME}" name="branchname" />
													<button type="submit" class="e2   btn btn-secondary m-1"
														style="float: right">Print</button>

												</form>
											</div>

										</div>
									</div>
									<hr />
									</div>
							
									<th:block>
										<div class="row">
											<div class="wrapper table-responsive p-0">
												<table class="table">
													<thead>
														<tr>
															<th class="sticky-col first-col">S.No</th>
															<th class="sticky-col second-col">Name</th>
															<th>CTC</th>
															<th>Total</th>
															<th>Absent</th>
															<th>Working Days</th>
															<th>Extra Working Days</th>
															<th>Basic Salary</th>
															<th>DA</th>
															<th>HRA</th>
															<th>TOTAL GROSS</th>
															<th>ESI</th>
															<th>EPF</th>
															<th>Advance</th>
															<th>TOTAL Deduction</th>
															<th>Monthly incentives</th>
															<th>Net salary</th>

														</tr>
													</thead>
													<tbody>
														<tr th:each="str,i : ${report}">
															<td class="sticky-col first-col" th:text="${i.index+1}"></td>
															<td class="sticky-col second-col"
																th:text="${#strings.arraySplit(str,'-')[1]}"></td>
															<td th:text="${#strings.arraySplit(str,'-')[2]}"></td>
															<td th:text="${#strings.arraySplit(str,'-')[3]}"></td>
															<td th:text="${#strings.arraySplit(str,'-')[4]}"></td>
															<td th:text="${#strings.arraySplit(str,'-')[5]}"></td>
															<td th:text="${#strings.arraySplit(str,'-')[6]}"></td>
															<td th:text="${#strings.arraySplit(str,'-')[7]}"></td>
															<td th:text="${#strings.arraySplit(str,'-')[8]}"></td>
															<td th:text="${#strings.arraySplit(str,'-')[9]}"></td>
															<td th:text="${#strings.arraySplit(str,'-')[10]}"></td>
															<td th:text="${#strings.arraySplit(str,'-')[11]}"></td>
															<td th:text="${#strings.arraySplit(str,'-')[12]}"></td>
															<td th:text="${#strings.arraySplit(str,'-')[13]}"></td>
															<td th:text="${#strings.arraySplit(str,'-')[14]}"></td>
															<td th:text="${#strings.arraySplit(str,'-')[15]}"></td>
															<td th:text="${#strings.arraySplit(str,'-')[16]}" class="td16" style="background-color: #66CD00;"></td>


														</tr>

													</tbody>
												</table>
											</div>
										</div>

									</th:block>
							</div>
						</div>	

						<!-- / Content -->

						<!-- Footer -->
						<footer class="content-footer footer bg-footer-theme"> </footer>
						<!-- / Footer -->

						<div class="content-backdrop fade"></div>
					</div>
					<!-- Content wrapper -->
				</div>
				<!-- / Layout page -->
			</div>

			<!-- Overlay -->
			<div class="layout-overlay layout-menu-toggle"></div>

			<!-- Drag Target Area To SlideIn Menu On Small Screens -->
			<div class="drag-target"></div>
		</div>
		<!-- / Layout wrapper -->

		<!-- Core JS -->
		<!-- build:js assets/vendor/js/core.js -->
		<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
		<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
		<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
		<script
			th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

		<script th:src="@{/assets/vendor/libs/hammer/hammer.js}"></script>

		<script th:src="@{/assets/vendor/libs/i18n/i18n.js}"></script>
		<script th:src="@{/assets/vendor/libs/typeahead-js/typeahead.js}"></script>

		<script th:src="@{/assets/vendor/js/menu.js}"></script>
		<!-- endbuild -->

		<!-- Vendors JS -->
		<script th:src="@{/assets/vendor/libs/select2/select2.js}"></script>
		<script
			th:src="@{/assets/vendor/libs/bootstrap-select/bootstrap-select.js}"></script>
		<script
			th:src="@{/assets/vendor/libs/datatables/jquery.dataTables.js}"></script>
		<script
			th:src="@{/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js}"></script>
		<script
			th:src="@{/assets/vendor/libs/datatables-responsive/datatables.responsive.js}"></script>
		<script
			th:src="@{/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.js}"></script>
		<script
			th:src="@{/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.js}"></script>
		<script
			th:src="@{/assets/vendor/libs/datatables-buttons/datatables-buttons.js}"></script>
		<script
			th:src="@{/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.js}"></script>
		<script th:src="@{/assets/vendor/libs/jszip/jszip.js}"></script>
		<script th:src="@{/assets/vendor/libs/pdfmake/pdfmake.js}"></script>
		<script
			th:src="@{/assets/vendor/libs/datatables-buttons/buttons.html5.js}"></script>
		<script
			th:src="@{/assets/vendor/libs/datatables-buttons/buttons.print.js}"></script>
		<!-- Flat Picker -->
		<script th:src="@{/assets/vendor/libs/moment/moment.js}"></script>
		<script th:src="@{/assets/vendor/libs/flatpickr/flatpickr.js}"></script>
		<script
			th:src="@{/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js}"></script>
		<script
			th:src="@{/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js}"></script>
		<script
			th:src="@{/assets/vendor/libs/jquery-timepicker/jquery-timepicker.js}"></script>
		<script th:src="@{/assets/vendor/libs/pickr/pickr.js}"></script>

		<!-- Row Group JS -->
		<script
			th:src="@{/assets/vendor/libs/datatables-rowgroup/datatables.rowgroup.js}"></script>
		<script
			th:src="@{/assets/vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.js}"></script>
		<script th:src="@{/assets/vendor/libs/sweetalert2/sweetalert2.js}"></script>
		<script th:src="@{/assets/vendor/libs/tagify/tagify.js}"></script>
		<!-- Form Validation -->
		<script
			th:src="@{/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js}"></script>
		<script
			th:src="@{/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js}"></script>
		<script
			th:src="@{/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js}"></script>

		<!-- Main JS -->
		<script th:src="@{/assets/js/main.js}"></script>

		<!-- Page JS -->
		<!-- <script th:src="@{/assets/js/tables-datatables-basic.js}"></script> -->
		<script th:src="@{/assets/js/form-validation.js}"></script>
		<script>
  //------------------------------------------------------------------------
    
    
    $(document).ready(function() {  
      		
    	});
  //------------------------------------------------------------------------
  
   
   
    </script>
</body>
</html>