<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="loading" lang="en"
	data-textdirection="ltr">

<!-- BEGIN: Head-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="ICC">
<title>Member Detailed Report With Family</title>
<link rel="apple-touch-icon"
	th:href="@{/app-assets/images/ico/apple-icon-120.png}">
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/app-assets/images/ico/favicon.ico}">
<link
	href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700"
	rel="stylesheet">

<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/vendors.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/tables/datatable/datatables.min.css}">
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/bootstrap.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/bootstrap-extended.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/colors.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/components.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/themes/dark-layout.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/themes/semi-dark-layout.css}">
<!-- END: Theme CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/core/menu/menu-types/vertical-menu.css}">
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/style.css}">
<!-- END: Custom CSS-->

<style type="text/css">
table {
	font-family: calibri;
	border-color: #004b93;
}

table td {
	font-family: calibri;
	padding: 5px;
	color: #104E8B;
	border-color: #004b93;
}

table thead th {
	background: #E0E0E0;
	font-weight: normal;
	color: #8B7E66;
}

.memberstyle {
	color: #CD2626;
	font-size: 20px;
	font-weight: bold;
}

.memberstyle1 {
	color: #CD2626;
	font-size: 18px;
	font-weight: bold;
}

.regulermemberNameColor {
	font-size: 18px;
	font-weight: bold;
}

.topmembertabletd {
	border-bottom-color: #fff;
}

.membertitle {
	font-family: calibri;
	font-weight: bold;
}

.fnameTable {
	width: 400px;
	min-width: 400px;
}

.fmemberno {
	
}

.fmembername {
	color: #CD2626;
	font-size: 16px;
	font-weight: bold;
}

.fmembersname {
	color: #000000;
	font-size: 17px;
}

.personalInfo td {
	font-family: calibri;
	padding: 5px;
	color: #104E8B;
	border-color: #DCDCDC;
}
</style>

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body style="background: #fff;">

	<hr />
		<a href="index"><input class="btn btn-primary" value=" << Back To Home" style="cursor: pointer; width: 200px;"/></a> 
	<hr />
	Report Preview (Booklet) :
	<!-- -->
	<div style="width: 100%; min-height: 300px;"
		th:if="${member.Title} !='' ">
		<div class="pc1" style="" align="center">
			<!---start------A4 page 595*842 ------------->

			<br />

			<table border="1px" width="98%" align="left" cellspacing='0px'
				style="font-size: 16px; margin-left: 10px; background: #fff;">
				<tr>
					<td align="Center" rowspan="3"
						style="max-width: 200px; width: 200px;"><img
						th:src="${member['ProfileImg']}"
						style="width: 100px; height: 100px;" /></td>

					<td style="min-width: 300px;"><span class="memberstyle">
							<br /> <span
							th:text="${member['First_Name']} + ' ' +${member['Last_Name']}">
						</span><br />
					</span> 
					
							
							<span th:if="${member.Rptaddresstype} == 'Home Address'">
									<span class="memberaddline1"
						th:if="${member['Member_Address_Line_1'] !=''}"><span
							th:text="${member.Member_Address_Line_1}"> Address Line
								1 </span></span> <span class="memberaddressLine2"
						th:if="${member['Member_Address_Line_2'] !=''}"><span
							th:text="${member['Member_Address_Line_2']}">Address Line
								2 </span><br /></span> <span class="membercityPincode"
						th:if="${member['Member_Address_City'] !=''}"><span
							th:text="${member['Member_Address_City']} + ' - ' + ${member['Member_Address_Postal_Code']}">City
								- Pincode </span><br /></span>
							</span>
							<span th:if="${member.Rptaddresstype} != 'Home Address'">
							
									<span class="memberaddline1"
						th:if="${member['Officer_Address_Line_1'] !=''}"><span
							th:text="${member['Officer_Address_Line_1']}"> Address Line
								1 </span></span> <span class="memberaddressLine2"
						th:if="${member['Officer_Address_Line_2'] !=''}"><span
							th:text="${member['Officer_Address_Line_2']}">Address Line
								2 </span><br /></span> <span class="membercityPincode"
						th:if="${member['Officer_Address_City'] !=''}"><span
							th:text="${member['Officer_Address_City']} + ' - ' + ${member['Officer_Address_Postal_Code']}">City
								- Pincode </span><br /></span>
							</span>
					 	
								
								<b> <span class="membermoboff_no"
							th:if="${member['Cell_Phone'] !=''}"> <i
								class="bx bx-phone-call"></i> &nbsp; 
								<span
										th:text="${member['Home_Phone']}">Mobile Number- Office
											Number</span>  | 
								<span
								th:text="${member['Cell_Phone']}">Mobile NUmber- Office
									Number</span> <br /></span>
					</b> <span class="memberemail" th:if="${member['Email'] !=''}">
							<i class="bx bx-mail-send" style="color: #CD2626;"></i> &nbsp; <span
							th:text="${member['Email']}">Email </span><br />
					</span> <span class="memberemail" th:if="${member['Spouse_Name'] !=''}">
							<i class="bx bxs-group" style="color: #CD2626;"></i> &nbsp; <span
							th:text="${member['Spouse_Name']}">Spouse_Name </span><br />
					</span> <br /></td>

					<td class="topmembertabletd"
						th:style="'background-color:' + @{${member['bgColorValue']}} +' ;min-width:200px;width:20%;'">
						<table
							style="width: 90%; margin-left: 5%; background: #fff; color: #000; margin-top: 5px;">
							<tr>
								<td class="memberstyle1">M.No</td>
								<td class="memberstyle1">:</td>
								<td class="memberstyle1"><span
									th:text="${member['MemberID']}"> </span></td>
							</tr>
							<tr>
								<td>DOB</td>
								<td>:</td>
								<td><span th:text="${member['Date_of_Birth']}"> </span></td>
							</tr>
							<tr>
								<td>WD</td>
								<td>:</td>
								<td><span th:text="${member['WeddingDate']}"> </span></td>
							</tr>
							<tr>
								<td style="color: #CD2626;"><i class="bx bxs-droplet"></i></td>
								<td>:</td>
								<td><span th:text="${member['Member_BloodGroup']}">
								</span></td>

							</tr>


						</table>

						<hr />
						<h6 class="membertitle" align="center"
							th:text="${member['Title']}"
							th:style="'background-color:' + @{${member['bgColorValue']}} +' ; color:' + @{${member['TextColorValue']}} +' ; width:100%;'">

						</h6>
					</td>
				</tr>

			</table>

			<span th:if="${member.Family_Unit=='Head of Household'}">
				<table border="1px" width="98%" align="left" cellspacing='0px'
					style="font-size: 16px; margin-left: 10px; background: #fff;">
					<tr>
						<td align="center"
							th:style="'background-color:' + @{${member['bgColorValue']}} +' ; color:' + @{${member['TextColorValue']}} +' ; width:100%;'">FAMILY
							MEMBERS</td>
					</tr>
					<tr>
						<td><span th:each="memberfamily : ${memberfamilyinfo}">

								<div style="float: left;">
									<table class="fnameTable">
													<tr>
														<td rowspan="4" style="min-width: 150px; width: 150px;"
															align="right"><img
															th:src="${memberfamily.ProfileImg}"
															style="width: 100px; height: 100px;" /></td>
													</tr>
													<tr>
														<td class="fmemberno">M.No. <span
															th:text="${memberfamily.MemberID}"></span></td>
													</tr>
													<tr>
														<td class="fmembername"><span
															th:text="${memberfamily['First_Name']} + ' ' +${memberfamily['Last_Name']}"></span></td>
													</tr>
													<tr>
														<td class="fmembersname"><span class="memberemail"
															th:if="${memberfamily['Email'] !=''}"> <i
																class="bx bx-mail-send"></i> &nbsp;&nbsp; &nbsp; : <span
																th:text="${memberfamily['Email']}">Email </span><br /></span> <span
															class="memberemail"
															th:if="${memberfamily['Date_of_Birth']}">DOB
																&nbsp;:&nbsp; <span th:text="${memberfamily['Date_of_Birth']}">Date_of_Birth
															</span>
														</span> <span class="memberemail"
															th:if="${memberfamily['WeddingDate']}"> W/D
																&nbsp;:&nbsp; <span th:text="${memberfamily['WeddingDate']}">WeddingDate
															</span>
														</span> <br /> <span th:if="${memberfamily['Member_BloodGroup']}">
																<i class="bx bxs-droplet"></i> &nbsp; <span
																th:text="${memberfamily['Member_BloodGroup']}">Member_BloodGroup
															</span>
														</span> <span class="memberemail"
															th:if="${memberfamily['Spouse_Name'] !=''}"> <i
																class="bx bxs-group"></i>  &nbsp;&nbsp; &nbsp;: <span
																th:text="${memberfamily['Spouse_Name']}">Spouse_Name </span>
														</span> <br /></td>

													</tr>

												</table>

								</div>

						</span></td>
					</tr>
				</table>

			</span>


		</div>
	</div>

	<div align="center" width="100%" style="margin-left: 15px;"
		th:if="${member.Title} =='' ">



		<table border="1px" width="49%" cellspacing='0px'
			style="font-size: 16px; float: left; min-height: 230px; background: #fff;">

			<tr>
				<td class="regulermemberNameColor" colspan="2"
					th:style="'background-color:' + @{${member['bgColorValue']}} +'; color:' + @{${member['TextColorValue']}} +' ;min-width:150px;height: 30px;'"><span
					th:text="${member['First_Name']} + ' ' +${member['Last_Name']}">
				</span></td>
			</tr>
			<tr>

				<td style="min-width: 300px;"><span class="memberName">
						<span th:if="${member.Rptaddresstype} == 'Home Address'">
									<span class="memberaddline1"
						th:if="${member['Member_Address_Line_1'] !=''}"><span
							th:text="${member.Member_Address_Line_1}"> Address Line
								1 </span></span> <span class="memberaddressLine2"
						th:if="${member['Member_Address_Line_2'] !=''}"><span
							th:text="${member['Member_Address_Line_2']}">Address Line
								2 </span><br /></span> <span class="membercityPincode"
						th:if="${member['Member_Address_City'] !=''}"><span
							th:text="${member['Member_Address_City']} + ' - ' + ${member['Member_Address_Postal_Code']}">City
								- Pincode </span><br /></span>
							</span>
							<span th:if="${member.Rptaddresstype} != 'Home Address'">
							
									<span class="memberaddline1"
						th:if="${member['Officer_Address_Line_1'] !=''}"><span
							th:text="${member['Officer_Address_Line_1']}"> Address Line
								1 </span></span> <span class="memberaddressLine2"
						th:if="${member['Officer_Address_Line_2'] !=''}"><span
							th:text="${member['Officer_Address_Line_2']}">Address Line
								2 </span><br /></span> <span class="membercityPincode"
						th:if="${member['Officer_Address_City'] !=''}"><span
							th:text="${member['Officer_Address_City']} + ' - ' + ${member['Officer_Address_Postal_Code']}">City
								- Pincode </span><br /></span>
							</span>
							
							 <span class="memberemail"
						th:if="${member['Email'] !=''}"> <i class="bx bx-mail-send"></i>
							&nbsp; <span th:text="${member['Email']}">Email </span><br /></span> <span
						class="memberemail" th:if="${member['Date_of_Birth'] !=''}">D/B
							&nbsp;:&nbsp; <span th:text="${member['Date_of_Birth']}">Date_of_Birth
						</span>
					</span> <span class="memberemail" th:if="${member['WeddingDate'] !=''}">
							W/D &nbsp;:&nbsp; <span th:text="${member['WeddingDate']}">WeddingDate
						</span>
					</span> <br /> <span th:if="${member['Member_BloodGroup'] !=''}">
							<i class="bx bxs-droplet"></i> &nbsp; <span
							th:text="${member['Member_BloodGroup']}">Member_BloodGroup
						</span>
					</span> <span class="memberemail" th:if="${member['Spouse_Name'] !=''}">
							<i class="bx bxs-group"></i> &nbsp; <span
							th:text="${member['Spouse_Name']}">Spouse_Name </span>
					</span> <br /></td>

				<td width="40%" style="min-width: 150px;">
					<table
						style="width: 90%; margin-left: 5%; background: #fff; color: #000; margin-top: 5px;">
						<tr>
							<td align="center">M.No : <span
								th:text="${member['MemberID']}"> </span></td>
						</tr>
						<td align="Center" width="200px"><img
							th:src="${member['ProfileImg']}"
							style="width: 100px; height: 100px;" /></td>

						<tr>
							<td align="center"><span class="membermoboff_no"
								th:if="${member['Cell_Phone'] !=''}"> <i
									class="bx bx-phone-call"></i> &nbsp; 
									<span
										th:text="${member['Home_Phone']}">Mobile Number- Office
											Number</span>  | 
									<span
									th:text="${member['Cell_Phone']}">Mobile Number- Office
										Number</span> <br /></span></td>
						</tr>


					</table>


				</td>
			</tr>
		</table>





	</div>
	<!---End------A4 page 595*842 ------------->


	<div style="width: 100%; min-width: 500px;">
		<p style="margin-top: 250px;">
		<hr />
		<hr />
		Other Information Preview :
		</p>


		<table border="1px" width="58%" align="center" cellspacing='0px'
			class="personalInfo">
			<tr>
				<td colspan="3" align="center"
					th:style="'background-color:' + @{${member['bgColorValue']}} +' ; color:' + @{${member['TextColorValue']}} +' ; width:100%;'">Gena
					Information</td>
			</tr>
			<tr>
			<tr>
				<td>Multiple District Name</td>
				<td>:</td>
				<td th:text="${member.Multiple_District_Name}"></td>
			</tr>
			<tr>
				<td>District Name</td>
				<td>:</td>
				<td th:text="${member.District_Name}"></td>
			</tr>
			<tr>
				<td>Region Name</td>
				<td>:</td>
				<td th:text="${member.Region_Name}"></td>
			</tr>
			<tr>
				<td>Zone Name</td>
				<td>:</td>
				<td th:text="${member.Zone_Name}"></td>
			</tr>
			<tr>
				<td>Title</td>
				<td>:</td>
				<td th:text="${member.Title}"></td>
			</tr>
			<tr>
				<td>Club ID</td>
				<td>:</td>
				<td th:text="${member.Club_ID}"></td>
			</tr>
			<tr>
				<td>Club Name</td>
				<td>:</td>
				<td th:text="${member.Club_Name}"></td>
			</tr>
			<tr>
				<td>MemberID</td>
				<td>:</td>
				<td th:text="${member.MemberID}"></td>
			</tr>
			<tr>
				<td>Prefix</td>
				<td>:</td>
				<td th:text="${member.Prefix}"></td>
			</tr>
			<tr>
				<td>First Name</td>
				<td>:</td>
				<td th:text="${member.First_Name}"></td>
			</tr>
			<tr>
				<td>Middle Name</td>
				<td>:</td>
				<td th:text="${member.Middle_Name}"></td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td>:</td>
				<td th:text="${member.Last_Name}"></td>
			</tr>
			<tr>
				<td>Suffix</td>
				<td>:</td>
				<td th:text="${member.Suffix}"></td>
			</tr>
			<tr>
				<td>Invalid Member Address Flag</td>
				<td>:</td>
				<td th:text="${member.Invalid_Member_Address_Flag}"></td>
			</tr>
			<tr>
				<td>Member Address Line 1</td>
				<td>:</td>
				<td th:text="${member.Member_Address_Line_1}"></td>
			</tr>
			<tr>
				<td>Member Address Line 2</td>
				<td>:</td>
				<td th:text="${member.Member_Address_Line_2}"></td>
			</tr>
			<tr>
				<td>Member Address Line 3</td>
				<td>:</td>
				<td th:text="${member.Member_Address_Line_3}"></td>
			</tr>
			<tr>
				<td>Member Address Line 4</td>
				<td>:</td>
				<td th:text="${member.Member_Address_Line_4}"></td>
			</tr>
			<tr>
				<td>Member Address City</td>
				<td>:</td>
				<td th:text="${member.Member_Address_City}"></td>
			</tr>
			<tr>
				<td>Member Address State</td>
				<td>:</td>
				<td th:text="${member.Member_Address_State}"></td>
			</tr>
			<tr>
				<td>Member Address Postal Code</td>
				<td>:</td>
				<td th:text="${member.Member_Address_Postal_Code}"></td>
			</tr>
			<tr>
				<td>Member Address Country</td>
				<td>:</td>
				<td th:text="${member.Member_Address_Country}"></td>
			</tr>
			<tr>
				<td>Invalid Officer Address Flag</td>
				<td>:</td>
				<td th:text="${member.Invalid_Officer_Address_Flag}"></td>
			</tr>
			<tr>
				<td>Officer Address Line 1</td>
				<td>:</td>
				<td th:text="${member.Officer_Address_Line_1}"></td>
			</tr>
			<tr>
				<td>Officer Address Line 2</td>
				<td>:</td>
				<td th:text="${member.Officer_Address_Line_2}"></td>
			</tr>
			<tr>
				<td>Officer Address Line 3</td>
				<td>:</td>
				<td th:text="${member.Officer_Address_Line_3}"></td>
			</tr>
			<tr>
				<td>Officer Address Line 4</td>
				<td>:</td>
				<td th:text="${member.Officer_Address_Line_4}"></td>
			</tr>
			<tr>
				<td>Officer Address City</td>
				<td>:</td>
				<td th:text="${member.Officer_Address_City}"></td>
			</tr>
			<tr>
				<td>Officer Address State</td>
				<td>:</td>
				<td th:text="${member.Officer_Address_State}"></td>
			</tr>
			<tr>
				<td>Officer Address Postal Code</td>
				<td>:</td>
				<td th:text="${member.Officer_Address_Postal_Code}"></td>
			</tr>
			<tr>
				<td>Officer Address Country</td>
				<td>:</td>
				<td th:text="${member.Officer_Address_Country}"></td>
			</tr>
			<tr>
				<td>Email</td>
				<td>:</td>
				<td th:text="${member.Email}"></td>
			</tr>
			<tr>
				<td>Home Phone</td>
				<td>:</td>
				<td th:text="${member.Home_Phone}"></td>
			</tr>
			<tr>
				<td>Cell Phone</td>
				<td>:</td>
				<td th:text="${member.Cell_Phone}"></td>
			</tr>
			<tr>
				<td>Fax Number</td>
				<td>:</td>
				<td th:text="${member.Fax_Number}"></td>
			</tr>
			<tr>
				<td>Work Phone</td>
				<td>:</td>
				<td th:text="${member.Work_Phone}"></td>
			</tr>
			<tr>
				<td>Spouse Name</td>
				<td>:</td>
				<td th:text="${member.Spouse_Name}"></td>
			</tr>
			<tr>
				<td>Membership Type</td>
				<td>:</td>
				<td th:text="${member.Membership_Type}"></td>
			</tr>
			<tr>
				<td>Date of Birth</td>
				<td>:</td>
				<td th:text="${member.Date_of_Birth}"></td>
			</tr>
			<tr>
				<td>Gender</td>
				<td>:</td>
				<td th:text="${member.Gender}"></td>
			</tr>
			<tr>
				<td>Nick Name</td>
				<td>:</td>
				<td th:text="${member.Nick_Name}"></td>
			</tr>
			<tr>
				<td>Occupation</td>
				<td>:</td>
				<td th:text="${member.Occupation}"></td>
			</tr>
			<tr>
				<td>Join Date</td>
				<td>:</td>
				<td th:text="${member.Join_Date}"></td>
			</tr>
			<tr>
				<td>Life Member</td>
				<td>:</td>
				<td th:text="${member.Life_Member}"></td>
			</tr>
			<tr>
				<td>Family Unit</td>
				<td>:</td>
				<td th:text="${member.Family_Unit}"></td>
			</tr>
			<tr>
				<td>Sponsor Name</td>
				<td>:</td>
				<td th:text="${member.Sponsor_Name}"></td>
			</tr>
			<tr>
				<td>Club Branch Name</td>
				<td>:</td>
				<td th:text="${member.Club_Branch_Name}"></td>
			</tr>
			<tr>
				<td>International Discount</td>
				<td>:</td>
				<td th:text="${member.International_Discount}"></td>
			</tr>
			<tr>
				<td>International Discount Reason</td>
				<td>:</td>
				<td th:text="${member.International_Discount_Reason}"></td>
			</tr>
			<tr>
				<td>Member Designation</td>
				<td>:</td>
				<td th:text="${member.Designation}"></td>
			</tr>
			<tr>
				<td>Member BloodGroup</td>
				<td>:</td>
				<td th:text="${member.Member_BloodGroup}"></td>
			</tr>
			<tr>
				<td>Wedding Date</td>
				<td>:</td>
				<td th:text="${member.WeddingDate}"></td>
			</tr>
			<tr>
				<td>Spouse DOB</td>
				<td>:</td>
				<td th:text="${member.Spouse_DOB}"></td>
			</tr>
			<tr>
				<td>Spouse BloodGroup</td>
				<td>:</td>
				<td th:text="${member.Spouse_BloodGroup}"></td>
			</tr>

			<tr>
				<td>No.of Sons</td>
				<td>:</td>
				<td th:text="${member.NoofSon}"></td>
			</tr>
			
			<tr>
				<td>No.of Daughter </td>
				<td>:</td>
				<td th:text="${member.NoofDaughter}"></td>
			</tr>
			<tr>
				<td>Business Link </td>
				<td>:</td>
				<td th:text="${member.BusinessLink}"></td>
			</tr>
		</table>

	</div>

	<br />
	<br />
	<br />
	<br />
	<br />&nbsp;



</body>
<!-- END: Body-->

</html>