<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="loading" lang="en"
	data-textdirection="ltr">

<!-- BEGIN: Head-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="ICC">
<title>Member Detailed Report</title>
<link rel="apple-touch-icon"
	th:href="@{/app-assets/images/ico/apple-icon-120.png}">
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/app-assets/images/ico/favicon.ico}">
<link
	href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700"
	rel="stylesheet">

<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/vendors.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/tables/datatable/datatables.min.css}">
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/bootstrap.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/bootstrap-extended.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/colors.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/components.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/themes/dark-layout.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/themes/semi-dark-layout.css}">
<!-- END: Theme CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/core/menu/menu-types/vertical-menu.css}">
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/style.css}">
<!-- END: Custom CSS-->

 <style type="text/css">
    
    table
    {
    	font-family: calibri;
    	border-color: #004b93;
    	
    }
    table td
    {
    	font-family: calibri;
    	padding: 5px;
    	color: #104E8B;    	
    	border: none;
    	
    }
    table thead th {
    
    background: #CD5B45;
    font-weight: normal;
    color: #8B7E66;
    	
    }
    .memberstyle
    {
    	color:#CD2626;
    	font-size: 18px;
    	font-weight: bold;
    }
    .memberstyle1
    {
    	color:#CD2626;
    	font-size: 14px;
    	font-weight: bold;
    }
    .regulermemberNameColor
    {
    	font-size: 14px;
    	font-weight: bold;
    	
    }
    .topmembertabletd
    {
    	border-bottom-color: #fff;
    }
    .membertitle
    {
    	font-family: calibri;
    	font-weight: bold;
    }
    </style>
    
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body style="background: #EDEDED;">

	
	<div align="center" style="margin-left: 15px;">
<br/><br/>
		<span th:each="member : ${ReportAllmemberdetails}">

			<table border="1px" width="33%" cellspacing='0px'
				style="font-size: 16px; float: left; min-height: 310px;background: #fff;">

				<tr>
					<td class="regulermemberNameColor" colspan="2" th:style="'background-color:' + @{${member['bgColorValue']}} +'; color:' + @{${member['TextColorValue']}} +' ;min-width:150px;height: 30px;'"><span
						th:text="${member['First_Name']} + ' ' +${member['Last_Name']}">
					</span></td>
				</tr>
				<tr>
					<td width="40%"
						style="min-width:100px;">
						<table
							style="width: 90%; background: #fff; color: #000; margin-top:0px;">
							<tr>
								<td align="left" style="font-size:14px;">M.No : <span th:text="${member['MemberID']}"> </span></td>
							</tr>
							<tr>
							<td align="left" width="200px"><img
						th:src="${member['ProfileImg']}"
						style="width: 100px; height: 100px;" /></td>
							</tr>
							
						</table>


					</td>

					<td style="min-width: 300px;"><span class="memberName">
					<br/>
					
					<span th:if="${member.Rptaddresstype} == 'Home Address'">
									<span class="memberaddline1"
						th:if="${member['Member_Address_Line_1'] !=''}"><span
							th:text="${member.Member_Address_Line_1}"> Address Line
								1 </span></span> <span class="memberaddressLine2"
						th:if="${member['Member_Address_Line_2'] !=''}"><span
							th:text="${member['Member_Address_Line_2']}">Address Line
								2 </span><br /></span> <span class="membercityPincode"
						th:if="${member['Member_Address_City'] !=''}"><span
							th:text="${member['Member_Address_City']} + ' - ' + ${member['Member_Address_Postal_Code']}">City
								- Pincode </span><br /></span>
							</span>
							<span th:if="${member.Rptaddresstype} != 'Home Address'">
							
									<span class="memberaddline1"
						th:if="${member['Officer_Address_Line_1'] !=''}"><span
							th:text="${member['Officer_Address_Line_1']}"> Address Line
								1 </span></span> <span class="memberaddressLine2"
						th:if="${member['Officer_Address_Line_2'] !=''}"><span
							th:text="${member['Officer_Address_Line_2']}">Address Line
								2 </span><br /></span> <span class="membercityPincode"
						th:if="${member['Officer_Address_City'] !=''}"><span
							th:text="${member['Officer_Address_City']} + ' - ' + ${member['Officer_Address_Postal_Code']}">City
								- Pincode </span><br /></span>
							</span>
					 
					 
					<span class="membermoboff_no"
									th:if="${member['Occupation'] !=''}"> 
										Profession &nbsp;:
										 <span
										th:text="${member['Occupation']}">Occupation</span> <br /></span>

					<span class="membermoboff_no">
									 <i
										class="bx bx-phone-call"></i> &nbsp;
										 <span
										th:text="${member['Cell_Phone']}">Mobile Number- Office
											Number</span> 
											
									<span th:if="${member['Work_Phone'] !=''}"> | 		
										<span
										th:text=" ${member['Work_Phone']}" >Office
											Number</span>
									</span>
											 <br /></span>
					
								</td>
								
								

					
				</tr>
				<tr>
					<td colspan="2">
						<span class="memberemail"
							th:if="${member['Email'] !=''}"> <i
								class="bx bx-mail-send"></i> &nbsp; <span
								th:text="${member['Email']}">Email </span><br /></span>
					</td>
				</tr>
				
				<tr>
					<td colspan="2">
						<table style="width:100%;">
							<tr>
								<td width="50%"> <span
							class="memberemail" th:if="${member['Date_of_Birth'] !=''}" >DB
							&nbsp;:&nbsp; <span th:text="${member['Date_of_Birth']}">Date_of_Birth
							</span>
						</span> 
							</td><td>
						<span class="memberemail" th:if="${member['WeddingDate'] !=''}">
								WD&nbsp;:&nbsp; <span th:text="${member['WeddingDate']}">WeddingDate
							</span>
						</span> 
							</td>
							</tr>
							<tr>
								<td><span class="memberemail" th:if="${member['Spouse_Name'] !=''}">
								<i class="bx bxs-group"></i> &nbsp;:&nbsp; <span
								th:text="${member['Spouse_Name']}">Spouse_Name </span>
						</span></td>
								<td>
								<span
							th:if="${member['Member_BloodGroup'] !=''}"> <i
								class="bx bxs-droplet"></i>  &nbsp;:&nbsp; <span
								th:text="${member['Member_BloodGroup']}">Member_BloodGroup
							</span></span>
								</td>
							</tr>	
											
						
						</table>
							
							
						 
					</td>
				</tr>
			</table>


		</span>



	</div>
	<!---End------A4 page 595*842 ------------->






</body>
<!-- END: Body-->

</html>