<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org" 
  lang="en"
  class="light-style layout-navbar-fixed layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  th:data-assets-path="@{/assets/}"
  data-template="vertical-menu-template"
  
>
<!-- BEGIN: Head-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="ICC">
<title>Leave Request</title>
<link rel="apple-touch-icon"
	th:href="@{/app-assets/images/ico/apple-icon-120.png}">
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/app-assets/images/ico/favicon.ico}">
<link
	href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700"
	rel="stylesheet}">
<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/vendors.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/tables/datatable/datatables.min.css}">
	
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/charts/apexcharts.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/extensions/dragula.min.css}">
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/bootstrap.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/bootstrap-extended.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/colors.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/components.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/themes/dark-layout.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/themes/semi-dark-layout.css}">
<!-- END: Theme CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/core/menu/menu-types/vertical-menu.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/pages/dashboard-analytics.css}">
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
<!-- END: Custom CSS-->
<style>
	.card-text
	{
		background: #E5E5E5;
		padding:5px;
		color:#000;
	}
	.halfday
	{
		color:red
	}
</style>

<body
	class="vertical-layout vertical-menu-modern boxicon-layout no-card-shadow 2-columns  navbar-sticky footer-static  "
	data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

		<!-- BEGIN: Header-->
		 <div th:insert="header">  </div>
		<!-- END: Header-->


		<!-- BEGIN: Main Menu-->
		<div th:insert="menu">  </div>
		<!-- END: Main Menu-->

			<!-- BEGIN: Content-->
				<!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h5 class="content-header-title pr-1 mb-0">Leave Approve/Reject</h5>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
              	<form 
											method="POST" class="wizard-horizontal"
											enctype="multipart/form-data">
	                <!-- Basic Vertical form layout section start -->
	                <section id="basic-vertical-layouts">
	                    <div class="row match-height">
	                        <div class="col-12">
	                            <div class="card">
	                                <div class="card-content">
	                                    <div class="card-body">
	                                        
	                                        <div th:if="${save}" class="form-group col-12">
												<button type="button" class="btn mb-1 btn-success btn-lg btn-block">
												<span th:text="${leavemaster.status}"></span> - Status updated successfully
												</button>
											</div>
							            
	                                        <form   th:unless="${save}" th:action="@{/leavemaster}" th:object="${leavemaster}" method="POST" class="form form-vertical"
											enctype="multipart/form-data">
	                                            <div class="form-body">
	                                                <div class="row">
	                                                    <div class="col-md-6">
	                                                        <div class="form-group">
	                                                            <label for="first-name-icon">Employee</label>
	                                                            <div class="position-relative has-icon-left">
	                                                                <input type="hidden" th:field="*{id}" />
	                                                                <input type="hidden"  th:field="*{empid}"   />
	                                                                <input type="hidden"  th:field="*{fromadate}"   />
																	<input type="hidden"  th:field="*{todate}" />
																	<input type="hidden"  th:field="*{leavetype}" />
																	<input type="hidden"  th:field="*{halfday}" />
																	<input type="hidden"  th:field="*{permissionstarttime}" />
																	<input type="hidden"  th:field="*{permissionendtime}" />
																	<input type="hidden"  th:field="*{notes}" />
	                                                                
	                                                                <div class="table-responsive">
									                                    <table class="table table-bordered mb-0">
									                                        
									                                        <tbody>
									                                            <tr>
									                                                <td class="text-bold-500">Employee Name</td>
									                                                <td th:text="${emmap.StaffName}" ></td>
									                                            </tr>
									                                            <tr>
									                                                <td class="text-bold-500">From Date</td>
									                                                <td th:text="${leavemaster.fromadate}" ></td>
									                                            </tr>
									                                            <tr>
									                                                <td class="text-bold-500">To Date</td>
									                                                <td th:text="${leavemaster.todate}" ></td>
									                                            </tr>
									                                            <tr>
									                                                <td class="text-bold-500">Leave Type</td>
									                                                <td th:text="${leavemaster.leavetype}" ></td>
									                                            </tr>
									                                            <tr>
									                                                <td class="text-bold-500">HalfDay</td>
									                                                <td th:text="${leavemaster.halfday} ? 'Yes' : 'No'" ></td>
									                                            </tr>
									                                            <tr>
									                                                <td class="text-bold-500">Permission Start Time</td>
									                                                <td th:text="${leavemaster.permissionstarttime}" ></td>
									                                            </tr>
									                                            <tr>
									                                                <td class="text-bold-500">Permission End Time</td>
									                                                <td th:text="${leavemaster.permissionendtime}" ></td>
									                                            </tr>
									                                            <tr>
									                                                <td class="text-bold-500">Note</td>
									                                                <td th:text="${leavemaster.notes}" ></td>
									                                            </tr>
									                                           
									                                        </tbody>
									                                    </table>
									                                </div>
									                                
									                                
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                   <div class="col-md-6"></div>
	                                                   <div class="col-md-6">
	                                                   <hr/>
	                                                        <div class="form-group">
	                                                            <label for="first-name-icon">Status</label>
	                                                            <div class="position-relative has-icon-left">
	                                                                <select class="form-control"  th:field="*{status}" >
	                                                                	<option value="Approved">Approve</option>
	                                                                	<option value="Rejected">Reject</option>
	                                                                	<option value="Pending">Pending</option>
	                                                                </select>
	                                                                <div class="form-control-position">
	                                                                    <i class="bx bx-grid-alt"></i>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                    </div> 
	                                                    <div class="col-md-6"></div>
	                                                   <div class="col-md-6">
	                                                   
	                                                        <div class="form-group">
	                                                            <label for="first-name-icon">Comments</label>
	                                                            <div class="position-relative has-icon-left">
	                                                                <input type="text"  class="form-control"  th:field="*{approvercomments}" />
	                                                                
	                                                                <div class="form-control-position">
	                                                                    <i class="bx bx-grid-alt"></i>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                    </div> 
	                                                    
	                                                    <div class="col-md-12"></div>
	                                                    <div class="col-6">
	                                                    	    
	                                                        <button type="submit" class="btn btn-warning mr-1 mb-1">Update</button>
	                                                        
	                                                    </div>
	                                                    
	                                                </div>
	                                            </div>
	                                        </form>
	                                    
	                                    
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </section>
	                <!-- // Basic Vertical form layout section end -->
				</form>

            </div>
        </div>
    </div>
			<!-- END: Content-->


		
		<div class="sidenav-overlay"></div>
		<div class="drag-target"></div>

		<!-- BEGIN: Footer-->
		<footer class="footer footer-static footer-light">
		<p class="clearfix mb-0">
			<span class="float-left d-inline-block"></span><span
				class="float-right d-sm-inline-block d-none"></span>
			<button class="btn btn-primary btn-icon scroll-top" type="button">
				<i class="bx bx-up-arrow-alt"></i>
			</button>
		</p>
		</footer>
		<!-- END: Footer-->


		<!-- BEGIN: Vendor JS-->
		<script th:src="@{/app-assets/vendors/js/vendors.min.js}"></script>
		<script
			th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js}"></script>
		<script
			th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js}"></script>
		<script
			th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js}"></script>
		<!-- BEGIN Vendor JS-->

		<!-- BEGIN: Page Vendor JS-->
		<script th:src="@{app-assets/vendors/js/tables/datatable/datatables.min.js}"></script>
    	<script th:src="@{app-assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js}"></script>
    	<script th:src="@{app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js}"></script>
    	<script th:src="@{app-assets/vendors/js/tables/datatable/buttons.html5.min.js}"></script>
    	<script th:src="@{app-assets/vendors/js/tables/datatable/buttons.print.min.js}"></script>
    	<script th:src="@{app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js}"></script>
    	<script th:src="@{app-assets/vendors/js/tables/datatable/pdfmake.min.js}"></script>
    	<script th:src="@{app-assets/vendors/js/tables/datatable/vfs_fonts.js}"></script>
    	
		<script th:src="@{/app-assets/vendors/js/charts/apexcharts.min.js}"></script>
		<script th:src="@{/app-assets/vendors/js/extensions/dragula.min.js}"></script>
		<!-- END: Page Vendor JS-->

		<!-- BEGIN: Theme JS-->
		<script th:src="@{/app-assets/js/core/app-menu.js}"></script>
		<script th:src="@{/app-assets/js/core/app.js}"></script>
		<script th:src="@{/app-assets/js/scripts/components.js}"></script>
		<script th:src="@{/app-assets/js/scripts/footer.js}"></script>
		<!-- END: Theme JS-->

		<!-- BEGIN: Page JS-->
		
		<script
			th:src="@{/app-assets/js/scripts/pages/dashboard-analytics.js}"></script>
			<script th:src="@{/app-assets/js/scripts/datatables/datatable.js}"></script>
		<!-- END: Page JS-->
</body>
<!-- END: Body-->

</html>




